.fg-simple_portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
}
.fg-simple_portfolio .fg-item {
    position: relative;
    flex: 1;
    margin: 10px;
    min-width: 250px;
    max-width: 250px;
}
.fg-simple_portfolio .fg-item-inner {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
}
.fg-simple_portfolio.fg-captions-top .fg-item-inner {
    flex-direction: column-reverse;
}
.fg-simple_portfolio .fg-image {
    height: auto;
    width: 100%;
}

/* Some badly written themes apply min-width:0 and min-height:0 to every element in the page which causes layout issues with flex. */
.fg-simple_portfolio .fg-thumb {
    min-width: auto;
    min-height: auto;
}

/* Reset captions for the portfolio */
.foogallery.fg-simple_portfolio .fg-item-inner .fg-caption {
    visibility: visible;
    opacity: 1;
    font-size: 13px;
    position: relative;
    display: block;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    width: 100%;
    height: 100%;
    text-transform: none;
    transform: none;
    transition: none;
    background-color: transparent;
    border-style: solid;
    border-color: transparent;
}
.foogallery.fg-simple_portfolio .fg-item-inner:hover .fg-caption {
    transform: none;
    transition: none;
}
.foogallery.fg-simple_portfolio .fg-item-inner .fg-caption-inner {
    display: block;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    width: auto;
    height: auto;
    border: none;
    transform: none;
    transition: none;
}
.foogallery.fg-simple_portfolio .fg-item-inner .fg-caption-inner:before {
    display: none;
}
.foogallery.fg-simple_portfolio.fg-caption-hover .fg-item-inner .fg-image-overlay {
    display: block;
}
.foogallery.fg-simple_portfolio.fg-caption-always .fg-item-inner:hover .fg-caption {
    visibility: visible;
    opacity: 1;
}

.fg-simple_portfolio .fg-caption-title {
    text-align: left;
}
.fg-simple_portfolio .fg-caption-desc {
    text-align: left;
}
.fg-simple_portfolio.fg-light .fg-caption,
.fg-simple_portfolio.fg-dark .fg-caption {
    color: #828282;
}
.fg-simple_portfolio.fg-light .fg-caption a,
.fg-simple_portfolio.fg-dark .fg-caption a {
    color: #828282;
    border-bottom: 1px solid #828282;
}
.fg-simple_portfolio.fg-light .fg-caption a:hover,
.fg-simple_portfolio.fg-dark .fg-caption a:hover {
    border-bottom: none;
}
.fg-simple_portfolio.fg-light .fg-caption-title,
.fg-simple_portfolio.fg-light .fg-caption-title a {
    color: #222;
}
.fg-simple_portfolio.fg-dark .fg-caption-title,
.fg-simple_portfolio.fg-dark .fg-caption-title a {
    color: #FFF;
}
.fg-simple_portfolio.fg-light .fg-caption-title a {
    border-bottom: 1px solid #222;
}
.fg-simple_portfolio.fg-dark .fg-caption-title a {
    border-bottom: 1px solid #FFF;
}

/* Handle Border Sizing */
.fg-simple_portfolio .fg-caption {
    border-width: 0;
}
.fg-simple_portfolio .fg-caption-title+.fg-caption-desc {
    margin-top: 4px;
}
.fg-simple_portfolio.fg-border-thin .fg-caption {
    border-width: 10px 4px 4px 4px;
}
.fg-simple_portfolio.fg-captions-top.fg-border-thin .fg-caption {
    border-width: 4px 4px 10px 4px;
}
.fg-simple_portfolio.fg-border-medium .fg-caption {
    border-width: 10px 0 0 0;
}
.fg-simple_portfolio.fg-captions-top.fg-border-medium .fg-caption {
    border-width: 0 0 10px 0;
}
.fg-simple_portfolio.fg-border-thick .fg-caption {
    border-width: 16px 0 0 0;
}
.fg-simple_portfolio.fg-captions-top.fg-border-thick .fg-caption {
    border-width: 0 0 16px 0;
}
.fg-simple_portfolio.fg-border-thick .fg-caption-title+.fg-caption-desc {
    margin-top: 10px;
}

