/* Caption Styles */
.foogallery .fg-caption {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	z-index: 8;
	width: 100%;
	max-height: 100%;
	overflow: hidden;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.3;
	border: none;
	text-align: center;
	cursor: pointer;
	margin: 0;
}
.foogallery .fg-caption a {
	text-decoration: none;
}

.foogallery .fg-caption a:hover {
	border-bottom: none;
}

.foogallery .fg-caption-title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 16px;
	font-weight: 400;
	padding: 0;
	margin: 0.4em;
	height: 1.3em;
	min-height: 1.3em;
	line-height: 1.3em;
}
.foogallery .fg-caption-desc {
	padding: 0;
	margin: 0.4em;
	overflow: hidden;
	height: 100%;
	max-height: 100%;
}
.foogallery .fg-caption-title+.fg-caption-desc {
	margin-top: 0;
}

.foogallery .fg-caption-buttons {
	display: flex;
	position: relative;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 5px;
	margin: 0;
}

.foogallery .fg-caption-buttons > a {
	display: inline-block;
	position: relative;
	padding: 0.4em 0.8em;
	margin: 1px;
	max-width: 100%;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	background-image: none;
	text-decoration: none!important;
	border: 1px solid transparent;
	border-radius: 4px;
	box-shadow: none;
	outline: none;
	opacity: 1;
	transition-timing-function: ease-out;
	transition-duration: 0.3s;
	transition-property: color, opacity, border-color, background-color;
}

@media only screen and (max-width: 600px) {
	.foogallery .fg-caption-buttons {
		align-items: stretch;
	}
	.foogallery .fg-caption-buttons > a {
		flex: 1;
	}
}

/* Light */
.foogallery .fg-caption .fg-caption-buttons > a {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}
.foogallery .fg-caption .fg-caption-buttons > a:not(.fg-disabled):hover {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
	border-bottom: solid 1px;
}
.foogallery .fg-caption .fg-caption-buttons > a.fg-disabled {
	color: #9d9d9d;
}
.foogallery .fg-caption .fg-caption-buttons > a.fg-disabled:hover {
	border-bottom: solid 1px;
}

/* Dark */
.foogallery.fg-light-overlays .fg-caption .fg-caption-buttons > a {
	color: #FFF;
	background-color: #444;
	border-color: #333;
}
.foogallery.fg-light-overlays .fg-caption .fg-caption-buttons > a:not(.fg-disabled):hover {
	color: #9d9d9d;
	background-color: #333;
	border-color: #222;
}
.foogallery.fg-light-overlays .fg-caption .fg-caption-buttons > a.fg-disabled {
	color: #9d9d9d;
}
.foogallery.fg-light-overlays .fg-caption .fg-caption-buttons > a.fg-disabled:hover {
	border-bottom: solid 1px;
}

/* Always */
.foogallery.fg-caption-always .fg-item .fg-caption .fg-caption-inner:before {
	display: none;
}
.foogallery.fg-caption-always .fg-item.fg-loaded .fg-caption {
	left: 0;
	bottom: 0;
	transition-timing-function: ease;
	transition-duration: 300ms;
	transition-property: visibility, opacity;
	visibility: visible;
	opacity: 1;
}
.foogallery.fg-caption-always .fg-caption {
	text-align: left;
}

/* On Hover */
.foogallery.fg-caption-hover .fg-caption .fg-caption-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-height: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	padding: 0.4em;
}
.foogallery.fg-caption-hover .fg-item.fg-loaded .fg-image-overlay {
	display: none;
}

/* Alignment */
.foogallery.fg-c-l .fg-caption,
.foogallery.fg-caption-always.fg-c-l .fg-caption {
	text-align: left;
}
.foogallery.fg-c-c .fg-caption,
.foogallery.fg-caption-always.fg-c-c .fg-caption {
	text-align: center;
}
.foogallery.fg-c-r .fg-caption,
.foogallery.fg-caption-always.fg-c-r .fg-caption {
	text-align: right;
}
.foogallery.fg-c-j .fg-caption,
.foogallery.fg-caption-always.fg-c-j .fg-caption {
	text-align: justify;
}