/* Caption Styles */
.foogallery {
	--fg-title-line-clamp: 2;
	--fg-description-line-clamp: 4;
}
.foogallery .fg-caption {
	display: flex;
	flex-direction: column;
	padding: 10px;
	visibility: hidden;
	opacity: 0;
	position: absolute;
	z-index: 8;
	width: 100%;
	max-height: 100%;
	overflow: hidden;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.3;
	border: none;
	text-align: center;
	cursor: pointer;
	margin: 0;
}
.foogallery .fg-caption-inner {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 10px;
	max-height: 100%;
	overflow: hidden;
}

.foogallery .fg-caption-title {
	box-sizing: content-box;
	font-size: 16px;
	font-weight: 400;
	padding: 0;
	margin: 0;
	line-height: 1.4;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: var(--fg-title-line-clamp);
	-webkit-box-orient: vertical;
	clip-path: content-box;
	min-height: fit-content;
	flex: 0;
}
.foogallery .fg-caption-desc {
	padding: 0;
	margin: 0;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: var(--fg-description-line-clamp);
	-webkit-box-orient: vertical;
	clip-path: content-box;
	flex: 1;
}

.foogallery .fg-caption-title a,
.foogallery .fg-caption-desc a {
    text-decoration: none;
    border-bottom: solid 1px currentColor;
    transition-timing-function: ease-out;
    transition-duration: 0.3s;
    transition-property: color, border-color, background-color;
}
.foogallery .fg-caption-title a:hover,
.foogallery .fg-caption-desc a:hover {
    border-bottom-color: transparent;
}

.foogallery .fg-caption-buttons {
    --fg-base-size: 12px;
    --fg-height: calc( var( --fg-base-size ) * 2.2 );
    --fg-base-25: calc( var( --fg-base-size ) / 4 );
    --fg-base-33: calc( var( --fg-base-size ) / 3 );
    --fg-base-50: calc( var( --fg-base-size ) / 2 );
    --fg-base-66: calc( var( --fg-base-33 ) * 2 );
    --fg-base-75: calc( var( --fg-base-25 ) * 3 );
    --fg-base-100: var( --fg-base-size );
    --fg-border-radius: var(--fg-base-25);
    --fg-border-width: 1px;
    --fg-spacing: var(--fg-base-25);
    --fg-padding-x: var(--fg-base-75);
    --fg-padding-y: var(--fg-base-25);

	display: flex;
	position: relative;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
    gap: 4px;
    font-size: var(--fg-base-size);
	width: 100%;
	padding: 0;
	margin: 0;
}
.foogallery.fg-c-c .fg-caption-buttons {
    justify-content: center;
}
.foogallery.fg-c-l .fg-caption-buttons {
    justify-content: flex-start;
}
.foogallery.fg-c-r .fg-caption-buttons {
    justify-content: flex-end;
}
.foogallery.fg-c-j .fg-caption-buttons {
    justify-content: stretch;
}
.foogallery.fg-c-j .fg-caption-buttons > a {
    flex: 1;
}

.foogallery .fg-caption-buttons > a {
    display: inline-flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--fg-padding-y) var(--fg-padding-x);
    height: var(--fg-height);
    margin: 0;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: inherit;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-image: none;
    text-decoration: none;
    text-shadow: none;
    border: var(--fg-border-width) solid transparent;
    border-radius: var(--fg-border-radius);
    box-shadow: none;
    outline: none;
    opacity: 1;
    transition-timing-function: ease-out;
    transition-duration: 0.3s;
    transition-property: color, opacity, border-color, background-color;
}
.foogallery .fg-caption-buttons > a:hover,
.foogallery .fg-caption-buttons > a:focus {
    opacity: 1!important;
    box-shadow: none;
}

/* Might change this */
.foogallery:is(.fg-cb-block-outline,.fg-cb-pill-outline) .fg-caption-buttons > a {
    --fg-border-width: 2px;
    font-weight: 500;
}
.foogallery:is(.fg-captions-bottom,.fg-captions-top,.fg-simple_portfolio):is(.fg-cb-block-outline,.fg-cb-pill-outline) .fg-caption-buttons>a {
    font-weight: 400;
}
.foogallery.fg-light:is(.fg-captions-bottom,.fg-captions-top,.fg-simple_portfolio):is(.fg-cb-block-outline,.fg-cb-pill-outline) .fg-caption-buttons>a {
    --fg-border-width: 1px;
}

.foogallery.fg-cb-block .fg-caption-buttons > a,
.foogallery.fg-cb-block-outline .fg-caption-buttons > a {
    --fg-border-radius: 0;
}

.foogallery.fg-cb-pill .fg-caption-buttons > a,
.foogallery.fg-cb-pill-outline .fg-caption-buttons > a {
    --fg-border-radius: calc(var(--fg-height) / 2);
    --fg-padding-x: calc(var(--fg-base-50) + calc(var(--fg-border-radius) / 2));
}

@media only screen and (max-width: 600px) {
	.foogallery .fg-caption-buttons {
		align-items: stretch;
	}
	.foogallery .fg-caption-buttons > a {
		flex: 1;
	}
}

/* Always */
.foogallery.fg-caption-always .fg-item .fg-caption .fg-caption-inner:before {
	display: none;
}
.foogallery.fg-caption-always .fg-item.fg-loaded .fg-caption {
	left: 0;
	bottom: 0;
	transition-timing-function: ease;
	transition-duration: 300ms;
	transition-property: visibility, opacity;
	visibility: visible;
	opacity: 1;
}
.foogallery.fg-caption-always .fg-caption {
	text-align: left;
}

/* On Hover */
.foogallery.fg-caption-hover .fg-caption .fg-caption-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-height: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	padding: 10px;
}
.foogallery.fg-caption-hover .fg-item.fg-loaded .fg-image-overlay {
	display: none;
}

/* Alignment */
.foogallery.fg-c-l .fg-caption,
.foogallery.fg-caption-always.fg-c-l .fg-caption {
	text-align: left;
}
.foogallery.fg-c-c .fg-caption,
.foogallery.fg-caption-always.fg-c-c .fg-caption {
	text-align: center;
}
.foogallery.fg-c-r .fg-caption,
.foogallery.fg-caption-always.fg-c-r .fg-caption {
	text-align: right;
}
.foogallery.fg-c-j .fg-caption,
.foogallery.fg-caption-always.fg-c-j .fg-caption {
	text-align: justify;
}