/* Icon & Overlay */
.foogallery .fg-image-overlay:before {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 32px;
	height: 32px;
	background-size: 32px 32px;
	background-position: center center;
	background-repeat: no-repeat;
}
.foogallery .fg-caption-inner:before {
	content: "";
	display: none;
	position: relative;
	width: 32px;
	height: 32px;
	margin: 10px auto 5px auto;
	background-size: 32px 32px;
	vertical-align: middle;
	background-position: center center;
	background-repeat: no-repeat;
}
.foogallery.fg-hover-zoom:not(.fg-preset) 				.fg-caption-inner:before,
.foogallery.fg-hover-zoom2:not(.fg-preset) 				.fg-caption-inner:before,
.foogallery.fg-hover-zoom3:not(.fg-preset) 				.fg-caption-inner:before,
.foogallery.fg-hover-plus:not(.fg-preset) 				.fg-caption-inner:before,
.foogallery.fg-hover-circle-plus:not(.fg-preset) 	    .fg-caption-inner:before,
.foogallery.fg-hover-eye:not(.fg-preset) 				.fg-caption-inner:before,
.foogallery.fg-hover-external:not(.fg-preset) 		    .fg-caption-inner:before,
.foogallery.fg-hover-tint:not(.fg-preset) 				.fg-caption-inner:before,
.foogallery.fg-video-default:not(.fg-preset)            .fg-caption-inner:before,
.foogallery.fg-video-1:not(.fg-preset)                  .fg-caption-inner:before,
.foogallery.fg-video-2:not(.fg-preset)                  .fg-caption-inner:before,
.foogallery.fg-video-3:not(.fg-preset)                  .fg-caption-inner:before,
.foogallery.fg-video-4:not(.fg-preset)                  .fg-caption-inner:before {
	display: block;
}

.foogallery.fg-hover-zoom:not(.fg-preset) 				.fg-item-inner:hover .fg-image-overlay,
.foogallery.fg-hover-zoom2:not(.fg-preset) 				.fg-item-inner:hover .fg-image-overlay,
.foogallery.fg-hover-zoom3:not(.fg-preset) 				.fg-item-inner:hover .fg-image-overlay,
.foogallery.fg-hover-plus:not(.fg-preset) 				.fg-item-inner:hover .fg-image-overlay,
.foogallery.fg-hover-circle-plus:not(.fg-preset) 	    .fg-item-inner:hover .fg-image-overlay,
.foogallery.fg-hover-eye:not(.fg-preset) 				.fg-item-inner:hover .fg-image-overlay,
.foogallery.fg-hover-external:not(.fg-preset) 		    .fg-item-inner:hover .fg-image-overlay,
.foogallery.fg-hover-tint:not(.fg-preset) 				.fg-item-inner:hover .fg-image-overlay,
.foogallery.fg-video-default:not(.fg-preset)            .fg-type-video .fg-item-inner:hover .fg-image-overlay,
.foogallery.fg-video-1:not(.fg-preset)                  .fg-type-video .fg-item-inner:hover .fg-image-overlay,
.foogallery.fg-video-2:not(.fg-preset)                  .fg-type-video .fg-item-inner:hover .fg-image-overlay,
.foogallery.fg-video-3:not(.fg-preset)                  .fg-type-video .fg-item-inner:hover .fg-image-overlay,
.foogallery.fg-video-4:not(.fg-preset)                  .fg-type-video .fg-item-inner:hover .fg-image-overlay {
	visibility: visible;
	opacity: 1;
}
.foogallery.fg-video-sticky				.fg-type-video.fg-loaded .fg-item-inner .fg-image-overlay {
	background-color: transparent;
	visibility: visible;
	opacity: 1;
	display: block;
}
.foogallery.fg-video-sticky				.fg-type-video .fg-caption-inner:before {
	display: none;
}

.foogallery.fg-hover-zoom .fg-image-overlay:before,
.foogallery.fg-hover-zoom .fg-caption-inner:before {
	background-image: url('../img/icons.svg#zoom-light');
}
.foogallery.fg-light-overlays.fg-hover-zoom .fg-image-overlay:before,
.foogallery.fg-light-overlays.fg-hover-zoom .fg-caption-inner:before {
	background-image: url('../img/icons.svg#zoom-dark');
}

.foogallery.fg-hover-zoom2 .fg-image-overlay:before,
.foogallery.fg-hover-zoom2 .fg-caption-inner:before {
	background-image: url('../img/icons.svg#zoom2-light');
}
.foogallery.fg-light-overlays.fg-hover-zoom2 .fg-image-overlay:before,
.foogallery.fg-light-overlays.fg-hover-zoom2 .fg-caption-inner:before {
	background-image: url('../img/icons.svg#zoom2-dark');
}

.foogallery.fg-hover-zoom3 .fg-image-overlay:before,
.foogallery.fg-hover-zoom3 .fg-caption-inner:before {
	background-image: url('../img/icons.svg#zoom3-light');
}
.foogallery.fg-light-overlays.fg-hover-zoom3 .fg-image-overlay:before,
.foogallery.fg-light-overlays.fg-hover-zoom3 .fg-caption-inner:before {
	background-image: url('../img/icons.svg#zoom3-dark');
}

.foogallery.fg-hover-plus .fg-image-overlay:before,
.foogallery.fg-hover-plus .fg-caption-inner:before {
	background-image: url('../img/icons.svg#plus-light');
}
.foogallery.fg-light-overlays.fg-hover-plus .fg-image-overlay:before,
.foogallery.fg-light-overlays.fg-hover-plus .fg-caption-inner:before {
	background-image: url('../img/icons.svg#plus-dark');
}

.foogallery.fg-hover-circle-plus .fg-image-overlay:before,
.foogallery.fg-hover-circle-plus .fg-caption-inner:before {
	background-image: url('../img/icons.svg#circle-plus-light');
}
.foogallery.fg-light-overlays.fg-hover-circle-plus .fg-image-overlay:before,
.foogallery.fg-light-overlays.fg-hover-circle-plus .fg-caption-inner:before {
	background-image: url('../img/icons.svg#circle-plus-dark');
}

.foogallery.fg-hover-eye .fg-image-overlay:before,
.foogallery.fg-hover-eye .fg-caption-inner:before {
	background-image: url('../img/icons.svg#eye-light');
}
.foogallery.fg-light-overlays.fg-hover-eye .fg-image-overlay:before,
.foogallery.fg-light-overlays.fg-hover-eye .fg-caption-inner:before {
	background-image: url('../img/icons.svg#eye-dark');
}

.foogallery.fg-hover-external .fg-image-overlay:before,
.foogallery.fg-hover-external .fg-caption-inner:before {
	background-image: url('../img/icons.svg#external-light');
}
.foogallery.fg-light-overlays.fg-hover-external .fg-image-overlay:before,
.foogallery.fg-light-overlays.fg-hover-external .fg-caption-inner:before {
	background-image: url('../img/icons.svg#external-dark');
}

.foogallery.fg-video-default .fg-type-video .fg-image-overlay:before,
.foogallery.fg-video-default .fg-type-video .fg-caption-inner:before {
	background-image: url('../img/icons.svg#video-default-light');
}
.foogallery.fg-light-overlays.fg-video-default .fg-type-video .fg-image-overlay:before,
.foogallery.fg-light-overlays.fg-video-default .fg-type-video .fg-caption-inner:before {
	background-image: url('../img/icons.svg#video-default-dark');
}

.foogallery.fg-video-1 .fg-type-video .fg-image-overlay:before,
.foogallery.fg-video-1 .fg-type-video .fg-caption-inner:before {
	background-image: url('../img/icons.svg#video-1-light');
}
.foogallery.fg-light-overlays.fg-video-1 .fg-type-video .fg-image-overlay:before,
.foogallery.fg-light-overlays.fg-video-1 .fg-type-video .fg-caption-inner:before {
	background-image: url('../img/icons.svg#video-1-dark');
}

.foogallery.fg-video-2 .fg-type-video .fg-image-overlay:before,
.foogallery.fg-video-2 .fg-type-video .fg-caption-inner:before {
	background-image: url('../img/icons.svg#video-2-light');
}
.foogallery.fg-light-overlays.fg-video-2 .fg-type-video .fg-image-overlay:before,
.foogallery.fg-light-overlays.fg-video-2 .fg-type-video .fg-caption-inner:before {
	background-image: url('../img/icons.svg#video-2-dark');
}

.foogallery.fg-video-3 .fg-type-video .fg-image-overlay:before,
.foogallery.fg-video-3 .fg-type-video .fg-caption-inner:before {
	background-image: url('../img/icons.svg#video-3-light');
}
.foogallery.fg-light-overlays.fg-video-3 .fg-type-video .fg-image-overlay:before,
.foogallery.fg-light-overlays.fg-video-3 .fg-type-video .fg-caption-inner:before {
	background-image: url('../img/icons.svg#video-3-dark');
}

.foogallery.fg-video-4 .fg-type-video .fg-image-overlay:before,
.foogallery.fg-video-4 .fg-type-video .fg-caption-inner:before {
	background-image: url('../img/icons.svg#video-4-light');
}
.foogallery.fg-light-overlays.fg-video-4 .fg-type-video .fg-image-overlay:before,
.foogallery.fg-light-overlays.fg-video-4 .fg-type-video .fg-caption-inner:before {
	background-image: url('../img/icons.svg#video-4-dark');
}