/* Icon & Overlay */
.foogallery {
    --fg-icon-size: 32px;
}
.foogallery.fg-transparent-overlays {
    /* Upscaled as the icon is downscaled in the SVG to allow for the drop-shadow */
    --fg-icon-size-transparent: calc( var(--fg-icon-size) + calc( var(--fg-icon-size) * 0.25 ) );
}
.foogallery .fg-image-overlay:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: var(--fg-icon-size);
    height: var(--fg-icon-size);
    background-size: var(--fg-icon-size) var(--fg-icon-size);
    background-position: center center;
    background-repeat: no-repeat;
    min-width: var(--fg-icon-size);
    min-height: var(--fg-icon-size);
}
.foogallery .fg-caption-inner:before {
    content: "";
    display: none;
    position: relative;
    width: var(--fg-icon-size);
    height: var(--fg-icon-size);
    margin: 0;
    background-size: var(--fg-icon-size) var(--fg-icon-size);
    vertical-align: middle;
    background-position: center center;
    background-repeat: no-repeat;
    min-width: var(--fg-icon-size);
    min-height: var(--fg-icon-size);
}
.foogallery.fg-transparent-overlays .fg-image-overlay:before,
.foogallery.fg-transparent-overlays .fg-caption-inner:before {
	width: var(--fg-icon-size-transparent);
	height: var(--fg-icon-size-transparent);
	background-size: var(--fg-icon-size-transparent) var(--fg-icon-size-transparent);
	min-width: var(--fg-icon-size-transparent);
	min-height: var(--fg-icon-size-transparent);
}
.foogallery.fg-hover-zoom:not(.fg-preset) 				.fg-caption-inner:before,
.foogallery.fg-hover-zoom2:not(.fg-preset) 				.fg-caption-inner:before,
.foogallery.fg-hover-zoom3:not(.fg-preset) 				.fg-caption-inner:before,
.foogallery.fg-hover-plus:not(.fg-preset) 				.fg-caption-inner:before,
.foogallery.fg-hover-circle-plus:not(.fg-preset) 	    .fg-caption-inner:before,
.foogallery.fg-hover-eye:not(.fg-preset) 				.fg-caption-inner:before,
.foogallery.fg-hover-external:not(.fg-preset) 		    .fg-caption-inner:before,
.foogallery.fg-hover-tint:not(.fg-preset) 				.fg-caption-inner:before,
.foogallery.fg-hover-cart:not(.fg-preset)               .fg-caption-inner:before,

.foogallery.fg-hover-plus2:not(.fg-preset) 				.fg-caption-inner:before,
.foogallery.fg-hover-plus3:not(.fg-preset) 				.fg-caption-inner:before,
.foogallery.fg-hover-square-plus:not(.fg-preset) 		.fg-caption-inner:before,
.foogallery.fg-hover-circle-plus2:not(.fg-preset) 		.fg-caption-inner:before,
.foogallery.fg-hover-zoom4:not(.fg-preset) 				.fg-caption-inner:before,
.foogallery.fg-hover-zoom5:not(.fg-preset) 				.fg-caption-inner:before,

.foogallery.fg-video-default:not(.fg-preset)            .fg-type-video .fg-caption-inner:before,
.foogallery.fg-video-1:not(.fg-preset)                  .fg-type-video .fg-caption-inner:before,
.foogallery.fg-video-2:not(.fg-preset)                  .fg-type-video .fg-caption-inner:before,
.foogallery.fg-video-3:not(.fg-preset)                  .fg-type-video .fg-caption-inner:before,
.foogallery.fg-video-4:not(.fg-preset)                  .fg-type-video .fg-caption-inner:before {
	display: block;
}

.foogallery.fg-hover-zoom:not(.fg-preset) 				.fg-item-inner:hover .fg-image-overlay,
.foogallery.fg-hover-zoom2:not(.fg-preset) 				.fg-item-inner:hover .fg-image-overlay,
.foogallery.fg-hover-zoom3:not(.fg-preset) 				.fg-item-inner:hover .fg-image-overlay,
.foogallery.fg-hover-plus:not(.fg-preset) 				.fg-item-inner:hover .fg-image-overlay,
.foogallery.fg-hover-circle-plus:not(.fg-preset) 	    .fg-item-inner:hover .fg-image-overlay,
.foogallery.fg-hover-eye:not(.fg-preset) 				.fg-item-inner:hover .fg-image-overlay,
.foogallery.fg-hover-external:not(.fg-preset) 		    .fg-item-inner:hover .fg-image-overlay,
.foogallery.fg-hover-tint:not(.fg-preset) 				.fg-item-inner:hover .fg-image-overlay,
.foogallery.fg-hover-cart:not(.fg-preset)               .fg-item-inner:hover .fg-image-overlay,

.foogallery.fg-hover-plus2:not(.fg-preset) 				.fg-item-inner:hover .fg-image-overlay,
.foogallery.fg-hover-plus3:not(.fg-preset) 				.fg-item-inner:hover .fg-image-overlay,
.foogallery.fg-hover-square-plus:not(.fg-preset) 		.fg-item-inner:hover .fg-image-overlay,
.foogallery.fg-hover-circle-plus2:not(.fg-preset) 		.fg-item-inner:hover .fg-image-overlay,
.foogallery.fg-hover-zoom4:not(.fg-preset) 				.fg-item-inner:hover .fg-image-overlay,
.foogallery.fg-hover-zoom5:not(.fg-preset) 				.fg-item-inner:hover .fg-image-overlay,

.foogallery.fg-video-default:not(.fg-preset)            .fg-type-video .fg-item-inner:hover .fg-image-overlay,
.foogallery.fg-video-1:not(.fg-preset)                  .fg-type-video .fg-item-inner:hover .fg-image-overlay,
.foogallery.fg-video-2:not(.fg-preset)                  .fg-type-video .fg-item-inner:hover .fg-image-overlay,
.foogallery.fg-video-3:not(.fg-preset)                  .fg-type-video .fg-item-inner:hover .fg-image-overlay,
.foogallery.fg-video-4:not(.fg-preset)                  .fg-type-video .fg-item-inner:hover .fg-image-overlay {
	visibility: visible;
	opacity: 1;
}
.foogallery.fg-video-sticky				.fg-type-video.fg-loaded .fg-item-inner .fg-image-overlay {
	background-color: transparent;
	visibility: visible;
	opacity: 1;
	display: block;
}
.foogallery.fg-video-sticky				.fg-type-video .fg-caption-inner:before {
	display: none;
}

.foogallery.fg-hover-zoom .fg-image-overlay:before,
.foogallery.fg-hover-zoom .fg-caption-inner:before {
	background-image: url('../img/icons.svg#zoom-light');
}
.foogallery.fg-light-overlays.fg-hover-zoom .fg-image-overlay:before,
.foogallery.fg-light-overlays.fg-hover-zoom .fg-caption-inner:before {
    background-image: url('../img/icons.svg#zoom-dark');
}
.foogallery.fg-transparent-overlays.fg-hover-zoom .fg-image-overlay:before,
.foogallery.fg-transparent-overlays.fg-hover-zoom .fg-caption-inner:before {
    background-image: url('../img/icons.svg#zoom-transparent');
}

.foogallery.fg-hover-zoom2 .fg-image-overlay:before,
.foogallery.fg-hover-zoom2 .fg-caption-inner:before {
	background-image: url('../img/icons.svg#zoom2-light');
}
.foogallery.fg-light-overlays.fg-hover-zoom2 .fg-image-overlay:before,
.foogallery.fg-light-overlays.fg-hover-zoom2 .fg-caption-inner:before {
    background-image: url('../img/icons.svg#zoom2-dark');
}
.foogallery.fg-transparent-overlays.fg-hover-zoom2 .fg-image-overlay:before,
.foogallery.fg-transparent-overlays.fg-hover-zoom2 .fg-caption-inner:before {
    background-image: url('../img/icons.svg#zoom2-transparent');
}

.foogallery.fg-hover-zoom3 .fg-image-overlay:before,
.foogallery.fg-hover-zoom3 .fg-caption-inner:before {
	background-image: url('../img/icons.svg#zoom3-light');
}
.foogallery.fg-light-overlays.fg-hover-zoom3 .fg-image-overlay:before,
.foogallery.fg-light-overlays.fg-hover-zoom3 .fg-caption-inner:before {
    background-image: url('../img/icons.svg#zoom3-dark');
}
.foogallery.fg-transparent-overlays.fg-hover-zoom3 .fg-image-overlay:before,
.foogallery.fg-transparent-overlays.fg-hover-zoom3 .fg-caption-inner:before {
    background-image: url('../img/icons.svg#zoom3-transparent');
}

.foogallery.fg-hover-plus .fg-image-overlay:before,
.foogallery.fg-hover-plus .fg-caption-inner:before {
	background-image: url('../img/icons.svg#plus-light');
}
.foogallery.fg-light-overlays.fg-hover-plus .fg-image-overlay:before,
.foogallery.fg-light-overlays.fg-hover-plus .fg-caption-inner:before {
    background-image: url('../img/icons.svg#plus-dark');
}
.foogallery.fg-transparent-overlays.fg-hover-plus .fg-image-overlay:before,
.foogallery.fg-transparent-overlays.fg-hover-plus .fg-caption-inner:before {
    background-image: url('../img/icons.svg#plus-transparent');
}

.foogallery.fg-hover-circle-plus .fg-image-overlay:before,
.foogallery.fg-hover-circle-plus .fg-caption-inner:before {
	background-image: url('../img/icons.svg#circle-plus-light');
}
.foogallery.fg-light-overlays.fg-hover-circle-plus .fg-image-overlay:before,
.foogallery.fg-light-overlays.fg-hover-circle-plus .fg-caption-inner:before {
    background-image: url('../img/icons.svg#circle-plus-dark');
}
.foogallery.fg-transparent-overlays.fg-hover-circle-plus .fg-image-overlay:before,
.foogallery.fg-transparent-overlays.fg-hover-circle-plus .fg-caption-inner:before {
    background-image: url('../img/icons.svg#circle-plus-transparent');
}

.foogallery.fg-hover-eye .fg-image-overlay:before,
.foogallery.fg-hover-eye .fg-caption-inner:before {
	background-image: url('../img/icons.svg#eye-light');
}
.foogallery.fg-light-overlays.fg-hover-eye .fg-image-overlay:before,
.foogallery.fg-light-overlays.fg-hover-eye .fg-caption-inner:before {
    background-image: url('../img/icons.svg#eye-dark');
}
.foogallery.fg-transparent-overlays.fg-hover-eye .fg-image-overlay:before,
.foogallery.fg-transparent-overlays.fg-hover-eye .fg-caption-inner:before {
    background-image: url('../img/icons.svg#eye-transparent');
}

.foogallery.fg-hover-external .fg-image-overlay:before,
.foogallery.fg-hover-external .fg-caption-inner:before {
	background-image: url('../img/icons.svg#external-light');
}
.foogallery.fg-light-overlays.fg-hover-external .fg-image-overlay:before,
.foogallery.fg-light-overlays.fg-hover-external .fg-caption-inner:before {
    background-image: url('../img/icons.svg#external-dark');
}
.foogallery.fg-transparent-overlays.fg-hover-external .fg-image-overlay:before,
.foogallery.fg-transparent-overlays.fg-hover-external .fg-caption-inner:before {
    background-image: url('../img/icons.svg#external-transparent');
}

.foogallery.fg-hover-cart .fg-image-overlay:before,
.foogallery.fg-hover-cart .fg-caption-inner:before {
	background-image: url('../img/icons.svg#cart-light');
}
.foogallery.fg-light-overlays.fg-hover-cart .fg-image-overlay:before,
.foogallery.fg-light-overlays.fg-hover-cart .fg-caption-inner:before {
    background-image: url('../img/icons.svg#cart-dark');
}
.foogallery.fg-transparent-overlays.fg-hover-cart .fg-image-overlay:before,
.foogallery.fg-transparent-overlays.fg-hover-cart .fg-caption-inner:before {
    background-image: url('../img/icons.svg#cart-transparent');
}



.foogallery.fg-hover-plus2 .fg-image-overlay:before,
.foogallery.fg-hover-plus2 .fg-caption-inner:before {
    background-image: url('../img/icons.svg#plus2-light');
}
.foogallery.fg-light-overlays.fg-hover-plus2 .fg-image-overlay:before,
.foogallery.fg-light-overlays.fg-hover-plus2 .fg-caption-inner:before {
    background-image: url('../img/icons.svg#plus2-dark');
}
.foogallery.fg-transparent-overlays.fg-hover-plus2 .fg-image-overlay:before,
.foogallery.fg-transparent-overlays.fg-hover-plus2 .fg-caption-inner:before {
    background-image: url('../img/icons.svg#plus2-transparent');
}

.foogallery.fg-hover-plus3 .fg-image-overlay:before,
.foogallery.fg-hover-plus3 .fg-caption-inner:before {
    background-image: url('../img/icons.svg#plus3-light');
}
.foogallery.fg-light-overlays.fg-hover-plus3 .fg-image-overlay:before,
.foogallery.fg-light-overlays.fg-hover-plus3 .fg-caption-inner:before {
    background-image: url('../img/icons.svg#plus3-dark');
}
.foogallery.fg-transparent-overlays.fg-hover-plus3 .fg-image-overlay:before,
.foogallery.fg-transparent-overlays.fg-hover-plus3 .fg-caption-inner:before {
    background-image: url('../img/icons.svg#plus3-transparent');
}

.foogallery.fg-hover-square-plus .fg-image-overlay:before,
.foogallery.fg-hover-square-plus .fg-caption-inner:before {
    background-image: url('../img/icons.svg#square-plus-light');
}
.foogallery.fg-light-overlays.fg-hover-square-plus .fg-image-overlay:before,
.foogallery.fg-light-overlays.fg-hover-square-plus .fg-caption-inner:before {
    background-image: url('../img/icons.svg#square-plus-dark');
}
.foogallery.fg-transparent-overlays.fg-hover-square-plus .fg-image-overlay:before,
.foogallery.fg-transparent-overlays.fg-hover-square-plus .fg-caption-inner:before {
    background-image: url('../img/icons.svg#square-plus-transparent');
}

.foogallery.fg-hover-circle-plus2 .fg-image-overlay:before,
.foogallery.fg-hover-circle-plus2 .fg-caption-inner:before {
    background-image: url('../img/icons.svg#circle-plus2-light');
}
.foogallery.fg-light-overlays.fg-hover-circle-plus2 .fg-image-overlay:before,
.foogallery.fg-light-overlays.fg-hover-circle-plus2 .fg-caption-inner:before {
    background-image: url('../img/icons.svg#circle-plus2-dark');
}
.foogallery.fg-transparent-overlays.fg-hover-circle-plus2 .fg-image-overlay:before,
.foogallery.fg-transparent-overlays.fg-hover-circle-plus2 .fg-caption-inner:before {
    background-image: url('../img/icons.svg#circle-plus2-transparent');
}

.foogallery.fg-hover-zoom4 .fg-image-overlay:before,
.foogallery.fg-hover-zoom4 .fg-caption-inner:before {
    background-image: url('../img/icons.svg#zoom4-light');
}
.foogallery.fg-light-overlays.fg-hover-zoom4 .fg-image-overlay:before,
.foogallery.fg-light-overlays.fg-hover-zoom4 .fg-caption-inner:before {
    background-image: url('../img/icons.svg#zoom4-dark');
}
.foogallery.fg-transparent-overlays.fg-hover-zoom4 .fg-image-overlay:before,
.foogallery.fg-transparent-overlays.fg-hover-zoom4 .fg-caption-inner:before {
    background-image: url('../img/icons.svg#zoom4-transparent');
}

.foogallery.fg-hover-zoom5 .fg-image-overlay:before,
.foogallery.fg-hover-zoom5 .fg-caption-inner:before {
    background-image: url('../img/icons.svg#zoom5-light');
}
.foogallery.fg-light-overlays.fg-hover-zoom5 .fg-image-overlay:before,
.foogallery.fg-light-overlays.fg-hover-zoom5 .fg-caption-inner:before {
    background-image: url('../img/icons.svg#zoom5-dark');
}
.foogallery.fg-transparent-overlays.fg-hover-zoom5 .fg-image-overlay:before,
.foogallery.fg-transparent-overlays.fg-hover-zoom5 .fg-caption-inner:before {
    background-image: url('../img/icons.svg#zoom5-transparent');
}



.foogallery.fg-video-default .fg-type-video .fg-image-overlay:before,
.foogallery.fg-video-default .fg-type-video .fg-caption-inner:before {
	background-image: url('../img/icons.svg#video-default-light');
}
.foogallery.fg-light-overlays.fg-video-default .fg-type-video .fg-image-overlay:before,
.foogallery.fg-light-overlays.fg-video-default .fg-type-video .fg-caption-inner:before {
    background-image: url('../img/icons.svg#video-default-dark');
}
.foogallery.fg-transparent-overlays.fg-video-default .fg-type-video .fg-image-overlay:before,
.foogallery.fg-transparent-overlays.fg-video-default .fg-type-video .fg-caption-inner:before {
    background-image: url('../img/icons.svg#video-default-transparent');
}

.foogallery.fg-video-1 .fg-type-video .fg-image-overlay:before,
.foogallery.fg-video-1 .fg-type-video .fg-caption-inner:before {
	background-image: url('../img/icons.svg#video-1-light');
}
.foogallery.fg-light-overlays.fg-video-1 .fg-type-video .fg-image-overlay:before,
.foogallery.fg-light-overlays.fg-video-1 .fg-type-video .fg-caption-inner:before {
    background-image: url('../img/icons.svg#video-1-dark');
}
.foogallery.fg-transparent-overlays.fg-video-1 .fg-type-video .fg-image-overlay:before,
.foogallery.fg-transparent-overlays.fg-video-1 .fg-type-video .fg-caption-inner:before {
    background-image: url('../img/icons.svg#video-1-transparent');
}

.foogallery.fg-video-2 .fg-type-video .fg-image-overlay:before,
.foogallery.fg-video-2 .fg-type-video .fg-caption-inner:before {
	background-image: url('../img/icons.svg#video-2-light');
}
.foogallery.fg-light-overlays.fg-video-2 .fg-type-video .fg-image-overlay:before,
.foogallery.fg-light-overlays.fg-video-2 .fg-type-video .fg-caption-inner:before {
    background-image: url('../img/icons.svg#video-2-dark');
}
.foogallery.fg-transparent-overlays.fg-video-2 .fg-type-video .fg-image-overlay:before,
.foogallery.fg-transparent-overlays.fg-video-2 .fg-type-video .fg-caption-inner:before {
    background-image: url('../img/icons.svg#video-2-transparent');
}

.foogallery.fg-video-3 .fg-type-video .fg-image-overlay:before,
.foogallery.fg-video-3 .fg-type-video .fg-caption-inner:before {
	background-image: url('../img/icons.svg#video-3-light');
}
.foogallery.fg-light-overlays.fg-video-3 .fg-type-video .fg-image-overlay:before,
.foogallery.fg-light-overlays.fg-video-3 .fg-type-video .fg-caption-inner:before {
    background-image: url('../img/icons.svg#video-3-dark');
}
.foogallery.fg-transparent-overlays.fg-video-3 .fg-type-video .fg-image-overlay:before,
.foogallery.fg-transparent-overlays.fg-video-3 .fg-type-video .fg-caption-inner:before {
    background-image: url('../img/icons.svg#video-3-transparent');
}

.foogallery.fg-video-4 .fg-type-video .fg-image-overlay:before,
.foogallery.fg-video-4 .fg-type-video .fg-caption-inner:before {
	background-image: url('../img/icons.svg#video-4-light');
}
.foogallery.fg-light-overlays.fg-video-4 .fg-type-video .fg-image-overlay:before,
.foogallery.fg-light-overlays.fg-video-4 .fg-type-video .fg-caption-inner:before {
    background-image: url('../img/icons.svg#video-4-dark');
}
.foogallery.fg-transparent-overlays.fg-video-4 .fg-type-video .fg-image-overlay:before,
.foogallery.fg-transparent-overlays.fg-video-4 .fg-type-video .fg-caption-inner:before {
    background-image: url('../img/icons.svg#video-4-transparent');
}