/* Preset Reset & Common */
.foogallery.fg-preset .fg-thumb {
	transform: translateZ(0);
}
.foogallery.fg-preset .fg-caption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: visible;
	opacity: 1;
	background-color: transparent;
	border: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 13px;
	padding: 0;
	line-height: 1.2;
	letter-spacing: 1px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
/*.foogallery.fg-preset .fg-item:not(.fg-image-dark) .fg-caption {*/
/*	color: #000000;*/
/*}*/
.foogallery.fg-preset .fg-caption-inner {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	line-height: inherit;
	letter-spacing: inherit;
	text-shadow: 0 0 3px #000000;
}
.foogallery.fg-preset .fg-caption-title {
	box-sizing: border-box;
	font-size: 16px;
	line-height: inherit;
	letter-spacing: inherit;
}
.foogallery.fg-preset .fg-caption-desc {
	font-size: 11px;
	max-height: 100%;
	overflow: hidden;
	line-height: inherit;
	letter-spacing: inherit;
	color: inherit;
	flex: unset;
}
.foogallery.fg-preset .fg-caption-title+.fg-caption-desc {
	padding: 0;
}

.foogallery.fg-preset .fg-caption-buttons {
    text-transform: none;
    letter-spacing: normal;
}

/* Preset Sizes */
.fg-preset.fg-preset-small .fg-caption-title {
	font-size: 16px;
}
.fg-preset.fg-preset-small .fg-caption-desc {
	font-size: 11px;
}

.fg-preset.fg-preset-medium .fg-caption-title {
	font-size: 20px;
}
.fg-preset.fg-preset-medium .fg-caption-desc {
	font-size: 12px;
}

.fg-preset.fg-preset-large .fg-caption-title {
	font-size: 24px;
}
.fg-preset.fg-preset-large .fg-caption-desc {
	font-size: 14px;
}