/* Transitions */
.foogallery.fg-caption-hover.fg-hover-instant .fg-loaded .fg-caption,
.foogallery.fg-caption-hover.fg-hover-fade .fg-loaded .fg-caption,
.foogallery.fg-caption-hover.fg-hover-slide-up .fg-loaded .fg-caption,
.foogallery.fg-caption-hover.fg-hover-slide-down .fg-loaded .fg-caption,
.foogallery.fg-caption-hover.fg-hover-slide-left .fg-loaded .fg-caption,
.foogallery.fg-caption-hover.fg-hover-slide-right .fg-loaded .fg-caption,
.foogallery.fg-caption-hover.fg-hover-push .fg-loaded .fg-caption,
.foogallery.fg-caption-hover.fg-hover-colorize .fg-loaded .fg-caption,
.foogallery.fg-caption-hover.fg-hover-grayscale .fg-loaded .fg-caption,
.foogallery.fg-caption-hover.fg-hover-scale .fg-loaded .fg-caption,
.foogallery.fg-hover-instant .fg-loaded .fg-image-overlay,
.foogallery.fg-hover-fade .fg-loaded .fg-image-overlay,
.foogallery.fg-hover-slide-up .fg-loaded .fg-image-overlay,
.foogallery.fg-hover-slide-down .fg-loaded .fg-image-overlay,
.foogallery.fg-hover-slide-left .fg-loaded .fg-image-overlay,
.foogallery.fg-hover-slide-right .fg-loaded .fg-image-overlay,
.foogallery.fg-hover-push .fg-loaded .fg-thumb,
.foogallery.fg-hover-colorize .fg-loaded .fg-image-overlay,
.foogallery.fg-hover-grayscale .fg-loaded .fg-image-overlay,
.foogallery.fg-hover-scale .fg-item.fg-loaded,
.foogallery.fg-hover-scale .fg-loaded .fg-image-overlay,
.foogallery.fg-hover-zoomed .fg-loaded .fg-image,
.foogallery.fg-hover-colorize .fg-loaded .fg-image,
.foogallery.fg-hover-grayscale .fg-loaded .fg-image {
	transition-timing-function: ease;
	transition-duration: 300ms;
	backface-visibility: hidden;
}