#ignore thumbnails created by windows
Thumbs.db

#ignore npm modules
node_modules/

#ignore phpstorm config folder
.idea/

#ignore local test folder
.test/

# generated build outputs
dist/
docs/jsdocs/
test-pages/defaults/assets/css/foogallery.css
test-pages/defaults/assets/css/foogallery.min.css
test-pages/defaults/assets/js/foogallery.js
test-pages/defaults/assets/js/foogallery.min.js
test-pages/defaults/assets/free/
test-pages/defaults/assets/img/icons.svg
test-pages/defaults/assets/components/
test-pages/templates/assets/css/foogallery.css
test-pages/templates/assets/css/foogallery.min.css
test-pages/templates/assets/js/foogallery.js
test-pages/templates/assets/js/foogallery.min.js
test-pages/templates/assets/free/
test-pages/templates/assets/img/icons.svg
