/* Drop Shadows */
.foogallery.fg-light.fg-shadow-outline .fg-item-inner {
	box-shadow: 0 0 0 1px #ddd;
}
.foogallery.fg-dark.fg-shadow-outline .fg-item-inner {
	box-shadow: 0 0 0 1px #222;
}
.foogallery.fg-light.fg-shadow-small .fg-item-inner,
.foogallery.fg-dark.fg-shadow-small .fg-item-inner {
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
}
.foogallery.fg-light.fg-shadow-medium .fg-item-inner,
.foogallery.fg-dark.fg-shadow-medium .fg-item-inner {
	box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.5);
}
.foogallery.fg-light.fg-shadow-large .fg-item-inner,
.foogallery.fg-dark.fg-shadow-large .fg-item-inner {
	box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.5);
}