.foogallery .fg-image-wrap {
	z-index: 7;
}
.foogallery .fg-image-wrap:before {
	z-index: 8;
}
.foogallery .fg-image-wrap:before,
.fg-panel .fg-panel-thumb-wrap:before {
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	pointer-events: none;
}