/* Loader Styles */
.foogallery .fg-loader {
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translateX(-50%) translateY(-50%);
	font-size: 5px;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
    text-indent: -9999em;
}

.foogallery .fg-loading .fg-loader {
	visibility: visible;
	opacity: 1;
}