/* Loaded Effects */
.foogallery.fg-loaded-fade-in .fg-item,
.foogallery.fg-loaded-slide-up .fg-item,
.foogallery.fg-loaded-slide-down .fg-item,
.foogallery.fg-loaded-slide-left .fg-item,
.foogallery.fg-loaded-slide-right .fg-item,
.foogallery.fg-loaded-scale-up .fg-item,
.foogallery.fg-loaded-swing-down .fg-item,
.foogallery.fg-loaded-drop .fg-item,
.foogallery.fg-loaded-fly .fg-item,
.foogallery.fg-loaded-flip .fg-item {
	transition-timing-function: ease;
	transition-duration: 650ms;
	transition-property: background-color, transform;
}
.foogallery.fg-loaded-fade-in .fg-item-inner,
.foogallery.fg-loaded-slide-up .fg-item-inner,
.foogallery.fg-loaded-slide-down .fg-item-inner,
.foogallery.fg-loaded-slide-left .fg-item-inner,
.foogallery.fg-loaded-slide-right .fg-item-inner,
.foogallery.fg-loaded-scale-up .fg-item-inner,
.foogallery.fg-loaded-swing-down .fg-item-inner,
.foogallery.fg-loaded-drop .fg-item-inner,
.foogallery.fg-loaded-fly .fg-item-inner,
.foogallery.fg-loaded-flip .fg-item-inner {
	transition-timing-function: ease;
	transition-duration: 650ms;
}
/* Only apply the perspective once loaded otherwise transitions could take place behind other items*/
.foogallery.fg-loaded-swing-down .fg-item.fg-loaded,
.foogallery.fg-loaded-drop .fg-item.fg-loaded,
.foogallery.fg-loaded-fly .fg-item.fg-loaded,
.foogallery.fg-loaded-flip .fg-item.fg-loaded {
	perspective: 1300px;
}