.foogallery.fg-filter-clarendon .fg-image-wrap {
  -webkit-filter: contrast(120%) saturate(125%);
  filter: contrast(120%) saturate(125%);
}
.foogallery.fg-filter-clarendon .fg-image-wrap:before {
  mix-blend-mode: overlay;
  background: rgba(127, 187, 227, 0.2);
}
