.foogallery.fg-filter-lofi .fg-image-wrap {
	-webkit-filter: contrast(150%) saturate(110%);
	filter: contrast(150%) saturate(110%);
}
.foogallery.fg-filter-lofi .fg-image-wrap:before {
	mix-blend-mode: multiply;
	background: -webkit-radial-gradient(circle closest-corner, rgba(0, 0, 0, 0) 70%, rgba(34, 34, 34, 1) 100%);
	background: radial-gradient(circle closest-corner, rgba(0, 0, 0, 0) 70%, rgba(34, 34, 34, 1) 100%);
}