.foogallery.fg-filter-poprocket .fg-image-wrap {
  -webkit-filter: sepia(.15) brightness(1.2);
  filter: sepia(.15) brightness(1.2);
}
.foogallery.fg-filter-poprocket .fg-image-wrap:before {
  mix-blend-mode: screen;
  background: -webkit-radial-gradient(center center, circle closest-corner, rgba(206, 39, 70, .75) 40%, rgba(0, 0, 0, 1) 80%);
	background: radial-gradient(center center, circle closest-corner, rgba(206, 39, 70, .75) 40%, rgba(0, 0, 0, 1) 80%);
}
