html, body {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #2B2B2B;
    color: #B5B5B5;
}
header {
    display: flex;
    justify-content: stretch;
    align-items: center;
    background-color: #222;
    padding: 15px;
    font-size: 18px;
    font-weight: 400;
    color: inherit;
}
header > h1 {
    flex-grow: 10;
    margin: 0;
    color: #CA6F2E;
    font-size: inherit;
    font-weight: inherit;
}
header > ul,
header > ul > li {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
header > ul > li:after {
    display: inline-block;
    content: '\a0/\a0';
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
}
header > ul a {
    white-space: nowrap;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;
}
header > ul a:hover,
header > ul a:focus,
header > ul a:active {
    color: inherit;
    text-decoration: underline;
}
main {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
main a {
    color: #6897BB;
    text-decoration: none;
}
main a:hover,
main a:focus,
main a:active {
    text-decoration: underline;
}
main h1,
main h2,
main h3,
main h4,
main h5 {
    color: #E7A84B;
    font-weight: 400;
}
span.recommended {
    color: #CA6F2E;
    font-size: inherit;
    font-weight: inherit;
}