/* Content */
.fg-slider .fgs-content-container {
	display: block;
	height: 100%;
	overflow: hidden;
}
.fg-slider.fgs-horizontal .fgs-content-container {
	width: 100%;
}
.fg-slider .fgs-content-stage {
	height: 100%;
	max-height: 100%;
	position: relative;
	-webkit-transform: translateX(0px);
	transform: translateX(0px);
}
.fg-slider .fgs-content {
	display: block;
	height: 100%;
	position: absolute;
	top: 0;
	background: no-repeat center center;
	background-size: cover;
}
.fg-slider.fgs-image-contain .fgs-content {
	background-size: contain;
}
.fg-slider .fgs-content.fgs-playing {
	background-image: none!important;
}

.fg-slider .fgs-content-text {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	margin: 0;
	line-height: normal;
	font-size: 14px;
	padding: 12px;
	-webkit-transform: translateY(-30px);
	transform: translateY(-30px);
}
.fg-slider.fgs-sm .fgs-content-text {
	font-size: 16px;
	padding: 14px;
}
.fg-slider.fgs-md .fgs-content-text {
	font-size: 18px;
	padding: 16px;
}
.fg-slider.fgs-lg .fgs-content-text,
.fg-slider.fgs-xl .fgs-content-text {
	font-size: 20px;
	padding: 20px;
}
.fg-slider .fgs-selected .fgs-content-text {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.fg-slider .fgs-playing .fgs-content-text {
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translateY(-30px);
	transform: translateY(-30px);
}
.fg-slider .fgs-content-text small {
	display: block;
	font-size: 80%;
	text-align: inherit;
}

.fg-slider .fgs-content-close,
.fg-slider .fgs-content-play {
	position: absolute;
	display: inline-block;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	padding: 0;
	text-decoration: none;
	outline: 0;
	opacity: 0;
	visibility: hidden;
	box-shadow: none;
	font-family: "Andale Mono",Arial,"Courier New",sans-serif;
	line-height: 1;
	text-align: center;
}
.fg-slider .fgs-content-close {
	top: 10px;
	left: 10px;
	width: 36px;
	height: 36px;
	font-size: 28px;
	font-weight: 700;
	z-index: 2;
}
.fg-slider .fgs-content-close:before {
	content: '\00D7';
}
.fg-slider .fgs-playing .fgs-content-close {
	opacity: 1;
	visibility: visible;
}
.fg-slider .fgs-content-play {
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	font-size: 32px;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.fg-slider .fgs-content-play:before {
	content: '\25ba';
}

.fg-slider .fgs-selected .fgs-content-play,
.fg-slider.fgs-content-hover .fgs-selected:hover .fgs-content-play {
	opacity: 1;
	visibility: visible;
}

.fg-slider .fgs-playing .fgs-content-play,
.fg-slider.fgs-content-hover .fgs-selected .fgs-content-play,
.fg-slider.fgs-content-hover .fgs-playing:hover .fgs-content-play {
	opacity: 0;
	visibility: hidden;
}

.fg-slider .fgs-content-close:before,
.fg-slider .fgs-content-play:before {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

/* .fg-slider.fg-video-4 .fgs-content-play */

.fg-slider.fg-video-default .fgs-content-play {
	border-radius: 50%;
}
.fg-slider.fg-video-default .fgs-content-play:before {
	padding-left: 4px;
}
.fg-slider.fg-video-1 .fgs-content-play {
	background-color: transparent;
	font-size: 50px;
}
.fg-slider.fg-video-2 .fgs-content-play {
	border-radius: 50% 50% 50% 50% / 15% 15% 15% 15%;
	font-size: 24px;
	height: 42px;
}
.fg-slider.fg-video-3 .fgs-content-play {
	background-color: transparent;
	border-radius: 50%;
	border-width: 4px;
	border-style: solid;
}
.fg-slider.fg-video-3 .fgs-content-play:before {
	padding-left: 4px;
}