/* Shared */
.fg-slider .fgs-content-play,
.fg-slider .fgs-content-close {
	background-color: rgba(23,35,34,.75);
}
.fg-slider .fg-caption {
	background-color: transparent;
}
.fg-slider .fgs-content-text {
	text-shadow: 1px 0 6px rgba(0,0,0,.5);
}
.fg-slider .fgs-content-text,
.fg-slider .fgs-content-play,
.fg-slider .fgs-content-close {
	color: #FFF;
}
.fg-slider .fgs-content-play {
	border-color: #FFF;
}
/* Theme - Dark */
.fg-slider.fg-dark .fg-thumb {
	background-color: #444;
}
.fg-slider.fg-dark .fg-caption,
.fg-slider.fg-dark .fgs-item-prev,
.fg-slider.fg-dark .fgs-item-next {
	color: #FFF;
}
.fg-slider.fg-dark .fg-caption-desc {
	color: #767676;
}
.fg-slider.fg-dark,
.fg-slider.fg-dark .fgs-item-prev,
.fg-slider.fg-dark .fgs-item-next,
.fg-slider.fg-dark .fg-item-inner {
	background-color: #151515;
}
.fg-slider.fg-dark .fgs-item-container,
.fg-slider.fg-dark .fgs-item-prev,
.fg-slider.fg-dark .fgs-item-next,
.fg-slider.fg-dark .fg-item-inner {
	border-color: #2E2E2E;
}
.fg-slider.fg-dark .fgs-item-prev:hover,
.fg-slider.fg-dark .fgs-item-next:hover,
.fg-slider.fg-dark .fg-item-inner:hover {
	background-color: #000;
}

/* Theme - Light */
.fg-slider.fg-light .fg-thumb {
	background-color: #EEE;
}
.fg-slider.fg-light .fg-caption,
.fg-slider.fg-light .fgs-item-prev,
.fg-slider.fg-light .fgs-item-next {
	color: #333;
}
.fg-slider.fg-light .fg-caption-desc {
	color: #767676;
}
.fg-slider.fg-light,
.fg-slider.fg-light .fgs-item-prev,
.fg-slider.fg-light .fgs-item-next,
.fg-slider.fg-light .fg-item-inner {
	background-color: #FFF;
}
.fg-slider.fg-light .fgs-item-container,
.fg-slider.fg-light .fgs-item-prev,
.fg-slider.fg-light .fgs-item-next,
.fg-slider.fg-light .fg-item-inner {
	border-color: #e6e6e6;
}
.fg-slider.fg-light .fgs-item-prev:hover,
.fg-slider.fg-light .fgs-item-next:hover,
.fg-slider.fg-light .fg-item-inner:hover {
	background-color: #F9F9F9;
}