:root {
    --fg-carousel-perspective: 150px;
    --fg-carousel-navigation-size: 48px;
    --fg-carousel-pagination-size: 14px;
    --fg-carousel-progress-size: 4px;
    --fg-carousel-navigation-opacity: 0.3;
    --fg-carousel-transition-speed: 650ms;
    --fg-carousel-ui-speed: 300ms;
}
.foogallery.fg-carousel {
    --fg-carousel-inverse-perspective: calc( -1 *  var(--fg-carousel-perspective) );
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: var(--fg-carousel-navigation-size) auto var(--fg-carousel-navigation-size);
    grid-template-rows: auto auto;
    grid-template-areas: "prev inner next"
                         "bottom bottom bottom";
}
.fg-carousel-inner {
    position: relative;
    grid-area: inner;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto;
    grid-template-areas: "left center right";
    padding: 10px 0;
    perspective: var(--fg-carousel-perspective);
    transform: translate3d(0, 0, 0);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    will-change: contents;
}
.foogallery_preview_container .fg-carousel-inner {
    transform-style: unset;
}

.fg-carousel-center {
    position: relative;
    z-index: -1;
    pointer-events: none;
    visibility: hidden;
}
.fg-carousel-center {
    grid-area: center;
}
.fg-carousel-progress {
    display: block;
    position: absolute;
    visibility: visible;
    bottom: 0;
    left: 0;
    width: 0;
    height: var(--fg-carousel-progress-size);
    border-radius: calc( var(--fg-carousel-progress-size) / 2 );
    transition: width 100ms linear;
    opacity: var(--fg-carousel-navigation-opacity);
}
[dir="rtl"] .fg-carousel-progress {
    left: auto;
    right: 0;
}
.fg-carousel-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    grid-area: bottom;
    font-size: var(--fg-carousel-pagination-size);
    padding: 0;
    margin-bottom: 10px;
}
.fg-carousel-bullet {
    width: 1em;
    height: 1em;
    display: block;
    padding: 0;
    margin: 0.3em;
    border-radius: 50%;
    border: solid 1px transparent;
    background: none;
    box-shadow: none;
    outline: none;
    opacity: var(--fg-carousel-navigation-opacity);
    cursor: pointer;
    font-size: inherit;
    transition: opacity var(--fg-carousel-ui-speed) ease-in;
}
@media only screen and (max-width: 782px) {
    .fg-carousel-bullet {
        width: 1.25em;
        height: 1.25em;
    }
}

.fg-carousel-bullet:hover {
    background: none;
    box-shadow: none;
    outline: none;
    opacity: 1;
}
.fg-carousel-bullet.fg-bullet-active {
    opacity: 1;
}
button.fg-carousel-prev,
button.fg-carousel-next {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fg-carousel-navigation-size);
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
    z-index: 11;
    cursor: pointer;
    opacity: var(--fg-carousel-navigation-opacity);
    transition: opacity var(--fg-carousel-ui-speed) ease-in;
    padding: 0;
    margin: 0;
}
button.fg-carousel-prev:hover,
button.fg-carousel-next:hover {
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
    opacity: 1;
}
.fg-carousel-prev .fg-icon,
.fg-carousel-next .fg-icon {
    width: 1em;
    height: 1em;
}
[dir="rtl"] .fg-carousel-prev .fg-icon,
[dir="rtl"] .fg-carousel-next .fg-icon {
    transform: rotate(180deg);
}
.fg-carousel-prev {
    grid-area: prev;
}
.fg-carousel-next {
    grid-area: next;
}

.foogallery.fg-carousel .fg-item {
    display: block;
    opacity: 0;
    visibility: hidden;
    grid-area: center;
    transform-origin: center center;
    transform: translate3d(0, 200%, var(--fg-carousel-inverse-perspective));
    transition-timing-function: ease-in-out;
    transition-duration: 0s;
    transition-property: background-color,transform,transform-origin,opacity,visibility;
    backface-visibility: hidden;
}
.foogallery.fg-carousel .fg-item.fg-loaded {
    transform: translate3d(0, 0, var(--fg-carousel-inverse-perspective));
    transition-timing-function: ease-in-out;
    transition-duration: calc( var(--fg-carousel-transition-speed) / 2 );
    transition-property: background-color,transform,transform-origin,opacity,visibility;
}
.foogallery.fg-carousel .fg-item.fg-item-active,
.foogallery.fg-carousel .fg-item.fg-item-prev,
.foogallery.fg-carousel .fg-item.fg-item-next {
    opacity: 1;
    visibility: visible;
    /*-webkit-box-reflect: below 5px -webkit-linear-gradient(bottom,rgba(255,0,0,.1) 0%,transparent 32px,transparent 100%);*/
}
.foogallery.fg-carousel .fg-item.fg-item-active {
    transform: translate3d(0, 0, 0);
}

.foogallery.fg-carousel.fg-dark .fg-carousel-progress,
.foogallery.fg-carousel.fg-light.fg-inverted .fg-carousel-progress {
    background-color: #FFF;
    box-shadow: inset 0 0 0 1px #9d9d9d;
}
.foogallery.fg-carousel.fg-dark button.fg-carousel-bullet,
.foogallery.fg-carousel.fg-light.fg-inverted button.fg-carousel-bullet {
    background-color: #FFF;
    border-color: #ccc;
}
.foogallery.fg-carousel.fg-dark button.fg-carousel-prev,
.foogallery.fg-carousel.fg-dark button.fg-carousel-next,
.foogallery.fg-carousel.fg-light.fg-inverted button.fg-carousel-prev,
.foogallery.fg-carousel.fg-light.fg-inverted button.fg-carousel-next {
    color: #FFF;
    background-color: transparent;
}

.foogallery.fg-carousel.fg-light .fg-carousel-progress,
.foogallery.fg-carousel.fg-dark.fg-inverted .fg-carousel-progress {
    background-color: #444;
    box-shadow: inset 0 0 0 1px #333;
}
.foogallery.fg-carousel.fg-light button.fg-carousel-bullet,
.foogallery.fg-carousel.fg-dark.fg-inverted button.fg-carousel-bullet {
    background-color: #444;
    border-color: #333;
}
.foogallery.fg-carousel.fg-light button.fg-carousel-prev,
.foogallery.fg-carousel.fg-light button.fg-carousel-next,
.foogallery.fg-carousel.fg-dark.fg-inverted button.fg-carousel-prev,
.foogallery.fg-carousel.fg-dark.fg-inverted button.fg-carousel-next {
    color: #444;
    background-color: transparent;
}