/* Lily */
.foogallery.fg-lily .fg-thumb {
	background: #3085a3;
}
.foogallery.fg-lily .fg-image {
	opacity: 0.8;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.12) translateX(-10%);
	transform: scale(1.12) translateX(-10%);
	transform-origin: 0 50%;
}
.foogallery.fg-lily .fg-item-inner:hover .fg-image {
	opacity: 1;
	-webkit-transform: scale(1.12) translateX(0);
	transform: scale(1.12) translateX(0);
}

.foogallery.fg-lily .fg-caption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: visible;
	opacity: 1;
	background-color: transparent;
	border: none;
	color: #fff;
	text-align: left;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.foogallery.fg-lily .fg-caption-inner {
	position: absolute;
	bottom: 0;
	left: 0;
	border: solid 20px transparent;
	height: 50%;
	width: 100%;
	overflow: hidden;
}

.foogallery.fg-lily .fg-caption-title {
	position: relative;
	overflow: hidden;
	word-spacing: -0.15em;
	font-weight: 300;
	font-size: 30px;
	padding: 0;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translateY(30px);
	transform: translateY(30px);
}
.foogallery.fg-lily .fg-item-inner:hover .fg-caption-title {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.foogallery.fg-lily .fg-caption-desc {
	letter-spacing: 1px;
	font-size: 14px;
	max-height: 100%;
	overflow: hidden;
	padding: 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translateY(30px);
	transform: translateY(30px);
}
.foogallery.fg-lily .fg-item-inner:hover .fg-caption-desc {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.foogallery.fg-lily .fg-caption-title+.fg-caption-desc {
	margin: 0;
}
