/* Selena */
.foogallery.fg-selena .fg-thumb {
	background: #fff;
}
.foogallery.fg-selena .fg-image {
	opacity: 1;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: scale(1);
	transform: scale(1);
	transform-origin: 50% 50%;
}
.foogallery.fg-selena .fg-item-inner:hover .fg-image {
	-webkit-transform: scale(0.92);
	transform: scale(0.92);
}

.foogallery.fg-selena .fg-caption {
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: visible;
	opacity: 1;
	background-color: transparent;
	border: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.foogallery.fg-selena .fg-caption-inner {
	border: solid 20px transparent;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.foogallery.fg-selena .fg-caption-title {
	word-spacing: -0.15em;
	font-weight: 300;
	font-size: 30px;
	position: relative;
	overflow: hidden;
	padding: 0.2em 0 0 0;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translateY(50%);
	transform: translateY(50%);
}
.foogallery.fg-selena .fg-item-inner:hover .fg-caption-title {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.foogallery.fg-selena .fg-caption-desc {
	letter-spacing: 1px;
	font-size: 14px;
	max-height: 100%;
	overflow: hidden;
	padding: 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}
.foogallery.fg-selena .fg-item-inner:hover .fg-caption-desc {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.foogallery.fg-selena .fg-caption-title+.fg-caption-desc {
	margin: 0;
}