<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Slider</title>
    <link href="../assets/theme.css" rel="stylesheet" type="text/css">
    <script src="../assets/jquery.min.js" defer></script>
    <script src="../assets/theme.js" defer></script>
</head>
<body class="dark">
<header>
    <ul>
        <li><a href="../index.html">Templates</a></li>
        <li><h1>Slider</h1></li>
    </ul>
</header>
<main><small><span class="recommended">*</span> Maximum recommended item and/or page counts for the template.</small>        <section id="recommended">
            <h2>Recommended Galleries</h2>
        <p>The following are the recommended item counts and output types for this template.</p><ul><li>
                        <a href="50-json-items-lazy-loading.html">50 Json Items + Lazy Loading</a>
                    </li></ul>    <section id="recommended_max">
                <h3>Max Variations</h3>
            <ul><li>
                            <a href="250-json-items-lazy-loading.html">250 Json Items + Lazy Loading<span class="recommended">*</span></a>
                        </li></ul></section></section></main>
</body>
</html>