.fg-comments {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
}
.fg-panel-comments.fg-loaded .fg-comments {
    visibility: visible;
    opacity: 1;
}
.fg-panel:is(.fg-panel-fade,.fg-panel-horizontal,.fg-panel-vertical) .fg-comments {
    transition-property: visibility, opacity;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.fg-comments-title {
    font-weight: 600;
    line-height: 20px;
    padding-bottom: 10px;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.fg-comments-responses {
    grid-area: comment-replies;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 10px 0;
    padding: 0;
    gap: 10px;
}
.fg-comments-response > .fg-comments-responses {
    padding-inline-start: 16px;
    margin: 10px 0 0 0;
}

.fg-comments-response {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(32px, auto) auto auto auto;
    grid-auto-rows: auto;
    grid-template-areas:
        "comment-header"
        "comment-body"
        "comment-replies"
        "comment-form";
    gap: 10px;
}

.fg-comments-response:has(.fg-comments-avatar) {
    grid-template-columns: 32px 1fr;
    grid-template-areas:
        "comment-avatar comment-header"
        ". comment-body"
        "comment-replies comment-replies"
        "comment-form comment-form";
}

.fg-comments-avatar {
    grid-area: comment-avatar;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fg-comments-avatar > img {
    display: block;
    border-radius: 50%;
}

.fg-comments-header {
    grid-area: comment-header;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.fg-comments-author,
.fg-comments-author > a {
    color: inherit;
    text-decoration: none;
}
.fg-comments-author > a:hover,
.fg-comments-author > a:focus {
    text-decoration: underline;
}

.fg-comments-subheader {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.fg-comments-date {
    font-size: smaller;
}

.fg-comments-body {
    grid-area: comment-body;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.fg-comments-moderation {
    font-size: 13px;
    font-style: italic;
}

.fg-comments-content {
    font-size: 16px;
}

.fg-comments-edit,
.fg-comments-reply {
    display: inline-block;
    border: none;
    background: none;
    text-decoration: underline;
    padding: 0;
    margin: 0;
    box-shadow: none;
    text-shadow: none;
    font-size: 13px;
    cursor: pointer;
}
.fg-comments-edit:hover,
.fg-comments-edit:focus,
.fg-comments-reply:hover,
.fg-comments-reply:focus {
    text-decoration: none;
}

.fg-comments-form {
    grid-area: comment-form;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
}

.fg-comments-form-title {
    box-sizing: border-box;
    font-weight: 600;
    line-height: 20px;
    padding: 10px 0;
    border: none;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: 100%;
}

.fg-comments-form-notes {
    box-sizing: border-box;
}

.fg-comments-form-control {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
}
.fg-comments-form-control:has(.fg-comments-form-control-checkbox) {
    flex-direction: row;
}
.fg-comments-form-control-input {
    box-sizing: border-box;
    width: 100%;
    border-radius: 3px;
    border: solid 1px;
    font-size: inherit;
    font-family: inherit;
    padding: .4em;
}

.fg-comments button.fg-comments-form-submit {
    width: fit-content;
    padding: 8px 14px;
    border-radius: 3px;
}