/* content */
.fg-panel.fg-light .fg-content-iframe .fg-content {
    background-color: rgba(156, 156, 156, 0.1);
    border: solid 1px rgba(0, 0, 0, 0.1);
}
.fg-panel.fg-dark .fg-content-iframe .fg-content {
    background-color: rgba(0, 0, 0, 0.3);
    border: solid 1px rgba(0, 0, 0, 0.3);
}

.fg-panel .fg-content-caption {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
}

.fg-small.fg-panel-expanded .fg-content-caption {
    border-radius: unset;
    border-width: 0;
}
.fg-small .fg-content-caption-top .fg-content-caption {
    margin-bottom: 1px;
}
.fg-small .fg-content-caption-bottom .fg-content-caption,
.fg-small .fg-content-caption-left .fg-content-caption,
.fg-small .fg-content-caption-right .fg-content-caption {
    margin-top: 1px;
}
.fg-portrait .fg-content-caption-left .fg-content-caption,
.fg-portrait .fg-content-caption-right .fg-content-caption {
    margin-top: 5px;
}

.fg-small .fg-content-caption-left .fg-content-inner,
.fg-small .fg-content-caption-right .fg-content-inner,
.fg-portrait .fg-content-caption-left .fg-content-inner,
.fg-portrait .fg-content-caption-right .fg-content-inner {
    flex-direction: column;
}
.fg-small .fg-content-caption-left .fg-content-item,
.fg-small .fg-content-caption-right .fg-content-item,
.fg-portrait .fg-content-caption-left .fg-content-item,
.fg-portrait .fg-content-caption-right .fg-content-item {
    flex: unset;
}
.fg-small .fg-content-caption-left .fg-content-caption,
.fg-small .fg-content-caption-right .fg-content-caption,
.fg-portrait .fg-content-caption-left .fg-content-caption,
.fg-portrait .fg-content-caption-right .fg-content-caption {
    flex: unset;
    max-width: none;
    margin-left: 0;
    margin-right: 0;
}
.fg-small.fg-panel-expanded .fg-content-caption-top .fg-content-caption {
    border-bottom-width: 1px;
}
.fg-small.fg-panel-expanded .fg-content-caption-bottom .fg-content-caption,
.fg-small.fg-panel-expanded .fg-content-caption-left .fg-content-caption,
.fg-small.fg-panel-expanded .fg-content-caption-right .fg-content-caption {
    border-top-width: 1px;
}
.fg-small .fg-content-caption-overlay.fg-content-caption-left .fg-content-caption,
.fg-small .fg-content-caption-overlay.fg-content-caption-right .fg-content-caption,
.fg-portrait .fg-content-caption-overlay.fg-content-caption-left .fg-content-caption,
.fg-portrait .fg-content-caption-overlay.fg-content-caption-right .fg-content-caption {
    top: unset;
    left: 0;
    right: 0;
    bottom: 0;
}