.fg-panel {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	overflow: hidden;
	color: #333;
}
.fg-panel-expanded {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #333;
	z-index: 9999;
	color: #FeFeFe;
}
.fg-panel, .fg-panel * {
	box-sizing: border-box;
}
.fg-panel-inner {
	display: block;
	position: absolute;
	top: 5px;
	left: 42px;
	bottom: 5px;
	right: 42px;
}

.fg-panel-inner .fg-content-container {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.fg-panel-buttons {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-end;
	justify-content: flex-end;
}
.fg-panel-buttons > * {
	cursor: pointer;
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.1);
	border: solid 1px rgba(0, 0, 0, 0.1);
}
.fg-panel-expanded .fg-panel-buttons > * {
	background-color: rgba(0, 0, 0, 0.3);
	border: solid 1px rgba(0, 0, 0, 0.3);
}
.fg-panel-close,
.fg-panel-expand,
.fg-panel-caption {
	display: block;
	position: relative;
	width: 32px;
	height: 32px;
	margin-top: 5px;
	margin-right: 5px;
}
.fg-panel-prev,
.fg-panel-next {
	display: block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 32px;
	height: 140px;
}
.fg-panel-prev {
	left: 5px;
}
.fg-panel-next {
	right: 5px;
}

@media only screen and (max-width : 414px) {
	.fg-panel-inner {
		top: 42px;
		left: 5px;
		bottom: 5px;
		right: 5px;
	}
	.fg-panel-buttons {
		flex-direction: row;
		align-items: stretch;
		height: 37px;
		border-bottom: solid 1px rgba(0, 0, 0, 0.1);
	}
	.fg-panel-expanded .fg-panel-buttons {
		border-bottom: solid 1px rgba(0, 0, 0, 0.3);
	}
	.fg-panel-buttons > *,
	.fg-panel-expanded .fg-panel-buttons > * {
		border: unset;
	}
	.fg-panel-close,
	.fg-panel-expand,
	.fg-panel-caption,
	.fg-panel-prev,
	.fg-panel-next {
		position: relative;
		top: unset;
		left: unset;
		bottom: unset;
		right: unset;
		width: 100%;
		height: 100%;
		border-radius: 0;
		transform: unset;
		margin-top: unset;
		margin-right: unset;
	}
}

/* icons */
.fg-panel-close .fg-icon,
.fg-panel-expand .fg-icon,
.fg-panel-caption .fg-icon,
.fg-panel-prev .fg-icon,
.fg-panel-next .fg-icon {
	display: block;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.fg-panel-expanded .fg-icon-expand,
.fg-panel-expand .fg-icon-shrink {
	display: none;
}
.fg-panel-expanded .fg-icon-shrink {
	display: block;
}

/* caption */
.fg-panel-caption-collapsed .fg-content-caption {
	display: none;
}

/* transitions */
.fg-panel-fade .fg-content-container,
.fg-panel-horizontal .fg-content-container,
.fg-panel-vertical .fg-content-container {
	transition-duration: .3s;
	transition-timing-function: ease-in-out;
}

/* content fade in/out */
.fg-panel-fade .fg-content-container {
	transition-property: opacity, visibility, padding;
	visibility: hidden;
	opacity: 0;
}
.fg-panel-fade .fg-content-container.fg-visible,
.fg-panel-fade .fg-content-container.fg-reverse.fg-visible {
	visibility: visible;
	opacity: 1;
}

/* content slide left/right */
.fg-panel-horizontal .fg-content-container {
	transition-property: opacity, visibility, transform, padding;
	transform: translateX(-100%);
	visibility: hidden;
	opacity: 0;
}
.fg-panel-horizontal .fg-content-container.fg-reverse {
	transform: translateX(100%);
}
.fg-panel-horizontal .fg-content-container.fg-visible,
.fg-panel-horizontal .fg-content-container.fg-reverse.fg-visible {
	transform: translateX(0);
	visibility: visible;
	opacity: 1;
}

/* content slide up/down */
.fg-panel-vertical .fg-content-container {
	transition-property: opacity, visibility, transform, padding;
	transform: translateY(-100%);
	visibility: hidden;
	opacity: 0;
}
.fg-panel-vertical .fg-content-container.fg-reverse {
	transform: translateY(100%);
}
.fg-panel-vertical .fg-content-container.fg-visible,
.fg-panel-vertical .fg-content-container.fg-reverse.fg-visible {
	transform: translateY(0);
	visibility: visible;
	opacity: 1;
}

/* content */
.fg-panel > .fg-panel-inner > .fg-content-container > .fg-content-inner > .fg-content-caption {
	background-color: rgba(0, 0, 0, 0.1);
	border-color: rgba(0, 0, 0, 0.1);
}
.fg-panel-expanded > .fg-panel-inner > .fg-content-container > .fg-content-inner > .fg-content-caption {
	background-color: rgba(0, 0, 0, 0.3);
	border-color: rgba(0, 0, 0, 0.3);
}
.fg-panel > .fg-panel-inner > .fg-content-caption-bottom > .fg-content-inner > .fg-content-caption,
.fg-panel > .fg-panel-inner > .fg-content-caption-top > .fg-content-inner > .fg-content-caption {
	margin-left: -42px;
	margin-right: -42px;
	padding-left: 42px;
	padding-right: 42px;
}
.fg-panel > .fg-panel-inner > .fg-content-caption-top > .fg-content-inner > .fg-content-caption {
	margin-top: -5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
.fg-panel > .fg-panel-inner > .fg-content-caption-bottom > .fg-content-inner > .fg-content-caption {
	margin-bottom: -5px;
	border-top-width: 1px;
	border-top-style: solid;
}
.fg-panel > .fg-panel-inner > .fg-content-caption-left > .fg-content-inner > .fg-content-caption,
.fg-panel > .fg-panel-inner > .fg-content-caption-right > .fg-content-inner > .fg-content-caption {
	margin-top: -5px;
	margin-bottom: -5px;
}
.fg-panel > .fg-panel-inner > .fg-content-caption-left > .fg-content-inner > .fg-content-caption {
	margin-left: -42px;
	padding-left: 42px;
	border-right-width: 1px;
	border-right-style: solid;
}
.fg-panel > .fg-panel-inner > .fg-content-caption-right > .fg-content-inner > .fg-content-caption {
	margin-right: -42px;
	padding-right: 42px;
	border-left-width: 1px;
	border-left-style: solid;
}
@media only screen and (max-width : 768px) {
	.fg-panel > .fg-panel-inner > .fg-content-caption-left > .fg-content-inner > .fg-content-caption,
	.fg-panel > .fg-panel-inner > .fg-content-caption-right > .fg-content-inner > .fg-content-caption {
		margin: 5px -42px -5px;
		padding-left: 10px;
		padding-right: 10px;
		border-left-width: unset;
		border-left-style: unset;
		border-right-width: unset;
		border-right-style: unset;
		border-top-width: 1px;
		border-top-style: solid;
	}
}
@media only screen and (max-width : 414px) {
	.fg-panel > .fg-panel-inner > .fg-content-caption-bottom > .fg-content-inner > .fg-content-caption,
	.fg-panel > .fg-panel-inner > .fg-content-caption-top > .fg-content-inner > .fg-content-caption,
	.fg-panel > .fg-panel-inner > .fg-content-caption-left > .fg-content-inner > .fg-content-caption,
	.fg-panel > .fg-panel-inner > .fg-content-caption-right > .fg-content-inner > .fg-content-caption {
		margin-left: -5px;
		margin-right: -5px;
		padding-left: 10px;
		padding-right: 10px;
	}
}