.fg-panel, .fg-panel * {
	box-sizing: border-box;
}
.fg-panel {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	overflow: hidden;
	outline: none;
}
.fg-panel-expanded {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
}
html.fg-panel-no-scroll, html.fg-panel-no-scroll body {
	overflow-x: hidden !important;
	overflow-y: hidden !important;
}
.fg-panel-inner {
	display: block;
	position: absolute;
	top: 5px;
	left: 42px;
	bottom: 5px;
	right: 42px;
}

.fg-panel-inner .fg-content-container {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.fg-panel-buttons {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-end;
	justify-content: flex-end;
}
.fg-panel-button {
	cursor: pointer;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
}
.fg-panel-close,
.fg-panel-expand,
.fg-panel-caption {
	display: block;
	position: relative;
	width: 32px;
	height: 32px;
	margin-top: 5px;
	margin-right: 5px;
}
.fg-panel-prev,
.fg-panel-next {
	display: block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 32px;
	height: 128px;
}
.fg-panel-prev {
	left: 5px;
}
.fg-panel-next {
	right: 5px;
}
.fg-medium .fg-panel-prev,
.fg-medium .fg-panel-next {
	height: 96px;
}
.fg-small .fg-panel-prev,
.fg-small .fg-panel-next {
	height: 64px;
}

/* icons */
.fg-panel-close .fg-icon,
.fg-panel-expand .fg-icon,
.fg-panel-caption .fg-icon,
.fg-panel-prev .fg-icon,
.fg-panel-next .fg-icon {
	display: block;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.fg-panel-expanded .fg-icon-expand,
.fg-panel-expand .fg-icon-shrink {
	display: none;
}
.fg-panel-expanded .fg-icon-shrink {
	display: block;
}

/* caption */
.fg-panel-caption-collapsed .fg-content-caption {
	display: none;
}