.fg-progress-ring {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    cursor: pointer;
}
.fg-progress-ring.fg-stopped,
.fg-progress-ring.fg-started {
    opacity: 1;
    visibility: visible;
}
.fg-progress-ring-inner {
    stroke: currentColor;
    fill: transparent;
    transition: stroke-dashoffset 1s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}
.fg-progress-ring-text {
    fill: currentColor;
    transform: translateY(1px);
    dominant-baseline: middle;
    text-anchor: middle;
    font-family: sans-serif;
    line-height: 1;
    font-weight: bold;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s, visibility 0.3s;
}
.fg-progress-ring.fg-stopped .fg-progress-ring-text {
    opacity: 0;
    visibility: hidden;
}

.fg-progress-ring-play,
.fg-progress-ring-pause {
    fill: currentColor;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}
.fg-progress-ring.fg-stopped .fg-progress-ring-play {
    opacity: 1;
    visibility: visible;
}

@media (hover: hover) {
    .fg-progress-ring.fg-stopped .fg-progress-ring-play,
    .fg-progress-ring.fg-stopped:hover .fg-progress-ring-text,
    .fg-progress-ring.fg-started:hover .fg-progress-ring-text {
        opacity: 0;
        visibility: hidden;
    }
    .fg-progress-ring.fg-stopped .fg-progress-ring-text,
    .fg-progress-ring.fg-stopped:hover .fg-progress-ring-play,
    .fg-progress-ring.fg-started:hover .fg-progress-ring-pause {
        opacity: 1;
        visibility: visible;
    }
}