/* Colorize */
.foogallery.fg-hover-colorize .fg-image {
	/* Firefox 10+, Firefox on Android */
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'saturate\' values=\'0\'/></filter></svg>#grayscale");
	/* IE 6-9 */
	filter: gray;
	/* Chrome 19+, Safari 6+, Safari 6+ iOS */
	-webkit-filter: grayscale(100%);
	-webkit-transition-property: -webkit-filter;
	transition-property: filter;
}
.foogallery.fg-hover-colorize .fg-item-inner:hover .fg-image {
	-webkit-filter: none;
	filter: none;
}
.foogallery.fg-hover-colorize .fg-thumb:before,
.foogallery.fg-caption-hover.fg-hover-colorize .fg-caption {
	display: block;
	left: 0;
	top: 0;
	bottom: 0;
	transition-property: visibility, opacity;
}
.foogallery.fg-hover-colorize .fg-item-inner:hover .fg-thumb:before,
.foogallery.fg-caption-hover.fg-hover-colorize .fg-item-inner:hover .fg-caption {
	visibility: visible;
	opacity: 1;
}
.foogallery.fg-caption-hover.fg-hover-colorize .fg-caption-inner {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.foogallery.fg-caption-hover.fg-hover-colorize .fg-thumb:before {
	display: none;
}