/* Fade */
.foogallery.fg-hover-fade .fg-loaded .fg-thumb:before,
.foogallery.fg-caption-hover.fg-hover-fade .fg-loaded .fg-caption {
	display: block;
	left: 0;
	top: 0;
	bottom: 0;
	transition-property: visibility, opacity;
}
.foogallery.fg-hover-fade .fg-loaded .fg-item-inner:hover .fg-thumb:before,
.foogallery.fg-caption-hover.fg-hover-fade .fg-loaded .fg-item-inner:hover .fg-caption {
	visibility: visible;
	opacity: 1;
}