/* Instant */
.foogallery.fg-hover-instant .fg-loaded .fg-image-overlay,
.foogallery.fg-caption-hover.fg-hover-instant .fg-loaded .fg-caption {
	display: block;
	left: 0;
	top: 0;
	bottom: 0;
	transition-property: none;
}
.foogallery.fg-hover-instant .fg-loaded .fg-item-inner:hover .fg-image-overlay,
.foogallery.fg-caption-hover.fg-hover-instant .fg-loaded .fg-item-inner:hover .fg-caption {
	visibility: visible;
	opacity: 1;
}