/* Instant */
.foogallery.fg-hover-instant .fg-thumb:before,
.foogallery.fg-caption-hover.fg-hover-instant .fg-caption {
	display: block;
	left: 0;
	top: 0;
	bottom: 0;
	transition-property: none;
}
.foogallery.fg-hover-instant .fg-item-inner:hover .fg-thumb:before,
.foogallery.fg-caption-hover.fg-hover-instant .fg-item-inner:hover .fg-caption {
	visibility: visible;
	opacity: 1;
}
.foogallery.fg-caption-hover.fg-hover-instant .fg-caption-inner {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.foogallery.fg-caption-hover.fg-hover-instant .fg-thumb:before {
	display: none;
}