/* Push */
.foogallery.fg-hover-push .fg-thumb:before,
.foogallery.fg-caption-hover.fg-hover-push .fg-caption {
	display: block;
	left: 0;
	top: 0;
	bottom: 0;
	transform: translateX(100%);
	visibility: visible;
	opacity: 1;
}
.foogallery.fg-hover-push .fg-thumb,
.foogallery.fg-caption-hover.fg-hover-push .fg-caption {
	transition-property: transform;
}
.foogallery.fg-caption-hover.fg-hover-push .fg-item-inner:hover .fg-caption {
	transform: translateY(0);
}
.foogallery.fg-hover-push .fg-item-inner:hover .fg-thumb,
.foogallery.fg-caption-hover.fg-hover-push .fg-item-inner:hover .fg-thumb {
	transform: translateX(-100%);
}
.foogallery.fg-caption-hover.fg-hover-push .fg-item-inner .fg-caption-inner {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.foogallery.fg-caption-hover.fg-hover-push .fg-thumb:before {
	display: none;
}