/* Scale */
.foogallery.fg-hover-scale .fg-item {
	transition-property: transform;
	z-index: 4;
}

.foogallery.fg-hover-scale .fg-item:hover {
	transform: scale(1.048);
	z-index: 10;
}
.foogallery.fg-hover-scale .fg-image-overlay,
.foogallery.fg-caption-hover.fg-hover-scale .fg-caption {
	display: block;
	left: 0;
	top: 0;
	bottom: 0;
	transition-property: visibility, opacity, background-color;
}
.foogallery.fg-hover-scale .fg-item-inner:hover .fg-image-overlay,
.foogallery.fg-caption-hover.fg-hover-scale .fg-item-inner:hover .fg-caption {
	visibility: visible;
	opacity: 1;
}