.fg-content-container {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
}
.fg-content-container.fg-idle .fg-content,
.fg-content-container.fg-loading .fg-content {
	visibility: hidden;
	opacity: 0;
}
.fg-content-container.fg-loaded .fg-content {
	visibility: visible;
	opacity: 1;
}


.fg-content-container .fg-loader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 1em;
	height: 1em;
	font-size: 5px;
	visibility: hidden;
	opacity: 0;
}
.fg-content-container.fg-loading .fg-loader {
	visibility: visible;
	opacity: 1;
}


.fg-content-inner {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.fg-content-item {
	position: relative;
	width: 100%;
	height: 100%;
}
.fg-content-caption {
	position: relative;
	width: auto;
	height: auto;
	padding: 10px;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.3;
	display: none;
}
.fg-content-title {
	font-size: larger;
	margin-bottom: 10px;
}
.fg-content-description {

}

/* Caption Position */
.fg-content-caption-bottom .fg-content-inner {
	flex-direction: column;
}
.fg-content-caption-top .fg-content-inner {
	flex-direction: column-reverse;
}
.fg-content-caption-right .fg-content-inner {
	flex-direction: row;
}
.fg-content-caption-left .fg-content-inner {
	flex-direction: row-reverse;
}
.fg-content-caption-bottom .fg-content-caption,
.fg-content-caption-top .fg-content-caption,
.fg-content-caption-left .fg-content-caption,
.fg-content-caption-right .fg-content-caption {
	display: block;
}
.fg-content-caption-bottom .fg-content-caption {
	margin-top: 5px;
}
.fg-content-caption-top .fg-content-caption {
	margin-bottom: 5px;
}
.fg-content-caption-left .fg-content-item,
.fg-content-caption-right .fg-content-item {
	flex: 2;
}
.fg-content-caption-right .fg-content-caption,
.fg-content-caption-left .fg-content-caption {
	flex: 1;
	max-width: 420px;
}
.fg-content-caption-right .fg-content-caption {
	margin-left: 5px;
}
.fg-content-caption-left .fg-content-caption {
	margin-right: 5px;
}

.fg-content-caption-overlay.fg-content-caption-bottom .fg-content-caption,
.fg-content-caption-overlay.fg-content-caption-top .fg-content-caption,
.fg-content-caption-overlay.fg-content-caption-left .fg-content-caption,
.fg-content-caption-overlay.fg-content-caption-right .fg-content-caption {
	position: absolute;
	top: unset;
	left: unset;
	bottom: unset;
	right: unset;
}
.fg-content-caption-overlay.fg-content-caption-bottom .fg-content-caption,
.fg-content-caption-overlay.fg-content-caption-top .fg-content-caption {
	left: 0;
	right: 0;
}
.fg-content-caption-overlay.fg-content-caption-bottom .fg-content-caption {
	bottom: 0;
}
.fg-content-caption-overlay.fg-content-caption-top .fg-content-caption {
	top: 0;
}
.fg-content-caption-overlay.fg-content-caption-left .fg-content-caption,
.fg-content-caption-overlay.fg-content-caption-right .fg-content-caption {
	top: 0;
	bottom: 0;
}
.fg-content-caption-overlay.fg-content-caption-left .fg-content-caption {
	left: 0;
}
.fg-content-caption-overlay.fg-content-caption-right .fg-content-caption {
	right: 0;
}

/* Content */
.fg-content {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	max-width: 100%;
	max-height: 100%;
}
.fg-content-image .fg-content {
	height: auto;
}
.fg-content-iframe .fg-content,
.fg-content-video .fg-content {
	width: 100%;
	height: 100%;
}
.fg-content-video .fg-content {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.fg-content-html .fg-content {

}
/*.fg-content-video .fg-content,*/
/*.fg-content-embed .fg-content {*/
/*	background-color: #000;*/
/*}*/
.fg-content-embed .fg-content .fb-video > span,
.fg-content-embed .fg-content > iframe,
.fg-content-embed .fg-content > video,
.fg-content-embed .fg-content > object {
	margin: 0;
	border: 0;
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
}