.fg-content-container {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
}
.fg-content-container > * {
	transition: opacity 300ms, visibility 300ms;
}
.fg-content-container.fg-idle .fg-content-item > *,
.fg-content-container.fg-loading .fg-content-item > * {
	visibility: hidden;
	opacity: 0;
}
.fg-content-container.fg-loaded .fg-content-item > * {
	visibility: visible;
	opacity: 1;
}


.fg-content-container .fg-content-item > .fg-loader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 1em;
	height: 1em;
	font-size: 5px;
	visibility: hidden;
	opacity: 0;
}
.fg-content-container.fg-loading .fg-content-item > .fg-loader {
	visibility: visible;
	opacity: 1;
}


.fg-content-inner {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.fg-content-item {
	position: relative;
	width: 100%;
	height: 100%;
}
.fg-content-caption {
	position: relative;
	width: 100%;
	height: auto;
	padding: 10px;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	font-size: 13px;
}
.fg-content-title {
	font-size: larger;
	margin-bottom: 5px;
}
.fg-content-description {

}

.fg-content {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	max-width: 100%;
	max-height: 100%;
}
.fg-content-image .fg-content {
	height: auto;
}
.fg-content-iframe .fg-content,
.fg-content-video .fg-content {
	width: 100%;
	height: 100%;
}
.fg-content-video .fg-content {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.fg-content-html .fg-content {

}
.fg-content-video .fg-content,
.fg-content-embed .fg-content {
	background-color: #000;
}
.fg-content-embed .fg-content .fb-video > span,
.fg-content-embed .fg-content > iframe,
.fg-content-embed .fg-content > video,
.fg-content-embed .fg-content > object {
	margin: 0;
	border: 0;
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
}