.foogallery, .foogallery * {
	box-sizing: border-box;
}
.foogallery {
	display: block;
	z-index: 1;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	position: relative;
	line-height: 0;
	font-size: 0;
	width: 100%;
	max-width: 100%;
}
.foogallery .fg-item {
	display: inline-block;
	position: relative;
	background-color: transparent;
	z-index: 2;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.foogallery .fg-item.fg-hidden {
	display: none!important;
}
.foogallery .fg-item-inner {
	display: block;
	position: relative;
	visibility: hidden;
	overflow: hidden;
	opacity: 0;
	z-index: 3;
	margin: 0;
	border: solid 0 transparent;
}

.foogallery .fg-item.fg-error:before {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 32px;
	height: 32px;
	background-image: url('../img/icons.svg#image');
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 32px 32px;
}

.foogallery .fg-item.fg-loaded {
	z-index: 4;
}
.foogallery .fg-loaded .fg-item-inner {
	visibility: visible;
	opacity: 1;
	z-index: 5;
}
.foogallery .fg-error .fg-item-inner {
	pointer-events: none;
	cursor: default;
}
.foogallery .fg-thumb {
	display: block;
	position: relative;
	border: none;
	outline: 0;
	text-decoration: none;
	z-index: 4;
	box-shadow: none;
}
.foogallery .fg-thumb:hover,
.foogallery .fg-thumb:focus {
	border: none;
	outline: 0;
	text-decoration: none;
	box-shadow: none;
}
.foogallery .fg-image-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 8;
	visibility: hidden;
	opacity: 0;
}
.foogallery .fg-image-wrap {
	display: block;
	position: relative;
}
.foogallery .fg-image {
	display: block;
	position: relative;
	border: none;
	outline: 0;
	text-decoration: none;
	z-index: 5;
	max-width: none;
	height: auto;
	margin: 0;
}
.foogallery .fg-loaded .fg-thumb {
	z-index: 6;
}
.foogallery .fg-loaded .fg-image {
	z-index: 7;
}

