<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Default</title>
    <link href="../assets/theme.css" rel="stylesheet" type="text/css">
    <script src="../assets/jquery.min.js" defer></script>
    <script src="../assets/theme.js" defer></script>
</head>
<body class="dark">
<header>
    <ul>
        <li><a href="../index.html">Templates</a></li>
        <li><h1>Default</h1></li>
    </ul>
</header>
<main><small><span class="recommended">*</span> Maximum recommended item and/or page counts for the template.</small>        <section id="recommended">
            <h2>Recommended Galleries</h2>
        <p>The following are the recommended item counts and output types for this template.</p><ul><li>
                        <a href="50-html-items-lazy-loading.html">50 Html Items + Lazy Loading</a>
                    </li><li>
                        <a href="50-html-items-tags-lazy-loading.html">50 Html Items + Tags + Lazy Loading</a>
                    </li><li>
                        <a href="500-mixed-items-50-per-page-dots-lazy-loading.html">500 Mixed Items @ 50 Per Page + Dots + Lazy Loading</a>
                    </li><li>
                        <a href="500-mixed-items-50-per-page-infinite-lazy-loading.html">500 Mixed Items @ 50 Per Page + Infinite + Lazy Loading</a>
                    </li><li>
                        <a href="500-mixed-items-50-per-page-load-more-lazy-loading.html">500 Mixed Items @ 50 Per Page + Load More + Lazy Loading</a>
                    </li><li>
                        <a href="500-mixed-items-50-per-page-pagination-lazy-loading.html">500 Mixed Items @ 50 Per Page + Pagination + Lazy Loading</a>
                    </li><li>
                        <a href="500-mixed-items-50-per-page-tags-dots-lazy-loading.html">500 Mixed Items @ 50 Per Page + Tags + Dots + Lazy Loading</a>
                    </li><li>
                        <a href="500-mixed-items-50-per-page-tags-infinite-lazy-loading.html">500 Mixed Items @ 50 Per Page + Tags + Infinite + Lazy Loading</a>
                    </li><li>
                        <a href="500-mixed-items-50-per-page-tags-load-more-lazy-loading.html">500 Mixed Items @ 50 Per Page + Tags + Load More + Lazy Loading</a>
                    </li><li>
                        <a href="500-mixed-items-50-per-page-tags-pagination-lazy-loading.html">500 Mixed Items @ 50 Per Page + Tags + Pagination + Lazy Loading</a>
                    </li></ul>    <section id="recommended_max">
                <h3>Max Variations</h3>
            <ul><li>
                            <a href="100-html-items-lazy-loading.html">100 Html Items + Lazy Loading<span class="recommended">*</span></a>
                        </li><li>
                            <a href="100-html-items-tags-lazy-loading.html">100 Html Items + Tags + Lazy Loading<span class="recommended">*</span></a>
                        </li><li>
                            <a href="1000-mixed-items-100-per-page-dots-lazy-loading.html">1000 Mixed Items @ 100 Per Page + Dots + Lazy Loading<span class="recommended">*</span></a>
                        </li><li>
                            <a href="1000-mixed-items-100-per-page-infinite-lazy-loading.html">1000 Mixed Items @ 100 Per Page + Infinite + Lazy Loading<span class="recommended">*</span></a>
                        </li><li>
                            <a href="1000-mixed-items-100-per-page-load-more-lazy-loading.html">1000 Mixed Items @ 100 Per Page + Load More + Lazy Loading<span class="recommended">*</span></a>
                        </li><li>
                            <a href="1000-mixed-items-100-per-page-pagination-lazy-loading.html">1000 Mixed Items @ 100 Per Page + Pagination + Lazy Loading<span class="recommended">*</span></a>
                        </li><li>
                            <a href="1000-mixed-items-100-per-page-tags-dots-lazy-loading.html">1000 Mixed Items @ 100 Per Page + Tags + Dots + Lazy Loading<span class="recommended">*</span></a>
                        </li><li>
                            <a href="1000-mixed-items-100-per-page-tags-infinite-lazy-loading.html">1000 Mixed Items @ 100 Per Page + Tags + Infinite + Lazy Loading<span class="recommended">*</span></a>
                        </li><li>
                            <a href="1000-mixed-items-100-per-page-tags-load-more-lazy-loading.html">1000 Mixed Items @ 100 Per Page + Tags + Load More + Lazy Loading<span class="recommended">*</span></a>
                        </li><li>
                            <a href="1000-mixed-items-100-per-page-tags-pagination-lazy-loading.html">1000 Mixed Items @ 100 Per Page + Tags + Pagination + Lazy Loading<span class="recommended">*</span></a>
                        </li></ul></section></section></main>
</body>
</html>