/* Base styles */
.fg-masonry * {
	box-sizing: border-box;
}
.foogallery.fg-masonry {
    --fg-gutter: 10px;
    --fg-column-width: 100%;
    --fg-col2-width: calc( calc( 100% - calc( var(--fg-gutter) * 1 ) ) / 2 );
    --fg-col3-width: calc( calc( 100% - calc( var(--fg-gutter) * 2 ) ) / 3 );
    --fg-col4-width: calc( calc( 100% - calc( var(--fg-gutter) * 3 ) ) / 4 );
    --fg-col5-width: calc( calc( 100% - calc( var(--fg-gutter) * 4 ) ) / 5 );
    --fg-col6-width: calc( calc( 100% - calc( var(--fg-gutter) * 5 ) ) / 6 );
	margin: 0 auto;
	text-align: center;
}
.fg-masonry .fg-thumb {
	display: block;
}
.fg-masonry.fg-fixed .fg-item,
.fg-masonry.fg-fixed .fg-image,
.fg-masonry.fg-fixed .fg-column-width {
	max-width: 100%;
}

.fg-masonry .fg-column-width {
	display: inline-block;
	border: solid 0 transparent;
}
.fg-masonry .fg-column-width,
.fg-masonry .fg-gutter-width {
	position: absolute;
	height: 0;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

.fg-masonry.fg-fixed .fg-item .fg-image,
.fg-masonry.fg-col6 .fg-item .fg-image,
.fg-masonry.fg-col5 .fg-item .fg-image,
.fg-masonry.fg-col4 .fg-item .fg-image,
.fg-masonry.fg-col3 .fg-item .fg-image,
.fg-masonry.fg-col2 .fg-item .fg-image {
	width: 100%;
	height: auto;
	max-width: 100%;
}

.fg-masonry .fg-item {
	line-height: 0;
	font-size: 0;
	vertical-align: top;
}

.fg-masonry .fg-item { margin-bottom: var(--fg-gutter); margin-right: var(--fg-gutter); width: var(--fg-column-width); }
.fg-masonry .fg-column-width { width: var(--fg-column-width); }
.fg-masonry .fg-gutter-width { width: var(--fg-gutter); }

.fg-masonry.fg-col1 .fg-item:nth-child(1n+3),
.fg-masonry.fg-col2 .fg-item:nth-child(2n+4),
.fg-masonry.fg-col3 .fg-item:nth-child(3n+5),
.fg-masonry.fg-col4 .fg-item:nth-child(4n+6),
.fg-masonry.fg-col5 .fg-item:nth-child(5n+7),
.fg-masonry.fg-col6 .fg-item:nth-child(6n+8) {
    margin-right: 0;
}

.fg-masonry.fg-col2 {
    --fg-column-width: var(--fg-col2-width);
}
.fg-masonry.fg-col3 {
    --fg-column-width: var(--fg-col3-width);
}
.fg-masonry.fg-col4 {
    --fg-column-width: var(--fg-col4-width);
}
.fg-masonry.fg-col5 {
    --fg-column-width: var(--fg-col5-width);
}
.fg-masonry.fg-col6 {
    --fg-column-width: var(--fg-col6-width);
}

/* Force 5 column layout < 1280px */
@media screen and (max-width: 1280px) {
    .fg-masonry.fg-col6 {
        --fg-column-width: var(--fg-col5-width);
    }
    .fg-masonry.fg-col6 .fg-item:nth-child(5n+7) {
        margin-right: 0;
    }
}
/* Force 4 column layout < 1024px */
@media screen and (max-width: 1024px) {
    .fg-masonry.fg-col5,
    .fg-masonry.fg-col6 {
        --fg-column-width: var(--fg-col4-width);
    }
    .fg-masonry.fg-col5 .fg-item:nth-child(4n+6),
    .fg-masonry.fg-col6 .fg-item:nth-child(4n+6) {
        margin-right: 0;
    }
}
/* Force 3 column layout < 720px */
@media screen and (max-width: 720px) {
    .fg-masonry.fg-col4,
    .fg-masonry.fg-col5,
    .fg-masonry.fg-col6 {
        --fg-column-width: var(--fg-col3-width);
    }
    .fg-masonry.fg-col4 .fg-item:nth-child(3n+5),
    .fg-masonry.fg-col5 .fg-item:nth-child(3n+5),
    .fg-masonry.fg-col6 .fg-item:nth-child(3n+5) {
        margin-right: 0;
    }
}
/* Force 2 column layout < 480px */
@media screen and (max-width: 480px) {
    .fg-masonry.fg-col3,
    .fg-masonry.fg-col4,
    .fg-masonry.fg-col5,
    .fg-masonry.fg-col6 {
        --fg-column-width: var(--fg-col2-width);
    }
    .fg-masonry.fg-col3 .fg-item:nth-child(2n+4),
    .fg-masonry.fg-col4 .fg-item:nth-child(2n+4),
    .fg-masonry.fg-col5 .fg-item:nth-child(2n+4),
    .fg-masonry.fg-col6 .fg-item:nth-child(2n+4) {
        margin-right: 0;
    }
}
/* Force 1 column layout < 320px */
@media screen and (max-width: 320px) {
    .fg-masonry.fg-col2,
    .fg-masonry.fg-col3,
    .fg-masonry.fg-col4,
    .fg-masonry.fg-col5,
    .fg-masonry.fg-col6 {
        --fg-gutter: 0;
        --fg-column-width: 100%;
    }
    .fg-masonry.fg-col2 .fg-item:nth-child(1n+3),
    .fg-masonry.fg-col3 .fg-item:nth-child(1n+3),
    .fg-masonry.fg-col4 .fg-item:nth-child(1n+3),
    .fg-masonry.fg-col5 .fg-item:nth-child(1n+3),
    .fg-masonry.fg-col6 .fg-item:nth-child(1n+3) {
        margin-right: 0;
    }
}

/* Border Styles - We must apply width changing border styles to the fg-column-width element so that the plugin can correctly determine the item widths. */
.foogallery.fg-border-thin .fg-column-width {
	border-width: 4px;
}
.foogallery.fg-border-medium .fg-column-width {
	border-width: 10px;
}
.foogallery.fg-border-thick .fg-column-width {
	border-width: 16px;
}

/* Captions Bottom */
.foogallery.fg-masonry.fg-captions-bottom .fg-item-inner .fg-caption {
	display: flex;
	visibility: visible;
	opacity: 1;
	font-size: 13px;
	position: relative;
	top: auto;
	bottom: auto;
	left: auto;
	right: auto;
	width: auto;
	height: auto;
	text-transform: none;
	transform: none;
	transition: none;
	background-color: transparent;
	border: none;
	text-align: left;
}
.foogallery.fg-masonry.fg-captions-bottom.fg-c-l .fg-item-inner .fg-caption {
	text-align: left;
}
.foogallery.fg-masonry.fg-captions-bottom.fg-c-c .fg-item-inner .fg-caption {
	text-align: center;
}
.foogallery.fg-masonry.fg-captions-bottom.fg-c-r .fg-item-inner .fg-caption {
	text-align: right;
}
.foogallery.fg-masonry.fg-captions-bottom.fg-c-j .fg-item-inner .fg-caption {
	text-align: justify;
}
.foogallery.fg-masonry.fg-captions-bottom .fg-item-inner:hover .fg-caption {
	transform: none;
	transition: none;
}
.foogallery.fg-masonry.fg-captions-bottom .fg-item-inner .fg-caption-inner {
	display: flex;
	position: relative;
	max-height: none;
	top: auto;
	bottom: auto;
	left: auto;
	right: auto;
	width: auto;
	height: auto;
	border: none;
	transform: none;
	transition: none;
}
.foogallery.fg-masonry.fg-captions-bottom .fg-item-inner .fg-caption-inner:before {
	display: none;
}
.foogallery.fg-masonry.fg-captions-bottom.fg-caption-hover .fg-item-inner .fg-image-overlay {
	display: block;
}
.foogallery.fg-masonry.fg-captions-bottom.fg-caption-always .fg-item-inner:hover .fg-caption {
	visibility: visible;
	opacity: 1;
}

/* Captions */
.fg-masonry.fg-captions-bottom.fg-dark .fg-caption-title,
.fg-masonry.fg-captions-bottom.fg-dark .fg-caption-title a {
    color: #FFF;
}
.fg-masonry.fg-captions-bottom.fg-light .fg-caption-title {
    color: #222;
}
.fg-masonry.fg-captions-bottom.fg-dark .fg-caption-desc,
.fg-masonry.fg-captions-bottom.fg-dark .fg-caption-desc a {
    color: #ccc;
}
.fg-masonry.fg-captions-bottom.fg-light .fg-caption-desc,
.fg-masonry.fg-captions-bottom.fg-light .fg-caption-desc a {
    color: #828282;
}
.fg-masonry.fg-captions-bottom.fg-dark .fg-item-inner:hover .fg-caption-desc,
.fg-masonry.fg-captions-bottom.fg-dark .fg-item-inner:focus-within .fg-caption-desc,
.fg-masonry.fg-captions-bottom.fg-dark .fg-item-inner:hover .fg-caption-desc a,
.fg-masonry.fg-captions-bottom.fg-dark .fg-item-inner:focus-within .fg-caption-desc a {
    color: #FFF;
}
.fg-masonry.fg-captions-bottom.fg-light .fg-item-inner:hover .fg-caption-desc,
.fg-masonry.fg-captions-bottom.fg-light .fg-item-inner:focus-within .fg-caption-desc,
.fg-masonry.fg-captions-bottom.fg-light .fg-item-inner:hover .fg-caption-desc a,
.fg-masonry.fg-captions-bottom.fg-light .fg-item-inner:focus-within .fg-caption-desc a {
    color: #222;
}

/* Caption Buttons */
.foogallery.fg-masonry:is(.fg-captions-bottom,.fg-caption-always) .fg-caption-buttons,
.foogallery.fg-masonry.fg-c-l .fg-caption-buttons {
    justify-content: flex-start;
}
.foogallery.fg-masonry.fg-c-c .fg-caption-buttons {
    justify-content: center;
}
.foogallery.fg-masonry.fg-c-r .fg-caption-buttons {
    justify-content: flex-end;
}
.foogallery.fg-masonry.fg-c-j .fg-caption-buttons {
    justify-content: stretch;
}

/* Handle Border Sizing for Captions Below */
.fg-masonry.fg-captions-bottom .fg-caption {
	padding: 10px;
}
.fg-masonry.fg-captions-bottom.fg-border-thin .fg-caption {
	padding: 10px 6px 6px 6px;
}
.fg-masonry.fg-captions-bottom.fg-border-medium .fg-caption {
	padding: 10px 0 0 0;
}
.fg-masonry.fg-captions-bottom.fg-border-thick .fg-caption {
	padding: 16px 0 0 0;
}

/* Transparent Theme */
.fg-masonry.fg-transparent .fg-item-inner {
	background-color: transparent;
	color: #333;
	border-color: transparent;
}

/* Captions */
.fg-masonry.fg-transparent .fg-caption {
	color: #7f7f7f;
}
.fg-masonry.fg-transparent .fg-caption a {
	color: #7f7f7f;
	border-bottom: 1px solid #7f7f7f;
}
.fg-masonry.fg-transparent .fg-caption a:hover {
	border-bottom: none;
}
.fg-masonry.fg-transparent .fg-caption-title,
.fg-masonry.fg-transparent .fg-caption-title a {
	color: #333;
}
.fg-masonry.fg-transparent .fg-caption-title a {
	border-bottom: 1px solid #333;
}

/* Rounded Corners */
.fg-masonry.fg-transparent.fg-round-full .fg-item,
.fg-masonry.fg-transparent.fg-round-full .fg-item-inner {
	border-radius: 15px;
}
.fg-masonry.fg-transparent.fg-round-full .fg-image-wrap,
.fg-masonry.fg-transparent.fg-round-full .fg-image-overlay,
.fg-masonry.fg-transparent.fg-round-full.fg-shadow-inset-small .fg-thumb:after,
.fg-masonry.fg-transparent.fg-round-full.fg-shadow-inset-medium .fg-thumb:after,
.fg-masonry.fg-transparent.fg-round-full.fg-shadow-inset-large .fg-thumb:after {
	border-radius: 50%;
	overflow: hidden;
}

.fg-masonry.fg-transparent.fg-round-small:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-image-wrap,
.fg-masonry.fg-transparent.fg-round-small:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-image-overlay,
.fg-masonry.fg-transparent.fg-round-medium:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-image-wrap,
.fg-masonry.fg-transparent.fg-round-medium:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-image-overlay,
.fg-masonry.fg-transparent.fg-round-large:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-image-wrap,
.fg-masonry.fg-transparent.fg-round-large:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-image-overlay {
	overflow: hidden;
}
.fg-masonry.fg-transparent.fg-round-small.fg-shadow-inset-small:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-thumb:after,
.fg-masonry.fg-transparent.fg-round-small.fg-shadow-inset-medium:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-thumb:after,
.fg-masonry.fg-transparent.fg-round-small.fg-shadow-inset-large:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-thumb:after,
.fg-masonry.fg-transparent.fg-round-small:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-image-wrap,
.fg-masonry.fg-transparent.fg-round-small:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-image-overlay {
	border-radius: 5px;
}
.fg-masonry.fg-transparent.fg-round-medium.fg-shadow-inset-small:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-thumb:after,
.fg-masonry.fg-transparent.fg-round-medium.fg-shadow-inset-medium:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-thumb:after,
.fg-masonry.fg-transparent.fg-round-medium.fg-shadow-inset-large:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-thumb:after,
.fg-masonry.fg-transparent.fg-round-medium:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-image-wrap,
.fg-masonry.fg-transparent.fg-round-medium:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-image-overlay {
	border-radius: 10px;
}
.fg-masonry.fg-transparent.fg-round-large.fg-shadow-inset-small:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-thumb:after,
.fg-masonry.fg-transparent.fg-round-large.fg-shadow-inset-medium:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-thumb:after,
.fg-masonry.fg-transparent.fg-round-large.fg-shadow-inset-large:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-thumb:after,
.fg-masonry.fg-transparent.fg-round-large:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-image-wrap,
.fg-masonry.fg-transparent.fg-round-large:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-image-overlay {
	border-radius: 15px;
}

/* Shadows */
.fg-masonry.fg-transparent.fg-shadow-inset-small .fg-thumb:after {
	box-shadow: inset 0 1px 4px 0 rgba(0,0,0,0.3);
}
.fg-masonry.fg-transparent.fg-shadow-inset-medium .fg-thumb:after {
	box-shadow: inset 0 1px 10px 0 rgba(0,0,0,0.3);
}
.fg-masonry.fg-transparent.fg-shadow-inset-large .fg-thumb:after {
	box-shadow: inset 0 1px 16px 0 rgba(0,0,0,0.3);
}

.fg-masonry.fg-transparent.fg-shadow-outline .fg-item-inner {
	box-shadow: 0 0 0 1px rgba(128, 128, 128, 0.5);
}
.fg-masonry.fg-transparent.fg-shadow-small .fg-item-inner {
	box-shadow: 0 1px 4px 0 rgba(128, 128, 128, 0.5);
}
.fg-masonry.fg-transparent.fg-shadow-medium .fg-item-inner {
	box-shadow: 0 1px 10px 0 rgba(128, 128, 128, 0.5);
}
.fg-masonry.fg-transparent.fg-shadow-large .fg-item-inner {
	box-shadow: 0 1px 16px 0 rgba(128, 128, 128, 0.5);
}

/* Transitions */
.fg-masonry.fg-hover-instant .fg-loaded .fg-caption-desc,
.fg-masonry.fg-hover-fade .fg-loaded .fg-caption-desc,
.fg-masonry.fg-hover-slide-up .fg-loaded .fg-caption-desc,
.fg-masonry.fg-hover-slide-down .fg-loaded .fg-caption-desc,
.fg-masonry.fg-hover-slide-left .fg-loaded .fg-caption-desc,
.fg-masonry.fg-hover-slide-right .fg-loaded .fg-caption-desc,
.fg-masonry.fg-hover-push .fg-loaded .fg-caption-desc,
.fg-masonry.fg-hover-colorize .fg-loaded .fg-caption-desc,
.fg-masonry.fg-hover-grayscale .fg-loaded .fg-caption-desc,
.fg-masonry.fg-hover-scale .fg-loaded .fg-caption-desc,
.fg-masonry.fg-hover-zoomed .fg-loaded .fg-caption-desc,
.fg-masonry.fg-hover-colorize .fg-loaded .fg-caption-desc,
.fg-masonry.fg-hover-grayscale .fg-loaded .fg-caption-desc {
	transition-timing-function: ease;
	transition-duration: 300ms;
	backface-visibility: hidden;
}