.fg-image-viewer.fg-overlay-controls .fiv-inner .fiv-ctrls {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
    background: none;
    pointer-events: none;
    visibility: visible;
    opacity: 1;
    transition: visibility .3s ease, opacity .3s ease;
}
.fg-image-viewer.fg-overlay-controls.fg-not-ready .fiv-inner .fiv-ctrls {
    visibility: hidden;
    opacity: 0;
}
.fg-image-viewer.fg-overlay-controls .fiv-inner .fiv-ctrls .fiv-prev,
.fg-image-viewer.fg-overlay-controls .fiv-inner .fiv-ctrls .fiv-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    min-width: unset;
    width: 40px;
    height: 40px;
    pointer-events: auto;
    opacity: 0.3;
    transition: opacity .3s ease;
}
.fg-image-viewer.fg-overlay-controls .fiv-inner .fiv-ctrls .fiv-prev {
    left: 20px;
}
.fg-image-viewer.fg-overlay-controls .fiv-inner .fiv-ctrls .fiv-next {
    right: 20px;
}
.fg-image-viewer.fg-overlay-controls .fiv-inner:hover .fiv-ctrls .fiv-prev,
.fg-image-viewer.fg-overlay-controls .fiv-inner:hover .fiv-ctrls .fiv-next {
    opacity: 0.6;
}
.fg-image-viewer.fg-overlay-controls .fiv-inner .fiv-ctrls .fiv-prev:hover,
.fg-image-viewer.fg-overlay-controls .fiv-inner .fiv-ctrls .fiv-next:hover {
    opacity: 1;
}

.fg-image-viewer.fg-overlay-controls .fiv-inner .fiv-ctrls .fiv-prev:before,
.fg-image-viewer.fg-overlay-controls .fiv-inner .fiv-ctrls .fiv-next:before {
    content: '\279C';
    width: 100%;
    height: 100%;
    transform: translateY(0);
    line-height: 40px;
}
.fg-image-viewer.fg-overlay-controls .fiv-inner .fiv-ctrls .fiv-prev:before {
    transform: rotate(180deg);
}
.fg-image-viewer.fg-overlay-controls .fiv-inner .fiv-ctrls .fiv-prev span,
.fg-image-viewer.fg-overlay-controls .fiv-inner .fiv-ctrls .fiv-next span {
    display: none;
}

.fg-image-viewer.fg-overlay-controls .fiv-inner .fiv-ctrls .fiv-count {
    display: none;
}

/* Border Sizes */
.fg-image-viewer.fg-overlay-controls:not(.fg-border-thin,.fg-border-medium,.fg-border-thick) .fg-item-inner,
.fg-image-viewer.fg-overlay-controls:not(.fg-border-thin,.fg-border-medium,.fg-border-thick) .fiv-inner .fiv-inner-container { background-color: transparent; }

.fg-image-viewer.fg-overlay-controls { --border-width: 0px; }
.fg-image-viewer.fg-overlay-controls.fg-border-thin { --border-width: 4px; }
.fg-image-viewer.fg-overlay-controls.fg-border-medium { --border-width: 8px; }
.fg-image-viewer.fg-overlay-controls.fg-border-thick { --border-width: 16px; }

.fg-image-viewer.fg-overlay-controls:not(.fg-border-thin,.fg-border-medium,.fg-border-thick) .fiv-inner .fiv-inner-container {
    border: none;
}
.fg-image-viewer.fg-overlay-controls.fg-border-thin .fiv-inner .fiv-ctrls,
.fg-image-viewer.fg-overlay-controls.fg-border-medium .fiv-inner .fiv-ctrls,
.fg-image-viewer.fg-overlay-controls.fg-border-thick .fiv-inner .fiv-ctrls {
    top: var(--border-width);
    left: var(--border-width);
    width: calc(100% - calc(var(--border-width) * 2));
    height: calc(100% - calc(var(--border-width) * 2));
}

/* Border Radius */
.fg-image-viewer.fg-overlay-controls { --border-radius: 0px; }
.fg-image-viewer.fg-overlay-controls.fg-round-small { --border-radius: 5px; }
.fg-image-viewer.fg-overlay-controls.fg-round-medium { --border-radius: 10px; }
.fg-image-viewer.fg-overlay-controls.fg-round-large { --border-radius: 15px; }

.foogallery.fg-image-viewer.fg-overlay-controls.fg-round-small .fiv-inner,
.foogallery.fg-image-viewer.fg-overlay-controls.fg-round-small .fiv-inner-container,
.foogallery.fg-image-viewer.fg-overlay-controls.fg-round-medium .fiv-inner,
.foogallery.fg-image-viewer.fg-overlay-controls.fg-round-medium .fiv-inner-container,
.foogallery.fg-image-viewer.fg-overlay-controls.fg-round-large .fiv-inner,
.foogallery.fg-image-viewer.fg-overlay-controls.fg-round-large .fiv-inner-container {
    border-radius: var(--border-radius);
}
.foogallery.fg-image-viewer.fg-overlay-controls.fg-round-small .fg-item,
.foogallery.fg-image-viewer.fg-overlay-controls.fg-round-small .fg-item-inner,
.foogallery.fg-image-viewer.fg-overlay-controls.fg-round-medium .fg-item,
.foogallery.fg-image-viewer.fg-overlay-controls.fg-round-medium .fg-item-inner,
.foogallery.fg-image-viewer.fg-overlay-controls.fg-round-large .fg-item,
.foogallery.fg-image-viewer.fg-overlay-controls.fg-round-large .fg-item-inner {
    border-radius: max(0px, calc(var(--border-radius) - var(--border-width)));
}

/* Paging Overrides */
.fg-image-viewer.fg-overlay-controls .fg-paging-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 1;
}
.fg-image-viewer.fg-overlay-controls.fg-dots-left .fg-paging-container {
    text-align: left;
}
.fg-image-viewer.fg-overlay-controls.fg-dots-center .fg-paging-container {
    text-align: center;
}
.fg-image-viewer.fg-overlay-controls.fg-dots-right .fg-paging-container {
    text-align: right;
}
.fg-image-viewer.fg-overlay-controls .fg-paging-container .fg-dots {
    pointer-events: auto;
    opacity: 0.3;
    transition: opacity .3s ease;
}
.fg-image-viewer.fg-overlay-controls .fiv-inner:hover .fg-paging-container .fg-dots {
    opacity: 0.6;
}
.fg-image-viewer.fg-overlay-controls .fiv-inner .fg-paging-container .fg-dots:hover {
    opacity: 1;
}