.fg-social-overlay {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 9;
}
.fg-social-buttons {
    display: flex;
    flex-direction: row-reverse;
    padding: 5px;
    gap: 5px;
}

:is(.fg-social-top-right,.fg-social-top-left) .fg-social-overlay {
    justify-content: flex-start;
}
:is(.fg-social-bottom-right,.fg-social-bottom-left) .fg-social-overlay {
    justify-content: flex-end;
}
:is(.fg-social-top-right,.fg-social-bottom-right) .fg-social-overlay {
    align-items: flex-end;
}
:is(.fg-social-top-left,.fg-social-bottom-left) .fg-social-overlay {
    align-items: flex-start;
}
:is(.fg-social-top-right,.fg-social-bottom-right) .fg-social-buttons {
    flex-direction: row-reverse;
}
:is(.fg-social-top-left,.fg-social-bottom-left) .fg-social-buttons {
    flex-direction: row;
}

.fg-social-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: none;
    color: #FFF;
    font-family: Verdana, sans-serif;
    font-size: 10px;
    border: none;
    box-shadow: none;
    padding: 5px;
    gap: 5px;
    cursor: pointer;
    pointer-events: auto;
    transition-property: color;
}
.fg-social-button.fg-hidden {
    display: none;
}
.fg-light-overlays:not(
    .fg-caption-always:is(.fg-social-top-left,.fg-social-top-right):not(
        /* transitions */
        .fg-hover-instant,
        .fg-hover-fade,
        .fg-hover-slide-up,
        .fg-hover-slide-down,
        .fg-hover-slide-left,
        .fg-hover-slide-right,
        .fg-hover-push,
        .fg-hover-colorize,
        .fg-hover-grayscale,
        .fg-hover-scale,
        /* icons */
        .fg-hover-zoom,
        .fg-hover-zoom2,
        .fg-hover-zoom3,
        .fg-hover-plus,
        .fg-hover-circle-plus,
        .fg-hover-eye,
        .fg-hover-external,
        .fg-hover-tint,
        .fg-hover-cart,
        .fg-hover-plus2,
        .fg-hover-plus3,
        .fg-hover-square-plus,
        .fg-hover-circle-plus2,
        .fg-hover-zoom4,
        .fg-hover-zoom5,
        .fg-video-default,
        .fg-video-1,
        .fg-video-2,
        .fg-video-3,
        .fg-video-4
    )
) .fg-item-inner:is(:hover,:focus-within) .fg-social-button {
    color: #333;
}

.fg-social-button-icon {
    width: 24px;
    height: 24px;
    filter: drop-shadow( 0 0 1px rgba(0 0 0 / 50%));
}

.fg-social-button-count {
    text-shadow: 0 0 1px rgba(0 0 0 / 50%);
}
.fg-social-button-count.fg-hidden {
    display: none;
}

.fg-social-likes {
    cursor: default;
    pointer-events: none;
}
.fg-social-likes.fg-can-like {
    cursor: pointer;
    pointer-events: auto;
}

/* Only enable button transition when needed */
.foogallery:is(
    .fg-hover-instant,
    .fg-hover-fade,
    .fg-hover-slide-up,
    .fg-hover-slide-down,
    .fg-hover-slide-left,
    .fg-hover-slide-right,
    .fg-hover-push,
    .fg-hover-colorize,
    .fg-hover-grayscale,
    .fg-hover-scale
) .fg-loaded .fg-social-button {
    transition-timing-function: ease;
    transition-duration: 300ms;
    backface-visibility: hidden;
}