.fg-share-links {
    --fg-social-share-icon-size: 24px;
    position: relative;
    pointer-events: none;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
    z-index: 1;
    opacity: 1;
    transition-property: opacity;
    padding: 5px;
    border-width: 0;
    border-style: solid;
}

.fg-share-links:is(.fg-share-links-top,.fg-share-links-bottom) {
    display: flex;
    grid-column: 4 / 5;
    grid-row: 4 / 5;
}

.fg-panel:is(.fg-panel-info-visible,.fg-panel-cart-visible,.fg-panel-comments-visible):not(.fg-medium, .fg-panel-no-mobile) > .fg-share-links {
    opacity: 0;
    pointer-events: none;
}

.fg-share-links.fg-share-links-top {
    align-items: flex-start;
    align-content: flex-start;
}

.fg-share-links.fg-share-links-bottom {
    align-items: flex-end;
    align-content: flex-end;
}

.fg-share-links.fg-share-links-info-top {
    order: -1;
    padding: 0 0 10px 0;
    border-bottom-width: 1px;
}

.fg-share-links.fg-share-links-info-bottom {
    order: 100;
    padding: 10px 0 5px 0;
    border-top-width: 1px;
}

.fg-panel:is(.fg-panel-fade,.fg-panel-horizontal,.fg-panel-vertical) .fg-share-links {
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.fg-share-link {
    pointer-events: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
    color: #fff!important;
    margin: 0;
    padding: calc( var(--fg-social-share-icon-size) / 4 );
}

@media (hover: hover) {
    .fg-share-link {
        transition: opacity .3s ease;
        opacity: 0.7;
    }
    .fg-share-link:hover {
        opacity: 1;
    }
}

.fg-share-link-icon {
    display: inline-block;
    width: var(--fg-social-share-icon-size);
    height: var(--fg-social-share-icon-size);
}

.fg-share-link-facebook {
    background-color: rgb(59, 89, 152);
}

.fg-share-link-twitter {
    background-color: rgb(0, 0, 0);
}

.fg-share-link-pinterest {
    background-color: rgb(203, 33, 40);
}

.fg-share-link-linkedin {
    background-color: rgb(0, 127, 177);
}

.fg-share-link-reddit {
    background-color: rgb(255, 69, 0);
}

.fg-share-link-tumblr {
    background-color: rgb(44, 71, 98);
}

.fg-share-link-vk {
    background-color: #447bba;
}

.fg-share-link-email {
    background-color: #888;
}

.fg-share-link-download {
    background-color: #FFF;
}

.fg-share-link-download,
.fg-share-link-download:hover {
    color: #000 !important;
}
