/* Comments Side Area Borders - ~/panel/panel-borders.css */
.fg-panel:is(.fg-medium,.fg-panel-no-mobile) .fg-panel-comments-inner {
    border-width: 0;
    border-style: solid;
}
.fg-panel.fg-panel-comments-right:is(.fg-medium,.fg-panel-no-mobile) .fg-panel-comments-inner {
    border-left-width: 1px;
}
.fg-panel.fg-panel-comments-right.fg-panel-comments-overlay:is(.fg-medium,.fg-panel-no-mobile) .fg-panel-comments-inner {
    border-right-width: 42px;
}
.fg-panel.fg-panel-comments-left:is(.fg-medium,.fg-panel-no-mobile) .fg-panel-comments-inner {
    border-right-width: 1px;
}
.fg-panel.fg-panel-comments-left.fg-panel-comments-overlay:is(.fg-medium,.fg-panel-no-mobile) .fg-panel-comments-inner {
    border-left-width: 42px;
}

/* Comments Side Area Position - ~/panel/panel-grid.css */
.fg-panel-comments {
    grid-column: 3 / 6;
    grid-row: 3 / 6;
    display: none;
}
/* By default collapse and overlay the caption along the bottom on small screens */
.fg-portrait.fg-panel-buttons-top:is(.fg-panel-comments-top, .fg-panel-comments-right, .fg-panel-comments-bottom, .fg-panel-comments-left):not(.fg-medium, .fg-panel-no-mobile) .fg-panel-comments {
    grid-row: 4 / 6;
}
.fg-portrait.fg-panel-buttons-bottom:is(.fg-panel-comments-top, .fg-panel-comments-right, .fg-panel-comments-bottom, .fg-panel-comments-left):not(.fg-medium, .fg-panel-no-mobile) .fg-panel-comments {
    grid-row: 3 / 5;
}
.fg-landscape.fg-panel-buttons-right:is(.fg-panel-comments-top, .fg-panel-comments-right, .fg-panel-comments-bottom, .fg-panel-comments-left):not(.fg-medium, .fg-panel-no-mobile) .fg-panel-comments {
    grid-column: 3 / 5;
}
.fg-landscape.fg-panel-buttons-left:is(.fg-panel-comments-top, .fg-panel-comments-right, .fg-panel-comments-bottom, .fg-panel-comments-left):not(.fg-medium, .fg-panel-no-mobile) .fg-panel-comments {
    grid-column: 4 / 6;
}
/* Only show the caption if a position is set */
.fg-panel-comments-visible:is(.fg-panel-comments-top, .fg-panel-comments-right, .fg-panel-comments-bottom, .fg-panel-comments-left) .fg-panel-comments {
    display: block;
}
.fg-panel-comments-visible:is(.fg-panel-comments-top, .fg-panel-comments-right, .fg-panel-comments-bottom, .fg-panel-comments-left):not(.fg-medium, .fg-panel-no-mobile) .fg-panel-comments {
    display: flex;
    flex-direction: column-reverse;
}
.fg-panel-comments-top:not(.fg-panel-comments-overlay):is(.fg-medium, .fg-panel-no-mobile) .fg-panel-comments {
    grid-row: 2 / 3;
}
.fg-panel-comments-bottom:not(.fg-panel-comments-overlay):is(.fg-medium, .fg-panel-no-mobile) .fg-panel-comments {
    grid-row: 6 / 7;
}
.fg-panel-comments-left:not(.fg-panel-comments-overlay):is(.fg-medium, .fg-panel-no-mobile) .fg-panel-comments {
    grid-column: 2 / 3;
}
.fg-panel-comments-right:not(.fg-panel-comments-overlay):is(.fg-medium, .fg-panel-no-mobile) .fg-panel-comments {
    grid-column: 6 / 7;
}
/* Caption Overlay */
.fg-panel-comments-top.fg-panel-comments-overlay:is(.fg-medium, .fg-panel-no-mobile) .fg-panel-comments {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}
.fg-panel-comments-bottom.fg-panel-comments-overlay:is(.fg-medium, .fg-panel-no-mobile) .fg-panel-comments {
    grid-column: 4 / 5;
    grid-row: 5 / 6;
}
.fg-panel-comments-right.fg-panel-comments-overlay:is(.fg-medium,.fg-panel-no-mobile) .fg-panel-comments {
    grid-column: 5 / 6;
    grid-row: 3 / 6;
}
.fg-panel-comments-left.fg-panel-comments-overlay:is(.fg-medium,.fg-panel-no-mobile) .fg-panel-comments {
    grid-column: 3 / 4;
    grid-row: 3 / 6;
}

/* Comments Side Area Sizing - ~/panel/panel-sizing.css */
.fg-panel-comments,
.fg-panel-comments-inner {
    position: relative;
}
.fg-panel-comments {
    pointer-events: none;
}
.fg-panel-comments-inner {
    pointer-events: auto;
}
.fg-panel:is(.fg-medium,.fg-panel-no-mobile) .fg-panel-comments-inner {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}


/* Comments Width */
:is(.fg-medium,.fg-panel-no-mobile):is(.fg-panel-comments-left,.fg-panel-comments-right) .fg-panel-comments-inner {
    width: 360px;
    min-width: 360px;
}
.fg-medium.fg-x-large-width.fg-panel-comments-overlay:is(.fg-panel-comments-left,.fg-panel-comments-right) .fg-panel-comments-inner {
    width: 402px;
    min-width: 402px;
}