/* Comments Side Area Borders - ~/panel/panel-borders.css */
.fg-panel:is(.fg-medium,.fg-panel-no-mobile) .fg-panel-comments-inner {
    border-width: 0;
    border-style: solid;
}
.fg-panel.fg-panel-comments-right:is(.fg-medium,.fg-panel-no-mobile) .fg-panel-comments-inner {
    border-left-width: 1px;
}
.fg-panel.fg-panel-comments-right.fg-panel-comments-overlay:is(.fg-medium,.fg-panel-no-mobile) .fg-panel-comments-inner {
    border-right-width: 42px;
}
.fg-panel.fg-panel-comments-left:is(.fg-medium,.fg-panel-no-mobile) .fg-panel-comments-inner {
    border-right-width: 1px;
}
.fg-panel.fg-panel-comments-left.fg-panel-comments-overlay:is(.fg-medium,.fg-panel-no-mobile) .fg-panel-comments-inner {
    border-left-width: 42px;
}

/* Comments Side Area Position - ~/panel/panel-grid.css */
.fg-panel-comments {
    grid-column: 4 / 5;
    grid-row: 4 / 7;
    display: none;
}
/* Only show the comments if a position is set */
.fg-panel-comments-visible:is(.fg-panel-comments-top, .fg-panel-comments-right, .fg-panel-comments-bottom, .fg-panel-comments-left) .fg-panel-comments {
    display: flex;
}
.fg-panel-comments-top:not(.fg-panel-comments-overlay):is(.fg-medium, .fg-panel-no-mobile) .fg-panel-comments {
    grid-row: 2 / 3;
}
.fg-panel-comments-bottom:not(.fg-panel-comments-overlay):is(.fg-medium, .fg-panel-no-mobile) .fg-panel-comments {
    grid-row: 8 / 9;
}
.fg-panel-comments-left:not(.fg-panel-comments-overlay):is(.fg-medium, .fg-panel-no-mobile) .fg-panel-comments {
    grid-column: 2 / 3;
}
.fg-panel-comments-right:not(.fg-panel-comments-overlay):is(.fg-medium, .fg-panel-no-mobile) .fg-panel-comments {
    grid-column: 6 / 7;
}

/* Comments Side Area Sizing - ~/panel/panel-sizing.css */
.fg-panel-comments,
.fg-panel-comments-inner {
    position: relative;
}
.fg-panel-comments {
    pointer-events: none;
}
.fg-panel-comments-inner {
    pointer-events: auto;
    display: flex;
    position: absolute;
    top: unset;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    min-height: 42px;
    max-height: 100%;
}
.fg-panel.fg-landscape .fg-panel-comments-inner {
    right: 37px;
    width: calc(100% - 37px);
    max-width: calc(100% - 37px);
}
.fg-panel.fg-portrait .fg-panel-comments-inner {
    max-height: calc(100% - 37px);
}
.fg-landscape.fg-panel-comments-top .fg-panel-comments-inner {
    top: 0;
    bottom: unset;
}
.fg-portrait.fg-panel-comments-top .fg-panel-comments-inner {
    top: 37px;
    bottom: unset;
}
.fg-landscape.fg-panel-buttons-left .fg-panel-comments-inner {
    left: 37px;
    right: unset;
}
.fg-portrait.fg-panel-buttons-bottom .fg-panel-comments-inner {
    top: unset;
    bottom: 37px;
}
.fg-panel:is(.fg-medium,.fg-panel-no-mobile) .fg-panel-comments-inner {
    position: relative;
    top: unset;
    bottom: unset;
    left: unset;
    right: unset;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

/* Comments Overlay */
.fg-panel-comments-right.fg-panel-comments-overlay:is(.fg-medium,.fg-panel-no-mobile) .fg-panel-comments-inner {
    position: absolute;
    top: 0;
    right: 0;
}
.fg-panel-comments-bottom.fg-panel-comments-overlay:is(.fg-medium,.fg-panel-no-mobile) .fg-panel-comments-inner {
    position: absolute;
    bottom: 0;
    left: 0;
}
.fg-panel-comments-overlay:is(.fg-medium,.fg-panel-no-mobile):is(.fg-panel-comments-top,.fg-panel-comments-bottom) .fg-panel-comments-inner {
    height: auto;
}

/* Comments Width */
:is(.fg-medium,.fg-panel-no-mobile):is(.fg-panel-comments-left,.fg-panel-comments-right) .fg-panel-comments-inner {
    width: 360px;
    min-width: 360px;
}
.fg-medium.fg-x-large-width.fg-panel-comments-overlay:is(.fg-panel-comments-left,.fg-panel-comments-right) .fg-panel-comments-inner {
    width: 402px;
    min-width: 402px;
}