.foogrid,
.foogrid.fg-gutter-small {
	margin: 0 0 -0.5% 0;
	padding: 0;
	width: 100%;
	font-size: 0;
	line-height: 0;
}
.foogrid.fg-gutter-medium {
	margin: 0 0 -1% 0;
}
.foogrid.fg-gutter-large {
	margin: 0 0 -1.5% 0;
}
.foogrid:after {
	content: '';
	display: block;
	clear: both;
}