.foogrid.foogrid-cols-1 .fg-item,
.foogrid.foogrid-cols-2 .fg-item,
.foogrid.foogrid-cols-3 .fg-item,
.foogrid.foogrid-cols-4 .fg-item,
.foogrid.foogrid-cols-5 .fg-item,
.foogrid.foogrid-cols-6 .fg-item,
.foogrid.foogrid-cols-7 .fg-item,
.foogrid.foogrid-cols-8 .fg-item,
.foogrid.foogrid-cols-1.fg-gutter-small .fg-item,
.foogrid.foogrid-cols-2.fg-gutter-small .fg-item,
.foogrid.foogrid-cols-3.fg-gutter-small .fg-item,
.foogrid.foogrid-cols-4.fg-gutter-small .fg-item,
.foogrid.foogrid-cols-5.fg-gutter-small .fg-item,
.foogrid.foogrid-cols-6.fg-gutter-small .fg-item,
.foogrid.foogrid-cols-7.fg-gutter-small .fg-item,
.foogrid.foogrid-cols-8.fg-gutter-small .fg-item {
	margin-bottom: 0.5%;
	margin-right: 0.5%;
}
.foogrid.foogrid-cols-1.fg-gutter-medium .fg-item,
.foogrid.foogrid-cols-2.fg-gutter-medium .fg-item,
.foogrid.foogrid-cols-3.fg-gutter-medium .fg-item,
.foogrid.foogrid-cols-4.fg-gutter-medium .fg-item,
.foogrid.foogrid-cols-5.fg-gutter-medium .fg-item,
.foogrid.foogrid-cols-6.fg-gutter-medium .fg-item,
.foogrid.foogrid-cols-7.fg-gutter-medium .fg-item,
.foogrid.foogrid-cols-8.fg-gutter-medium .fg-item {
	margin-bottom: 1%;
	margin-right: 1%;
}
.foogrid.foogrid-cols-1.fg-gutter-large .fg-item,
.foogrid.foogrid-cols-2.fg-gutter-large .fg-item,
.foogrid.foogrid-cols-3.fg-gutter-large .fg-item,
.foogrid.foogrid-cols-4.fg-gutter-large .fg-item,
.foogrid.foogrid-cols-5.fg-gutter-large .fg-item,
.foogrid.foogrid-cols-6.fg-gutter-large .fg-item,
.foogrid.foogrid-cols-7.fg-gutter-large .fg-item,
.foogrid.foogrid-cols-8.fg-gutter-large .fg-item {
	margin-bottom: 1.5%;
	margin-right: 1.5%;
}
.foogallery.foogrid.foogrid-cols-1 .fg-item:nth-of-type(1n),
.foogallery.foogrid.foogrid-cols-2 .fg-item:nth-of-type(2n),
.foogallery.foogrid.foogrid-cols-3 .fg-item:nth-of-type(3n),
.foogallery.foogrid.foogrid-cols-4 .fg-item:nth-of-type(4n),
.foogallery.foogrid.foogrid-cols-5 .fg-item:nth-of-type(5n),
.foogallery.foogrid.foogrid-cols-6 .fg-item:nth-of-type(6n),
.foogallery.foogrid.foogrid-cols-7 .fg-item:nth-of-type(7n),
.foogallery.foogrid.foogrid-cols-8 .fg-item:nth-of-type(8n) {
	margin-right: 0;
}

.foogrid.foogrid-cols-1 .fg-item,
.foogrid.foogrid-cols-1.fg-gutter-small .fg-item,
.foogrid.foogrid-cols-1.fg-gutter-medium .fg-item,
.foogrid.foogrid-cols-1.fg-gutter-large .fg-item {
	width: 100%;
}

.foogrid.foogrid-cols-2 .fg-item,
.foogrid.foogrid-cols-2.fg-gutter-small .fg-item {
	width: 49.75%;
}
.foogrid.foogrid-cols-2.fg-gutter-medium .fg-item {
	width: 49.5%;
}
.foogrid.foogrid-cols-2.fg-gutter-large .fg-item {
	width: 49.25%;
}

.foogrid.foogrid-cols-3 .fg-item,
.foogrid.foogrid-cols-3.fg-gutter-small .fg-item {
	width: 33%;
}
.foogrid.foogrid-cols-3.fg-gutter-medium .fg-item {
	width: 32.66%;
}
.foogrid.foogrid-cols-3.fg-gutter-large .fg-item {
	width: 32.33%;
}

.foogrid.foogrid-cols-4 .fg-item,
.foogrid.foogrid-cols-4.fg-gutter-small .fg-item {
	width: 24.62%;
}
.foogrid.foogrid-cols-4.fg-gutter-medium .fg-item {
	width: 24.25%;
}
.foogrid.foogrid-cols-4.fg-gutter-large .fg-item {
	width: 23.87%;
}

.foogrid.foogrid-cols-5 .fg-item,
.foogrid.foogrid-cols-5.fg-gutter-small .fg-item {
	width: 19.6%;
}
.foogrid.foogrid-cols-5.fg-gutter-medium .fg-item {
	width: 19.2%;
}
.foogrid.foogrid-cols-5.fg-gutter-large .fg-item {
	width: 18.8%;
}

.foogrid.foogrid-cols-6 .fg-item,
.foogrid.foogrid-cols-6.fg-gutter-small .fg-item {
	width: 16.25%;
}
.foogrid.foogrid-cols-6.fg-gutter-medium .fg-item {
	width: 15.83%;
}
.foogrid.foogrid-cols-6.fg-gutter-large .fg-item {
	width: 15.41%;
}

.foogrid.foogrid-cols-7 .fg-item,
.foogrid.foogrid-cols-7.fg-gutter-small .fg-item {
	width: 13.85%;
}
.foogrid.foogrid-cols-7.fg-gutter-medium .fg-item {
	width: 13.42%;
}
.foogrid.foogrid-cols-7.fg-gutter-large .fg-item {
	width: 13%;
}

.foogrid.foogrid-cols-8 .fg-item,
.foogrid.foogrid-cols-8.fg-gutter-small .fg-item {
	width: 12.06%;
}
.foogrid.foogrid-cols-8.fg-gutter-medium .fg-item {
	width: 11.62%;
}
.foogrid.foogrid-cols-8.fg-gutter-large .fg-item {
	width: 11.18%;
}

@media only screen and (min-width: 1441px) and (max-width: 1600px) {
	/* reset original nth selector by setting a margin */
	.foogallery.foogrid.foogrid-cols-8 .fg-item:nth-of-type(8n),
	.foogrid.foogrid-cols-8.fg-gutter-small .fg-item:nth-of-type(8n) {
		margin-right: 0.5%;
	}
	.foogrid.foogrid-cols-8.fg-gutter-medium .fg-item:nth-of-type(8n) {
		margin-right: 1%;
	}
	.foogrid.foogrid-cols-8.fg-gutter-large .fg-item:nth-of-type(8n) {
		margin-right: 1.5%;
	}
	/* Change the column layout to be 7 columns */
	.foogrid.foogrid-cols-8 .fg-item,
	.foogrid.foogrid-cols-8.fg-gutter-small .fg-item {
		width: 13.85%;
	}
	.foogrid.foogrid-cols-8.fg-gutter-medium .fg-item {
		width: 13.42%;
	}
	.foogrid.foogrid-cols-8.fg-gutter-large .fg-item {
		width: 13%;
	}
	/* Remove the right margin on every 7th item  */
	.foogallery.foogrid.foogrid-cols-8 .fg-item:nth-of-type(7n) {
		margin-right: 0;
	}
}
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
	/* reset original nth selector by setting a margin */
	.foogallery.foogrid.foogrid-cols-7 .fg-item:nth-of-type(7n),
	.foogrid.foogrid-cols-7.fg-gutter-small .fg-item:nth-of-type(7n),
	.foogallery.foogrid.foogrid-cols-8 .fg-item:nth-of-type(8n),
	.foogrid.foogrid-cols-8.fg-gutter-small .fg-item:nth-of-type(8n) {
		margin-right: 0.5%;
	}
	.foogrid.foogrid-cols-7.fg-gutter-medium .fg-item:nth-of-type(7n),
	.foogrid.foogrid-cols-8.fg-gutter-medium .fg-item:nth-of-type(8n) {
		margin-right: 1%;
	}
	.foogrid.foogrid-cols-7.fg-gutter-large .fg-item:nth-of-type(7n),
	.foogrid.foogrid-cols-8.fg-gutter-large .fg-item:nth-of-type(8n) {
		margin-right: 1.5%;
	}
	/* Change the column layout to be 6 columns */
	.foogrid.foogrid-cols-7 .fg-item,
	.foogrid.foogrid-cols-7.fg-gutter-small .fg-item,
	.foogrid.foogrid-cols-8 .fg-item,
	.foogrid.foogrid-cols-8.fg-gutter-small .fg-item {
		width: 16.25%;
	}
	.foogrid.foogrid-cols-7.fg-gutter-medium .fg-item,
	.foogrid.foogrid-cols-8.fg-gutter-medium .fg-item {
		width: 15.83%;
	}
	.foogrid.foogrid-cols-7.fg-gutter-large .fg-item,
	.foogrid.foogrid-cols-8.fg-gutter-large .fg-item {
		width: 15.41%;
	}
	/* Remove the right margin on every 6th item  */
	.foogallery.foogrid.foogrid-cols-7 .fg-item:nth-of-type(6n),
	.foogallery.foogrid.foogrid-cols-8 .fg-item:nth-of-type(6n) {
		margin-right: 0;
	}
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
	/* reset original nth selector by setting a margin */
	.foogallery.foogrid.foogrid-cols-6 .fg-item:nth-of-type(6n),
	.foogrid.foogrid-cols-6.fg-gutter-small .fg-item:nth-of-type(6n),
	.foogallery.foogrid.foogrid-cols-7 .fg-item:nth-of-type(7n),
	.foogrid.foogrid-cols-7.fg-gutter-small .fg-item:nth-of-type(7n),
	.foogallery.foogrid.foogrid-cols-8 .fg-item:nth-of-type(8n),
	.foogrid.foogrid-cols-8.fg-gutter-small .fg-item:nth-of-type(8n) {
		margin-right: 0.5%;
	}
	.foogrid.foogrid-cols-6.fg-gutter-medium .fg-item:nth-of-type(6n),
	.foogrid.foogrid-cols-7.fg-gutter-medium .fg-item:nth-of-type(7n),
	.foogrid.foogrid-cols-8.fg-gutter-medium .fg-item:nth-of-type(8n) {
		margin-right: 1%;
	}
	.foogrid.foogrid-cols-6.fg-gutter-large .fg-item:nth-of-type(6n),
	.foogrid.foogrid-cols-7.fg-gutter-large .fg-item:nth-of-type(7n),
	.foogrid.foogrid-cols-8.fg-gutter-large .fg-item:nth-of-type(8n) {
		margin-right: 1.5%;
	}
	/* Change the column layout to be 5 columns */
	.foogrid.foogrid-cols-6 .fg-item,
	.foogrid.foogrid-cols-6.fg-gutter-small .fg-item,
	.foogrid.foogrid-cols-7 .fg-item,
	.foogrid.foogrid-cols-7.fg-gutter-small .fg-item,
	.foogrid.foogrid-cols-8 .fg-item,
	.foogrid.foogrid-cols-8.fg-gutter-small .fg-item {
		width: 19.6%;
	}
	.foogrid.foogrid-cols-6.fg-gutter-medium .fg-item,
	.foogrid.foogrid-cols-7.fg-gutter-medium .fg-item,
	.foogrid.foogrid-cols-8.fg-gutter-medium .fg-item {
		width: 19.2%;
	}
	.foogrid.foogrid-cols-6.fg-gutter-large .fg-item,
	.foogrid.foogrid-cols-7.fg-gutter-large .fg-item,
	.foogrid.foogrid-cols-8.fg-gutter-large .fg-item {
		width: 18.8%;
	}
	/* Remove the right margin on every 5th item  */
	.foogallery.foogrid.foogrid-cols-6 .fg-item:nth-of-type(5n),
	.foogallery.foogrid.foogrid-cols-7 .fg-item:nth-of-type(5n),
	.foogallery.foogrid.foogrid-cols-8 .fg-item:nth-of-type(5n) {
		margin-right: 0;
	}
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
	/* reset original nth selector by setting a margin */
	.foogallery.foogrid.foogrid-cols-5 .fg-item:nth-of-type(5n),
	.foogrid.foogrid-cols-5.fg-gutter-small .fg-item:nth-of-type(5n),
	.foogallery.foogrid.foogrid-cols-6 .fg-item:nth-of-type(6n),
	.foogrid.foogrid-cols-6.fg-gutter-small .fg-item:nth-of-type(6n),
	.foogallery.foogrid.foogrid-cols-7 .fg-item:nth-of-type(7n),
	.foogrid.foogrid-cols-7.fg-gutter-small .fg-item:nth-of-type(7n),
	.foogallery.foogrid.foogrid-cols-8 .fg-item:nth-of-type(8n),
	.foogrid.foogrid-cols-8.fg-gutter-small .fg-item:nth-of-type(8n) {
		margin-right: 0.5%;
	}
	.foogrid.foogrid-cols-5.fg-gutter-medium .fg-item:nth-of-type(5n),
	.foogrid.foogrid-cols-6.fg-gutter-medium .fg-item:nth-of-type(6n),
	.foogrid.foogrid-cols-7.fg-gutter-medium .fg-item:nth-of-type(7n),
	.foogrid.foogrid-cols-8.fg-gutter-medium .fg-item:nth-of-type(8n) {
		margin-right: 1%;
	}
	.foogrid.foogrid-cols-5.fg-gutter-large .fg-item:nth-of-type(5n),
	.foogrid.foogrid-cols-6.fg-gutter-large .fg-item:nth-of-type(6n),
	.foogrid.foogrid-cols-7.fg-gutter-large .fg-item:nth-of-type(7n),
	.foogrid.foogrid-cols-8.fg-gutter-large .fg-item:nth-of-type(8n) {
		margin-right: 1.5%;
	}
	/* Change the column layout to be 4 columns */
	.foogrid.foogrid-cols-5 .fg-item,
	.foogrid.foogrid-cols-5.fg-gutter-small .fg-item,
	.foogrid.foogrid-cols-6 .fg-item,
	.foogrid.foogrid-cols-6.fg-gutter-small .fg-item,
	.foogrid.foogrid-cols-7 .fg-item,
	.foogrid.foogrid-cols-7.fg-gutter-small .fg-item,
	.foogrid.foogrid-cols-8 .fg-item,
	.foogrid.foogrid-cols-8.fg-gutter-small .fg-item {
		width: 24.62%;
	}
	.foogrid.foogrid-cols-5.fg-gutter-medium .fg-item,
	.foogrid.foogrid-cols-6.fg-gutter-medium .fg-item,
	.foogrid.foogrid-cols-7.fg-gutter-medium .fg-item,
	.foogrid.foogrid-cols-8.fg-gutter-medium .fg-item {
		width: 24.25%;
	}
	.foogrid.foogrid-cols-5.fg-gutter-large .fg-item,
	.foogrid.foogrid-cols-6.fg-gutter-large .fg-item,
	.foogrid.foogrid-cols-7.fg-gutter-large .fg-item,
	.foogrid.foogrid-cols-8.fg-gutter-large .fg-item {
		width: 23.87%;
	}
	/* Remove the right margin on every 4th item  */
	.foogallery.foogrid.foogrid-cols-5 .fg-item:nth-of-type(4n),
	.foogallery.foogrid.foogrid-cols-6 .fg-item:nth-of-type(4n),
	.foogallery.foogrid.foogrid-cols-7 .fg-item:nth-of-type(4n),
	.foogallery.foogrid.foogrid-cols-8 .fg-item:nth-of-type(4n) {
		margin-right: 0;
	}
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
	/* reset original nth selector by setting a margin */
	.foogallery.foogrid.foogrid-cols-4 .fg-item:nth-of-type(4n),
	.foogrid.foogrid-cols-4.fg-gutter-small .fg-item:nth-of-type(4n),
	.foogallery.foogrid.foogrid-cols-5 .fg-item:nth-of-type(5n),
	.foogrid.foogrid-cols-5.fg-gutter-small .fg-item:nth-of-type(5n),
	.foogallery.foogrid.foogrid-cols-6 .fg-item:nth-of-type(6n),
	.foogrid.foogrid-cols-6.fg-gutter-small .fg-item:nth-of-type(6n),
	.foogallery.foogrid.foogrid-cols-7 .fg-item:nth-of-type(7n),
	.foogrid.foogrid-cols-7.fg-gutter-small .fg-item:nth-of-type(7n),
	.foogallery.foogrid.foogrid-cols-8 .fg-item:nth-of-type(8n),
	.foogrid.foogrid-cols-8.fg-gutter-small .fg-item:nth-of-type(8n) {
		margin-right: 0.5%;
	}
	.foogrid.foogrid-cols-4.fg-gutter-medium .fg-item:nth-of-type(4n),
	.foogrid.foogrid-cols-5.fg-gutter-medium .fg-item:nth-of-type(5n),
	.foogrid.foogrid-cols-6.fg-gutter-medium .fg-item:nth-of-type(6n),
	.foogrid.foogrid-cols-7.fg-gutter-medium .fg-item:nth-of-type(7n),
	.foogrid.foogrid-cols-8.fg-gutter-medium .fg-item:nth-of-type(8n) {
		margin-right: 1%;
	}
	.foogrid.foogrid-cols-4.fg-gutter-large .fg-item:nth-of-type(4n),
	.foogrid.foogrid-cols-5.fg-gutter-large .fg-item:nth-of-type(5n),
	.foogrid.foogrid-cols-6.fg-gutter-large .fg-item:nth-of-type(6n),
	.foogrid.foogrid-cols-7.fg-gutter-large .fg-item:nth-of-type(7n),
	.foogrid.foogrid-cols-8.fg-gutter-large .fg-item:nth-of-type(8n) {
		margin-right: 1.5%;
	}
	/* Change the column layout to be 3 columns */
	.foogrid.foogrid-cols-4 .fg-item,
	.foogrid.foogrid-cols-4.fg-gutter-small .fg-item,
	.foogrid.foogrid-cols-5 .fg-item,
	.foogrid.foogrid-cols-5.fg-gutter-small .fg-item,
	.foogrid.foogrid-cols-6 .fg-item,
	.foogrid.foogrid-cols-6.fg-gutter-small .fg-item,
	.foogrid.foogrid-cols-7 .fg-item,
	.foogrid.foogrid-cols-7.fg-gutter-small .fg-item,
	.foogrid.foogrid-cols-8 .fg-item,
	.foogrid.foogrid-cols-8.fg-gutter-small .fg-item {
		width: 33%;
	}
	.foogrid.foogrid-cols-4.fg-gutter-medium .fg-item,
	.foogrid.foogrid-cols-5.fg-gutter-medium .fg-item,
	.foogrid.foogrid-cols-6.fg-gutter-medium .fg-item,
	.foogrid.foogrid-cols-7.fg-gutter-medium .fg-item,
	.foogrid.foogrid-cols-8.fg-gutter-medium .fg-item {
		width: 32.66%;
	}
	.foogrid.foogrid-cols-4.fg-gutter-large .fg-item,
	.foogrid.foogrid-cols-5.fg-gutter-large .fg-item,
	.foogrid.foogrid-cols-6.fg-gutter-large .fg-item,
	.foogrid.foogrid-cols-7.fg-gutter-large .fg-item,
	.foogrid.foogrid-cols-8.fg-gutter-large .fg-item {
		width: 32.33%;
	}
	/* Remove the right margin on every 3rd item  */
	.foogallery.foogrid.foogrid-cols-4 .fg-item:nth-of-type(3n),
	.foogallery.foogrid.foogrid-cols-5 .fg-item:nth-of-type(3n),
	.foogallery.foogrid.foogrid-cols-6 .fg-item:nth-of-type(3n),
	.foogallery.foogrid.foogrid-cols-7 .fg-item:nth-of-type(3n),
	.foogallery.foogrid.foogrid-cols-8 .fg-item:nth-of-type(3n) {
		margin-right: 0;
	}
}
@media only screen and (min-width: 321px) and (max-width: 480px) {
	/* reset original nth selector by setting a margin */
	.foogallery.foogrid.foogrid-cols-3 .fg-item:nth-of-type(3n),
	.foogrid.foogrid-cols-3.fg-gutter-small .fg-item:nth-of-type(3n),
	.foogallery.foogrid.foogrid-cols-4 .fg-item:nth-of-type(4n),
	.foogrid.foogrid-cols-4.fg-gutter-small .fg-item:nth-of-type(4n),
	.foogallery.foogrid.foogrid-cols-5 .fg-item:nth-of-type(5n),
	.foogrid.foogrid-cols-5.fg-gutter-small .fg-item:nth-of-type(5n),
	.foogallery.foogrid.foogrid-cols-6 .fg-item:nth-of-type(6n),
	.foogrid.foogrid-cols-6.fg-gutter-small .fg-item:nth-of-type(6n),
	.foogallery.foogrid.foogrid-cols-7 .fg-item:nth-of-type(7n),
	.foogrid.foogrid-cols-7.fg-gutter-small .fg-item:nth-of-type(7n),
	.foogallery.foogrid.foogrid-cols-8 .fg-item:nth-of-type(8n),
	.foogrid.foogrid-cols-8.fg-gutter-small .fg-item:nth-of-type(8n) {
		margin-right: 0.5%;
	}
	.foogrid.foogrid-cols-3.fg-gutter-medium .fg-item:nth-of-type(3n),
	.foogrid.foogrid-cols-4.fg-gutter-medium .fg-item:nth-of-type(4n),
	.foogrid.foogrid-cols-5.fg-gutter-medium .fg-item:nth-of-type(5n),
	.foogrid.foogrid-cols-6.fg-gutter-medium .fg-item:nth-of-type(6n),
	.foogrid.foogrid-cols-7.fg-gutter-medium .fg-item:nth-of-type(7n),
	.foogrid.foogrid-cols-8.fg-gutter-medium .fg-item:nth-of-type(8n) {
		margin-right: 1%;
	}
	.foogrid.foogrid-cols-3.fg-gutter-large .fg-item:nth-of-type(3n),
	.foogrid.foogrid-cols-4.fg-gutter-large .fg-item:nth-of-type(4n),
	.foogrid.foogrid-cols-5.fg-gutter-large .fg-item:nth-of-type(5n),
	.foogrid.foogrid-cols-6.fg-gutter-large .fg-item:nth-of-type(6n),
	.foogrid.foogrid-cols-7.fg-gutter-large .fg-item:nth-of-type(7n),
	.foogrid.foogrid-cols-8.fg-gutter-large .fg-item:nth-of-type(8n) {
		margin-right: 1.5%;
	}
	/* Change the column layout to be 2 columns */
	.foogrid.foogrid-cols-3 .fg-item,
	.foogrid.foogrid-cols-3.fg-gutter-small .fg-item,
	.foogrid.foogrid-cols-4 .fg-item,
	.foogrid.foogrid-cols-4.fg-gutter-small .fg-item,
	.foogrid.foogrid-cols-5 .fg-item,
	.foogrid.foogrid-cols-5.fg-gutter-small .fg-item,
	.foogrid.foogrid-cols-6 .fg-item,
	.foogrid.foogrid-cols-6.fg-gutter-small .fg-item,
	.foogrid.foogrid-cols-7 .fg-item,
	.foogrid.foogrid-cols-7.fg-gutter-small .fg-item,
	.foogrid.foogrid-cols-8 .fg-item,
	.foogrid.foogrid-cols-8.fg-gutter-small .fg-item {
		width: 49.75%;
	}
	.foogrid.foogrid-cols-3.fg-gutter-medium .fg-item,
	.foogrid.foogrid-cols-4.fg-gutter-medium .fg-item,
	.foogrid.foogrid-cols-5.fg-gutter-medium .fg-item,
	.foogrid.foogrid-cols-6.fg-gutter-medium .fg-item,
	.foogrid.foogrid-cols-7.fg-gutter-medium .fg-item,
	.foogrid.foogrid-cols-8.fg-gutter-medium .fg-item {
		width: 49.5%;
	}
	.foogrid.foogrid-cols-3.fg-gutter-large .fg-item,
	.foogrid.foogrid-cols-4.fg-gutter-large .fg-item,
	.foogrid.foogrid-cols-5.fg-gutter-large .fg-item,
	.foogrid.foogrid-cols-6.fg-gutter-large .fg-item,
	.foogrid.foogrid-cols-7.fg-gutter-large .fg-item,
	.foogrid.foogrid-cols-8.fg-gutter-large .fg-item {
		width: 49.25%;
	}
	/* Remove the right margin on every 2nd item  */
	.foogallery.foogrid.foogrid-cols-3 .fg-item:nth-of-type(2n),
	.foogallery.foogrid.foogrid-cols-4 .fg-item:nth-of-type(2n),
	.foogallery.foogrid.foogrid-cols-5 .fg-item:nth-of-type(2n),
	.foogallery.foogrid.foogrid-cols-6 .fg-item:nth-of-type(2n),
	.foogallery.foogrid.foogrid-cols-7 .fg-item:nth-of-type(2n),
	.foogallery.foogrid.foogrid-cols-8 .fg-item:nth-of-type(2n) {
		margin-right: 0;
	}
}
@media only screen and (max-width: 320px) {
	/* no need to reset original nth selector as all items have no right margin */
	/* Change the column layout to be 1 column */
	.foogrid.foogrid-cols-2 .fg-item,
	.foogrid.foogrid-cols-2.fg-gutter-small .fg-item,
	.foogrid.foogrid-cols-3 .fg-item,
	.foogrid.foogrid-cols-3.fg-gutter-small .fg-item,
	.foogrid.foogrid-cols-4 .fg-item,
	.foogrid.foogrid-cols-4.fg-gutter-small .fg-item,
	.foogrid.foogrid-cols-5 .fg-item,
	.foogrid.foogrid-cols-5.fg-gutter-small .fg-item,
	.foogrid.foogrid-cols-6 .fg-item,
	.foogrid.foogrid-cols-6.fg-gutter-small .fg-item,
	.foogrid.foogrid-cols-7 .fg-item,
	.foogrid.foogrid-cols-7.fg-gutter-small .fg-item,
	.foogrid.foogrid-cols-8 .fg-item,
	.foogrid.foogrid-cols-8.fg-gutter-small .fg-item,
	.foogrid.foogrid-cols-2.fg-gutter-medium .fg-item,
	.foogrid.foogrid-cols-3.fg-gutter-medium .fg-item,
	.foogrid.foogrid-cols-4.fg-gutter-medium .fg-item,
	.foogrid.foogrid-cols-5.fg-gutter-medium .fg-item,
	.foogrid.foogrid-cols-6.fg-gutter-medium .fg-item,
	.foogrid.foogrid-cols-7.fg-gutter-medium .fg-item,
	.foogrid.foogrid-cols-8.fg-gutter-medium .fg-item,
	.foogrid.foogrid-cols-2.fg-gutter-large .fg-item,
	.foogrid.foogrid-cols-3.fg-gutter-large .fg-item,
	.foogrid.foogrid-cols-4.fg-gutter-large .fg-item,
	.foogrid.foogrid-cols-5.fg-gutter-large .fg-item,
	.foogrid.foogrid-cols-6.fg-gutter-large .fg-item,
	.foogrid.foogrid-cols-7.fg-gutter-large .fg-item,
	.foogrid.foogrid-cols-8.fg-gutter-large .fg-item {
		width: 100%;
	}
	/* Remove the right margin on every item  */
	.foogallery.foogrid.foogrid-cols-2 .fg-item:nth-of-type(1n),
	.foogallery.foogrid.foogrid-cols-3 .fg-item:nth-of-type(1n),
	.foogallery.foogrid.foogrid-cols-4 .fg-item:nth-of-type(1n),
	.foogallery.foogrid.foogrid-cols-5 .fg-item:nth-of-type(1n),
	.foogallery.foogrid.foogrid-cols-6 .fg-item:nth-of-type(1n),
	.foogallery.foogrid.foogrid-cols-7 .fg-item:nth-of-type(1n),
	.foogallery.foogrid.foogrid-cols-8 .fg-item:nth-of-type(1n) {
		margin-right: 0;
	}
}