.foogrid-content,
.fg-gutter-small .foogrid-content {
	display: block;
	position: relative;
	float: left;
	font-size: 16px;
	height: 0;
	width: 100%;
	padding-top: 0;
	margin: 0 0 0.5% 0;
	z-index: 5;
	opacity: 0;
	visibility: hidden;
	outline: 0;
}
.fg-gutter-medium .foogrid-content {
	margin: 0 0 1% 0;
}
.fg-gutter-large .foogrid-content {
	margin: 0 0 1.5% 0;
}
.foogrid.fg-light .foogrid-content {
	background-color: #eee;
	border: 1px solid #e6e6e6;
}
.foogrid.fg-dark .foogrid-content {
	background-color: #333;
	border: 1px solid #292929;
}
.foogrid-content.foogrid-visible {
	opacity: 1;
	visibility: visible;
	padding-top: 56.25%;
}
.foogrid.fg-16-9 .foogrid-content.foogrid-visible {
	padding-top: 56.25%;
}
.foogrid.fg-16-10 .foogrid-content.foogrid-visible {
	padding-top: 62.5%;
}
.foogrid.fg-4-3 .foogrid-content.foogrid-visible {
	padding-top: 75%;
}
