.foogrid-nav-prev,
.foogrid-nav-next {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 77px;
	padding: 0;
	width: 32px;
	z-index: 3;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	cursor: pointer;
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
	margin: 0 5px;
	outline: 0;
	text-align: center;
	text-decoration: none;
	-webkit-user-select: none;
	user-select: none;
	vertical-align:middle;
	white-space: normal;
	word-wrap: normal;
}
.foogrid-nav-prev {
	left: 0;
}
.foogrid-nav-next {
	right: 0;
}
.foogrid-content:hover .foogrid-nav-next,
.foogrid-content:hover .foogrid-nav-prev {
	opacity: 1;
	visibility: visible;
}
.foogrid-content .foogrid-nav-next.foogrid-disabled,
.foogrid-content .foogrid-nav-prev.foogrid-disabled,
.foogrid-content:hover .foogrid-nav-next.foogrid-disabled,
.foogrid-content:hover .foogrid-nav-prev.foogrid-disabled {
	opacity: 0;
	visibility: hidden;
}

.foogrid-content .foogrid-nav-prev i,
.foogrid-content .foogrid-nav-next i {
	height: 23px;
	width: 14px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.foogrid-nav-close,
.foogrid-nav-close:hover,
.foogrid-nav-close:focus,
.foogrid-nav-close:active,
.foogrid-nav-fullscreen,
.foogrid-nav-fullscreen:hover,
.foogrid-nav-fullscreen:focus,
.foogrid-nav-fullscreen:active,
.foogrid .foogrid-nav-external,
.foogrid .foogrid-nav-external:hover,
.foogrid .foogrid-nav-external:focus,
.foogrid .foogrid-nav-external:active {
	cursor: pointer;
	height: 30px;
	padding: 7px;
	position: absolute;
	width: 30px;
	z-index: 3;
	border: none;
	outline: none;
	box-shadow: none;
}
.foogrid .foogrid-external-text,
.foogrid .foogrid-external-text:hover,
.foogrid .foogrid-external-text:focus,
.foogrid .foogrid-external-text:active {
	width: auto;
	background-position: right 5px center;
	padding-right: 30px;
	text-decoration: none;
	font-family: arial,sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 1;
	vertical-align: baseline;
}
.foogrid-nav-close,
.foogrid-nav-fullscreen {
	right: 10px;
}
.foogrid .foogrid-nav-external {
	right: 45px;
}
.foogrid.foogrid-no-fullscreen .foogrid-nav-external {
	right: 10px;
}
.foogrid-nav-close:hover,
.foogrid-nav-fullscreen:hover,
.foogrid .foogrid-nav-external:hover {
	opacity: .5;
}
.foogrid-nav-close {
	top: 10px;
}
.foogrid-nav-fullscreen,
.foogrid .foogrid-nav-external {
	bottom: 10px;
}

.foogrid-no-fullscreen .foogrid-nav-fullscreen,
.foogrid.foogrid-no-external .foogrid-nav-external {
	display: none;
}

.foogrid.foogrid-caption-below .foogrid-has-caption .foogrid-nav-fullscreen,
.foogrid.foogrid-caption-below .foogrid-has-caption .foogrid-nav-external {
	bottom: 85px;
}

@media only screen and (min-width : 768px) {
	.foogrid-nav-prev,
	.foogrid-nav-next {
		opacity: 1;
		visibility: visible;
	}
	.foogrid.foogrid-caption-below .foogrid-has-caption .foogrid-nav-fullscreen,
	.foogrid.foogrid-caption-below .foogrid-has-caption .foogrid-nav-external {
		bottom: 110px;
	}
}