.foogrid-content .fg-panel.fg-light {
    background-color: #eee;
    border: 1px solid #e6e6e6;
}
.foogrid-content .fg-panel.fg-dark {
    background-color: #333;
    border: 1px solid #292929;
}

.foogrid-content .fg-panel.fg-light .fg-panel-area .fg-panel-info-inner,
.foogrid-content .fg-panel.fg-dark .fg-panel-area .fg-panel-info-inner {
    background-color: transparent;
    border-width: 0;
}
.foogrid-content .fg-panel.fg-light.fg-panel-info-bottom .fg-panel-area .fg-panel-info-inner {
    border-color: #e6e6e6;
    border-top-width: 1px;
}
.foogrid-content .fg-panel.fg-dark.fg-panel-info-bottom .fg-panel-area .fg-panel-info-inner {
    border-color: #292929;
    border-top-width: 1px;
}