.foogrid.foogrid-transition-fade .foogrid-content,
.foogrid.foogrid-transition-horizontal .foogrid-content,
.foogrid.foogrid-transition-vertical .foogrid-content,
.foogrid.foogrid-transition-fade .foogrid-content::before,
.foogrid.foogrid-transition-horizontal .foogrid-content::before,
.foogrid.foogrid-transition-vertical .foogrid-content::before {
	transition-duration: .3s;
	transition-timing-function: ease-in-out;
}

/* content container slide up/down */
.foogrid.foogrid-transition-fade .foogrid-content,
.foogrid.foogrid-transition-horizontal .foogrid-content,
.foogrid.foogrid-transition-vertical .foogrid-content,
.foogrid.foogrid-transition-fade .foogrid-content::before,
.foogrid.foogrid-transition-horizontal .foogrid-content::before,
.foogrid.foogrid-transition-vertical .foogrid-content::before {
	transition-property: padding-top, opacity, visibility, min-height;
}