<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Templates</title>
    <link href="assets/theme.css" rel="stylesheet" type="text/css">
    <script src="assets/jquery.min.js" defer></script>
    <script src="assets/theme.js" defer></script>
</head>
<body class="dark">
<header>
    <ul>
        <li><h1>Templates</h1></li>
    </ul>
</header>
<main>
    <h2>Index</h2>
    <ul><li><a href="default/index.html">Default</a></li><li><a href="foogrid/index.html">FooGrid</a></li><li><a href="image-viewer/index.html">Image Viewer</a></li><li><a href="justified/index.html">Justified</a></li><li><a href="masonry/index.html">Masonry</a></li><li><a href="masonry-fixed/index.html">Masonry Fixed</a></li><li><a href="portfolio/index.html">Portfolio</a></li><li><a href="slider/index.html">Slider</a></li></ul>
</main>
</body>
</html>