<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Slider Template</title>
	<link href="../../dist/full/css/foogallery.css" rel="stylesheet"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="../../dist/full/js/foogallery.js"></script>
	<script>
		(function(_){

			_.auto({
				"lazy": true,
				"item": {
					"maxDescriptionLength": 36
				},
				"filtering": {
					"type": "tags",
					"showCount": true,
					"adjustOpacity": true
				},
				"paging": {
					"type": "dots",
					"size": 10
				}
			});

			$(function(){
				$(".reload").on("click", function(e){
					e.preventDefault();
					$(this).nextAll('[id^="foogallery-"]:first').foogallery(_.autoDefaults);
				});

				$(".destroy").on("click", function(e){
					e.preventDefault();
					$(this).nextAll('[id^="foogallery-"]:first').foogallery("destroy");
				});

				$("body").on("post-load", function(){
					console.log("<------------------------ WordPress Hook ------------------------>");
				});
			});

		})(FooGallery);
	</script>
</head>
<body>
<div id="wrapper">

	<h3>HTML Items</h3>

	<h3>JSON Items</h3>

	<button type="button" class="reload">Reload</button>
	<button type="button" class="destroy">Destroy</button>
	<div id="foogallery-gallery-2" class="foogallery fg-hover-push fg-hover-zoom fg-video-default fg-video-sticky fg-slider fg-dark fgs-purple"
			 data-foogallery='{"items":"items-150x150.json"}'>
	</div>

	<h3>Full JSON Init</h3>

	<button type="button" class="reload">Reload</button>
	<button type="button" class="destroy">Destroy</button>
	<div id="foogallery-gallery-3"
			 data-foogallery='{"type": "slider", "items": "items-150x150.json", "classes": "fg-hover-fade fg-hover-zoom fg-video-2 fg-video-sticky fg-dark fgs-purple"}'>
	</div>

</div>
</body>
</html>