.foogallery, .foogallery * {
	box-sizing: border-box;
}
.foogallery {
	z-index: 1;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	position: relative;
}
.foogallery .fg-item {
	background-color: transparent;
	z-index: 1;
}
.foogallery .fg-item-inner {
	visibility: hidden;
	opacity: 0;
	z-index: 1;
	border: solid 0 transparent;
}
.foogallery .fg-item.fg-idle,
.foogallery .fg-item.fg-loading {
	background: no-repeat center;
}
.foogallery .fg-item.fg-loaded {
	z-index: 2;
}
.foogallery .fg-loaded .fg-item-inner {
	visibility: visible;
	opacity: 1;
	z-index: 3;
}

/* Utility */
.fg-sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}
