.foogallery, .foogallery * {
	box-sizing: border-box;
}
.foogallery {
	display: block;
	z-index: 1;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	position: relative;
}
.foogallery .fg-item {
	display: inline-block;
	position: relative;
	background-color: transparent;
	z-index: 2;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.foogallery .fg-item-inner {
	display: block;
	position: relative;
	visibility: hidden;
	overflow: hidden;
	opacity: 0;
	z-index: 3;
	border: solid 0 transparent;
}

.foogallery .fg-item.fg-loading,
.foogallery .fg-item.fg-error {
	background: no-repeat center;
}

.foogallery .fg-item.fg-error {
	background-image: url('../img/image.png');
}

/* @2x Images (Pixel Ratio of 1.25+) */
@media only screen and (-o-min-device-pixel-ratio: 5/4),
only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and (min-device-pixel-ratio: 1.25),
only screen and (min-resolution: 1.25dppx) {
	.foogallery .fg-item.fg-idle,
	.foogallery .fg-item.fg-error {
		background-image: url('../img/image@2x.png');
	}
}

/* @3x Images (Pixel Ratio of 2.25+) */
@media only screen and (-o-min-device-pixel-ratio: 9/4),
only screen and (-webkit-min-device-pixel-ratio: 2.25),
only screen and (min-device-pixel-ratio: 2.25),
only screen and (min-resolution: 2.25dppx) {
	.foogallery .fg-item.fg-idle,
	.foogallery .fg-item.fg-error {
		background-image: url('../img/image@3x.png');
	}
}

.foogallery .fg-item.fg-loaded {
	z-index: 4;
}
.foogallery .fg-loaded .fg-item-inner {
	visibility: visible;
	opacity: 1;
	z-index: 5;
}
.foogallery .fg-error .fg-item-inner {
	pointer-events: none;
	cursor: default;
}
.foogallery .fg-thumb {
	display: block;
	position: relative;
	border: none;
	outline: 0;
	text-decoration: none;
	z-index: 4;
}
.foogallery .fg-image {
	display: block;
	position: relative;
	border: none;
	outline: 0;
	text-decoration: none;
	z-index: 5;
}
.foogallery .fg-loaded .fg-thumb {
	z-index: 6;
}
.foogallery .fg-loaded .fg-image {
	z-index: 7;
}

/* Utility */
.fg-sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}
