/* Border Style */
.foogallery.fg-item-light .fg-item-inner {
	background-color: #FFF;
	color: #333;
	border-color: #FFF;
	box-shadow: 0 0 0 1px #ddd;
}
.foogallery.fg-item-dark .fg-item-inner {
	background-color: #333;
	color: #FFF;
	border-color: #333;
	box-shadow: 0 0 0 1px #222;
}

/* Border Size */
.foogallery.fg-border-thin .fg-item-inner {
	border-width: 5px;
}
.foogallery.fg-border-medium .fg-item-inner {
	border-width: 10px;
}
.foogallery.fg-border-thick .fg-item-inner {
	border-width: 15px;
}

/* Rounded Corners */
.foogallery.fg-round-small .fg-item-inner,
.foogallery.fg-round-medium .fg-item-inner,
.foogallery.fg-round-large .fg-item-inner,
.foogallery.fg-round-full .fg-item-inner {
	overflow: hidden;
}
.foogallery.fg-round-small .fg-item,
.foogallery.fg-round-small .fg-item-inner {
	border-radius: 5px;
}
.foogallery.fg-round-medium .fg-item,
.foogallery.fg-round-medium .fg-item-inner {
	border-radius: 10px;
}
.foogallery.fg-round-large .fg-item,
.foogallery.fg-round-large .fg-item-inner {
	border-radius: 15px;
}
.foogallery.fg-round-full .fg-item,
.foogallery.fg-round-full .fg-item-inner {
	border-radius: 50%;
}

/* Drop Shadows */
.foogallery.fg-shadow-small .fg-item-inner {
	box-shadow:0 1px 5px rgba(0, 0, 0, 0.5);
}
.foogallery.fg-shadow-medium .fg-item-inner {
	box-shadow:0 1px 10px rgba(0, 0, 0, 0.5);
}
.foogallery.fg-shadow-large .fg-item-inner {
	box-shadow:0 1px 15px rgba(0, 0, 0, 0.5);
}
/* Inset Shadows */
.foogallery.fg-shadow-inset-small .fg-thumb:after,
.foogallery.fg-shadow-inset-medium .fg-thumb:after,
.foogallery.fg-shadow-inset-large .fg-thumb:after {
	display: block;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 4;
}
.foogallery.fg-shadow-inset-small .fg-thumb:after {
	box-shadow: inset 0 1px 5px 0 rgba(0,0,0,0.3);
}
.foogallery.fg-shadow-inset-medium .fg-thumb:after {
	box-shadow: inset 0 1px 10px 0 rgba(0,0,0,0.3);
}
.foogallery.fg-shadow-inset-large .fg-thumb:after {
	box-shadow: inset 0 1px 15px 0 rgba(0,0,0,0.3);
}