/* Caption Styles */
.foogallery .fg-caption {
	visibility: hidden;
	opacity: 0;
	background-color: rgba(0,0,0,0.6);
	color: #fff;
	position: absolute;
	z-index: 8;
	width: 100%;
	max-height: 100%;
	overflow: hidden;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	font-size: 13px;
	font-weight: 300;
	line-height: 1.2;
	border: solid 5px transparent;
	text-align: center;
	cursor: pointer;
}

.foogallery .fg-caption-title {
	text-wrap: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 16px;
	font-weight: 400;
}
.foogallery .fg-caption-title+.fg-caption-desc {
	margin-top: 5px;
}

/*!* Simple *!*/
/*.foogallery.fg-caption-simple .fg-item-inner .fg-caption {*/
	/*bottom: 0;*/
	/*display: block;*/
	/*left: 0;*/
	/*transform: translateY(100%);*/
/*}*/
/*.foogallery.fg-caption-simple .fg-item-inner:hover .fg-caption {*/
	/*transform: translateY(0);*/
/*}*/
/*.foogallery.fg-caption-simple .fg-item-inner .fg-caption-title {*/
	/*text-align: left;*/
/*}*/
/*.foogallery.fg-caption-simple .fg-item-inner .fg-caption-desc {*/
	/*text-align: justify;*/
/*}*/

/* Always */
.foogallery.fg-caption-always .fg-caption-inner:before {
	display: none;
}
.foogallery.fg-caption-always .fg-item-inner .fg-caption {
	left: 0;
	bottom: 0;
	transition-timing-function: ease;
	transition-duration: 300ms;
	transition-property: visibility, opacity;
	visibility: visible;
	opacity: 1;
}
.foogallery.fg-caption-always .fg-item-inner:hover .fg-caption {
	visibility: hidden;
	opacity: 0;
}
.foogallery.fg-caption-always .fg-item-inner .fg-caption-title {
	text-align: left;
}
.foogallery.fg-caption-always .fg-item-inner .fg-caption-desc {
	text-align: justify;
}

/*!* Drop *!*/
/*.foogallery.fg-caption-drop .fg-thumb:before {*/
	/*display: none;*/
/*}*/
/*.foogallery.fg-caption-drop .fg-item-inner .fg-caption {*/
	/*display: block;*/
	/*left: 0;*/
	/*top: 0;*/
	/*bottom: 0;*/
	/*transform: translateY(-100%);*/
/*}*/
/*.foogallery.fg-caption-drop .fg-item-inner:hover .fg-caption {*/
	/*transform: translateY(0);*/
/*}*/
/*.foogallery.fg-caption-drop .fg-item-inner .fg-caption-inner {*/
	/*width: 100%;*/
	/*position: absolute;*/
	/*top: 50%;*/
	/*left: 0;*/
	/*transform: translateY(-50%);*/
/*}*/

/*!* Fade *!*/
/*.foogallery.fg-caption-fade .fg-thumb:before {*/
	/*display: none;*/
/*}*/
/*.foogallery.fg-caption-fade .fg-item-inner .fg-caption {*/
	/*display: block;*/
	/*opacity: 0;*/
	/*left: 0;*/
	/*top: 0;*/
	/*bottom: 0;*/
/*}*/
/*.foogallery.fg-caption-fade .fg-item-inner .fg-caption-inner {*/
	/*width: 100%;*/
	/*position: absolute;*/
	/*top: 50%;*/
	/*left: 0;*/
	/*transform: translateY(-50%);*/
/*}*/
/*.foogallery.fg-caption-fade .fg-item-inner:hover .fg-caption {*/
	/*opacity: 1;*/
/*}*/

/*!* Push *!*/
/*.foogallery.fg-caption-push .fg-thumb:before {*/
	/*display: none;*/
/*}*/
/*.foogallery.fg-caption-push .fg-item-inner .fg-caption {*/
	/*display: block;*/
	/*left: 0;*/
	/*top: 0;*/
	/*bottom: 0;*/
	/*transform: translateX(100%);*/
/*}*/
/*.foogallery.fg-caption-push .fg-item-inner:hover .fg-caption {*/
	/*transform: translateY(0);*/
/*}*/
/*.foogallery.fg-caption-push .fg-item-inner .fg-thumb {*/
	/*transition: all 300ms ease-out;*/
/*}*/
/*.foogallery.fg-caption-push .fg-item-inner:hover .fg-thumb {*/
	/*transform: translateX(-100%);*/
/*}*/
/*.foogallery.fg-caption-push .fg-item-inner .fg-caption-inner {*/
	/*width: 100%;*/
	/*position: absolute;*/
	/*top: 50%;*/
	/*left: 0;*/
	/*transform: translateY(-50%);*/
/*}*/