/* Hover Effects */
.foogallery.fg-caption-hover.fg-hover-fade .fg-caption,
.foogallery.fg-caption-hover.fg-hover-drop .fg-caption,
.foogallery.fg-caption-hover.fg-hover-push .fg-caption,
.foogallery.fg-caption-hover.fg-hover-colorize .fg-caption,
.foogallery.fg-caption-hover.fg-hover-grayscale .fg-caption,
.foogallery.fg-hover-fade .fg-thumb:before,
.foogallery.fg-hover-drop .fg-thumb:before,
.foogallery.fg-hover-push .fg-thumb,
.foogallery.fg-hover-colorize .fg-thumb:before,
.foogallery.fg-hover-grayscale .fg-thumb:before,
.foogallery.fg-hover-scale .fg-item,
.foogallery.fg-hover-colorize .fg-image,
.foogallery.fg-hover-grayscale .fg-image {
	transition-timing-function: ease;
	transition-duration: 300ms;
}

/* Fade */
.foogallery.fg-hover-fade .fg-thumb:before,
.foogallery.fg-caption-hover.fg-hover-fade .fg-caption {
	display: block;
	left: 0;
	top: 0;
	bottom: 0;
	transition-property: visibility, opacity;
}
.foogallery.fg-hover-fade .fg-item-inner:hover .fg-thumb:before,
.foogallery.fg-caption-hover.fg-hover-fade .fg-item-inner:hover .fg-caption {
	visibility: visible;
	opacity: 1;
}
.foogallery.fg-caption-hover.fg-hover-fade .fg-caption-inner {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.foogallery.fg-caption-hover.fg-hover-fade .fg-thumb:before {
	display: none;
}

/* Drop */
.foogallery.fg-hover-drop .fg-thumb:before,
.foogallery.fg-caption-hover.fg-hover-drop .fg-caption {
	display: block;
	left: 0;
	top: 0;
	bottom: 0;
	transition-property: transform;
	transform: translateY(-100%);
	visibility: visible;
	opacity: 1;
}
.foogallery.fg-hover-drop .fg-item-inner:hover .fg-thumb:before,
.foogallery.fg-caption-hover.fg-hover-drop .fg-item-inner:hover .fg-caption {
	transform: translateY(0);
}
.foogallery.fg-caption-hover.fg-hover-drop .fg-caption-inner {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.foogallery.fg-caption-hover.fg-hover-drop .fg-thumb:before {
	display: none;
}

/* Push */
.foogallery.fg-hover-push .fg-thumb:before,
.foogallery.fg-caption-hover.fg-hover-push .fg-caption {
	display: block;
	left: 0;
	top: 0;
	bottom: 0;
	transform: translateX(100%);
	visibility: visible;
	opacity: 1;
}
.foogallery.fg-hover-push .fg-thumb,
.foogallery.fg-caption-hover.fg-hover-push .fg-caption {
	transition-property: transform;
}
.foogallery.fg-caption-hover.fg-hover-push .fg-item-inner:hover .fg-caption {
	transform: translateY(0);
}
.foogallery.fg-hover-push .fg-item-inner:hover .fg-thumb,
.foogallery.fg-caption-hover.fg-hover-push .fg-item-inner:hover .fg-thumb {
	transform: translateX(-100%);
}
.foogallery.fg-caption-hover.fg-hover-push .fg-item-inner .fg-caption-inner {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.foogallery.fg-caption-hover.fg-hover-push .fg-thumb:before {
	display: none;
}

/* Scale */
.foogallery.fg-hover-scale .fg-item {
	transition-property: transform;
	z-index: 4;
}

.foogallery.fg-hover-scale .fg-item:hover {
	transform: scale(1.048);
	z-index: 10;
}
.foogallery.fg-hover-scale .fg-thumb:before,
.foogallery.fg-caption-hover.fg-hover-scale .fg-caption {
	display: block;
	left: 0;
	top: 0;
	bottom: 0;
	transition-property: visibility, opacity;
}
.foogallery.fg-hover-scale .fg-item-inner:hover .fg-thumb:before,
.foogallery.fg-caption-hover.fg-hover-scale .fg-item-inner:hover .fg-caption {
	visibility: visible;
	opacity: 1;
}
.foogallery.fg-caption-hover.fg-hover-scale .fg-caption-inner {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.foogallery.fg-caption-hover.fg-hover-scale .fg-thumb:before {
	display: none;
}

/* Colorize */
.foogallery.fg-hover-colorize .fg-image {
	/* Firefox 10+, Firefox on Android */
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'saturate\' values=\'0\'/></filter></svg>#grayscale");
	/* IE 6-9 */
	filter: gray;
	/* Chrome 19+, Safari 6+, Safari 6+ iOS */
	-webkit-filter: grayscale(100%);
	-webkit-transition-property: -webkit-filter;
	transition-property: filter;
}
.foogallery.fg-hover-colorize .fg-item-inner:hover .fg-image {
	-webkit-filter: none;
	filter: none;
}
.foogallery.fg-hover-colorize .fg-thumb:before,
.foogallery.fg-caption-hover.fg-hover-colorize .fg-caption {
	display: block;
	left: 0;
	top: 0;
	bottom: 0;
	transition-property: visibility, opacity;
}
.foogallery.fg-hover-colorize .fg-item-inner:hover .fg-thumb:before,
.foogallery.fg-caption-hover.fg-hover-colorize .fg-item-inner:hover .fg-caption {
	visibility: visible;
	opacity: 1;
}
.foogallery.fg-caption-hover.fg-hover-colorize .fg-caption-inner {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.foogallery.fg-caption-hover.fg-hover-colorize .fg-thumb:before {
	display: none;
}

/* Grayscale */
.foogallery.fg-hover-grayscale .fg-image {
	-webkit-filter: none;
	filter: none;
	-webkit-transition-property: -webkit-filter;
	transition-property: filter;
}
.foogallery.fg-hover-grayscale .fg-item-inner:hover .fg-image {
	/* For Webkit browsers */
	-webkit-filter: grayscale(1);
	-webkit-filter: grayscale(100%);
	/* Standard */
	filter: grayscale(100%);
	/* For IE 6 - 9 */
	filter: gray;
	opacity: 1;
}
.foogallery.fg-hover-grayscale .fg-thumb:before,
.foogallery.fg-caption-hover.fg-hover-grayscale .fg-caption {
	display: block;
	left: 0;
	top: 0;
	bottom: 0;
	transition-property: visibility, opacity;
}
.foogallery.fg-hover-grayscale .fg-item-inner:hover .fg-thumb:before,
.foogallery.fg-caption-hover.fg-hover-grayscale .fg-item-inner:hover .fg-caption {
	visibility: visible;
	opacity: 1;
}
.foogallery.fg-caption-hover.fg-hover-grayscale .fg-caption-inner {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.foogallery.fg-caption-hover.fg-hover-grayscale .fg-thumb:before {
	display: none;
}