/* Hover Effects */
/* Icon & Overlay */
.foogallery.fg-hover-zoom .fg-thumb,
.foogallery.fg-hover-zoom2 .fg-thumb,
.foogallery.fg-hover-zoom3 .fg-thumb,
.foogallery.fg-hover-plus .fg-thumb,
.foogallery.fg-hover-circle-plus .fg-thumb,
.foogallery.fg-hover-eye .fg-thumb,
.foogallery.fg-hover-tint .fg-thumb {
	position: relative;
	z-index: 1;
}

.foogallery.fg-hover-zoom .fg-thumb:before,
.foogallery.fg-hover-zoom2 .fg-thumb:before,
.foogallery.fg-hover-zoom3 .fg-thumb:before,
.foogallery.fg-hover-plus .fg-thumb:before,
.foogallery.fg-hover-circle-plus .fg-thumb:before,
.foogallery.fg-hover-eye .fg-thumb:before,
.foogallery.fg-hover-tint .fg-thumb:before {
	content: "";
	display: block;
	position: absolute;
	visibility: hidden;
	opacity: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	background: rgba(0,0,0,0.5) no-repeat center center;
	background-size: 32px 32px;
	transition: all .3s linear;
}

.foogallery.fg-hover-zoom .fg-thumb:hover:before,
.foogallery.fg-hover-zoom2 .fg-thumb:hover:before,
.foogallery.fg-hover-zoom3 .fg-thumb:hover:before,
.foogallery.fg-hover-plus .fg-thumb:hover:before,
.foogallery.fg-hover-circle-plus .fg-thumb:hover:before,
.foogallery.fg-hover-eye .fg-thumb:hover:before,
.foogallery.fg-hover-tint .fg-thumb:hover:before,
.foogallery.fg-hover-zoom .fg-thumb:focus:before,
.foogallery.fg-hover-zoom2 .fg-thumb:focus:before,
.foogallery.fg-hover-zoom3 .fg-thumb:focus:before,
.foogallery.fg-hover-plus .fg-thumb:focus:before,
.foogallery.fg-hover-circle-plus .fg-thumb:focus:before,
.foogallery.fg-hover-eye .fg-thumb:focus:before,
.foogallery.fg-hover-tint .fg-thumb:focus:before {
	visibility: visible;
	opacity: 1;
}

.foogallery.fg-hover-zoom .fg-thumb:before {
	background-image: url('../img/zoom.png');
}

.foogallery.fg-hover-zoom2 .fg-thumb:before {
	background-image: url('../img/zoom2.png');
}

.foogallery.fg-hover-zoom3 .fg-thumb:before {
	background-image: url('../img/zoom3.png');
}

.foogallery.fg-hover-plus .fg-thumb:before {
	background-image: url('../img/plus.png');
}

.foogallery.fg-hover-circle-plus .fg-thumb:before {
	background-image: url('../img/circle-plus.png');
}

.foogallery.fg-hover-eye .fg-thumb:before {
	background-image: url('../img/eye.png');
}

/* @2x Images (Pixel Ratio of 1.25+) */
@media only screen and (-o-min-device-pixel-ratio: 5/4),
only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and (min-device-pixel-ratio: 1.25),
only screen and (min-resolution: 1.25dppx) {

	.foogallery.fg-hover-zoom .fg-thumb:before {
		background-image: url('../img/zoom@2x.png');
	}

	.foogallery.fg-hover-zoom2 .fg-thumb:before {
		background-image: url('../img/zoom2@2x.png');
	}

	.foogallery.fg-hover-zoom3 .fg-thumb:before {
		background-image: url('../img/zoom3@2x.png');
	}

	.foogallery.fg-hover-plus .fg-thumb:before{
		background-image: url('../img/plus@2x.png');
	}

	.foogallery.fg-hover-circle-plus .fg-thumb:before {
		background-image: url('../img/circle-plus@2x.png');
	}

	.foogallery.fg-hover-eye .fg-thumb:before {
		background-image: url('../img/eye@2x.png');
	}
}

/* @3x Images (Pixel Ratio of 2.25+) */
@media only screen and (-o-min-device-pixel-ratio: 9/4),
only screen and (-webkit-min-device-pixel-ratio: 2.25),
only screen and (min-device-pixel-ratio: 2.25),
only screen and (min-resolution: 2.25dppx) {

	.foogallery.fg-hover-zoom .fg-thumb:before {
		background-image: url('../img/zoom@3x.png');
	}

	.foogallery.fg-hover-zoom2 .fg-thumb:before {
		background-image: url('../img/zoom2@3x.png');
	}

	.foogallery.fg-hover-zoom3 .fg-thumb:before {
		background-image: url('../img/zoom3@3x.png');
	}

	.foogallery.fg-hover-plus .fg-thumb:before{
		background-image: url('../img/plus@3x.png');
	}

	.foogallery.fg-hover-circle-plus .fg-thumb:before {
		background-image: url('../img/circle-plus@3x.png');
	}

	.foogallery.fg-hover-eye .fg-thumb:before {
		background-image: url('../img/eye@3x.png');
	}
}

/* Colorize/Grayscale */
.foogallery.fg-hover-color .fg-thumb:before {
	background: none;
}
.foogallery.fg-hover-color .fg-image {
	background-image: none;
	background-color: transparent;
	/* For Webkit browsers */
	-webkit-filter: grayscale(1);
	-webkit-filter: grayscale(100%);
	/* Standard */
	filter: grayscale(100%);
	/* For IE 6 - 9 */
	filter: gray;
	-webkit-transition: -webkit-filter .3s linear;
	-moz-transition: filter .3s linear;
	-o-transition: filter .3s linear;
	transition: filter .3s linear;
}
.foogallery.fg-hover-color .fg-thumb:hover .fg-image {
	-webkit-filter: none;
	filter: none;
	opacity: 1;
}

/* Scale */
.foogallery.fg-hover-scale .fg-thumb {
	transition: transform 0.2s linear;
	z-index: 1;
}

.foogallery.fg-hover-scale .fg-thumb:hover {
	transform: scale(1.05);
	z-index: 2;
}

/* None */
.foogallery.fg-hover-none .fg-thumb:before,
.foogallery.fg-hover-none .fg-thumb:before:hover {
	background: none;
}