.foogallery.fg-light.fg-loading-default .fg-item.fg-loading {
	background-image: url('../img/loading-default.gif');
}
.foogallery.fg-light.fg-loading-ellipsis .fg-item.fg-loading {
	background-image: url('../img/loading-ellipsis.gif');
}
.foogallery.fg-light.fg-loading-gears .fg-item.fg-loading {
	background-image: url('../img/loading-gears.gif');
}
.foogallery.fg-light.fg-loading-hourglass .fg-item.fg-loading {
	background-image: url('../img/loading-hourglass.gif');
}
.foogallery.fg-light.fg-loading-reload .fg-item.fg-loading {
	background-image: url('../img/loading-reload.gif');
}
.foogallery.fg-light.fg-loading-ripple .fg-item.fg-loading {
	background-image: url('../img/loading-ripple.gif');
}
.foogallery.fg-light.fg-loading-bars .fg-item.fg-loading {
	background-image: url('../img/loading-bars.gif');
}
.foogallery.fg-light.fg-loading-spin .fg-item.fg-loading {
	background-image: url('../img/loading-spin.gif');
}
.foogallery.fg-light.fg-loading-squares .fg-item.fg-loading {
	background-image: url('../img/loading-squares.gif');
}
.foogallery.fg-light.fg-loading-cube .fg-item.fg-loading {
	background-image: url('../img/loading-cube.gif');
}

/* Dark */
.foogallery.fg-dark.fg-loading-default .fg-item.fg-loading {
	background-image: url('../img/loading-default-dark.gif');
}
.foogallery.fg-dark.fg-loading-ellipsis .fg-item.fg-loading {
	background-image: url('../img/loading-ellipsis-dark.gif');
}
.foogallery.fg-dark.fg-loading-gears .fg-item.fg-loading {
	background-image: url('../img/loading-gears-dark.gif');
}
.foogallery.fg-dark.fg-loading-hourglass .fg-item.fg-loading {
	background-image: url('../img/loading-hourglass-dark.gif');
}
.foogallery.fg-dark.fg-loading-reload .fg-item.fg-loading {
	background-image: url('../img/loading-reload-dark.gif');
}
.foogallery.fg-dark.fg-loading-ripple .fg-item.fg-loading {
	background-image: url('../img/loading-ripple-dark.gif');
}
.foogallery.fg-dark.fg-loading-bars .fg-item.fg-loading {
	background-image: url('../img/loading-bars-dark.gif');
}
.foogallery.fg-dark.fg-loading-spin .fg-item.fg-loading {
	background-image: url('../img/loading-spin-dark.gif');
}
.foogallery.fg-dark.fg-loading-squares .fg-item.fg-loading {
	background-image: url('../img/loading-squares-dark.gif');
}
.foogallery.fg-dark.fg-loading-cube .fg-item.fg-loading {
	background-image: url('../img/loading-cube-dark.gif');
}