/* Goliath */
.foogallery.fg-preset.fg-goliath .fg-image {
	opacity: 1;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.foogallery.fg-preset.fg-goliath .fg-item-inner:hover .fg-image {
	-webkit-transform: translateY(-80px);
	transform: translateY(-80px);
}

.foogallery.fg-preset.fg-goliath .fg-caption {
	text-align: left;
}
.foogallery.fg-preset.fg-goliath .fg-caption-inner {
	border: solid 30px transparent;
	border-top-width: 8px;
	border-bottom-width: 8px;
	position: absolute;
	top: auto;
	left: 0;
	right: 0;
	bottom: 0;
	height: 80px;
	overflow: visible;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}
.foogallery.fg-preset.fg-goliath .fg-item-inner:hover .fg-caption-inner {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.foogallery.fg-preset.fg-goliath .fg-caption-title {
	-webkit-transform: translateY(-100%) translateY(-38px);
	transform: translateY(-100%) translateY(-38px);
}

.foogallery.fg-preset.fg-goliath .fg-caption-desc {
	position: absolute;
	text-transform: none;
	top: 50%;
	transform: translateY(-50%);
	opacity: 0;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}
.foogallery.fg-preset.fg-goliath .fg-item-inner:hover .fg-caption-desc {
	opacity: 1;
}

/* Themes */
.foogallery.fg-preset.fg-goliath .fg-caption-desc,
.foogallery.fg-light.fg-preset.fg-goliath .fg-caption-desc {
	color: #333;
}
.foogallery.fg-dark.fg-preset.fg-goliath .fg-caption-desc {
	color: #FFF;
}

/* Inset Shadows */
.foogallery.fg-preset.fg-goliath.fg-shadow-inset-small .fg-thumb:after,
.foogallery.fg-preset.fg-goliath.fg-shadow-inset-medium .fg-thumb:after,
.foogallery.fg-preset.fg-goliath.fg-shadow-inset-large .fg-thumb:after {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.foogallery.fg-preset.fg-goliath.fg-shadow-inset-small .fg-item-inner:hover .fg-thumb:after,
.foogallery.fg-preset.fg-goliath.fg-shadow-inset-medium .fg-item-inner:hover .fg-thumb:after,
.foogallery.fg-preset.fg-goliath.fg-shadow-inset-large .fg-item-inner:hover .fg-thumb:after {
	-webkit-transform: translateY(-80px);
	transform: translateY(-80px);
}