/* Goliath */
.foogallery.fg-preset.fg-goliath .fg-thumb {
	opacity: 1;
	transition: transform 0.35s;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	background-color: #333;
}
.foogallery.fg-preset.fg-goliath .fg-item-inner:hover .fg-thumb,
.foogallery.fg-preset.fg-goliath .fg-item-inner:focus-within .fg-thumb {
	-webkit-transform: translateY(-40px);
	transform: translateY(-40px);
}
.foogallery.fg-preset.fg-goliath .fg-image {
	opacity: 1;
	transition: opacity 0.35s;
}
.foogallery.fg-preset.fg-goliath .fg-item-inner:hover .fg-image,
.foogallery.fg-preset.fg-goliath .fg-item-inner:focus-within .fg-image {
	opacity: 0.6;
}

.foogallery.fg-preset.fg-goliath .fg-caption {
	text-align: left;
}
.foogallery.fg-preset.fg-goliath .fg-caption-inner {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	gap: 0;
	overflow: visible;
	-webkit-transform: translateY(40px);
	transform: translateY(40px);
	transition: transform 0.35s;
    align-items: flex-start;
    justify-content: flex-end;
}
.foogallery.fg-preset.fg-goliath .fg-item-inner:hover .fg-caption-inner,
.foogallery.fg-preset.fg-goliath .fg-item-inner:focus-within .fg-caption-inner {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.foogallery.fg-preset.fg-goliath .fg-caption-title {
    order: 2;
	padding: 10px;
	max-height: calc(100% - 40px);
	clip-path: content-box;
    width: 100%;
}

.foogallery.fg-preset.fg-goliath .fg-caption-desc {
    order: 3;
	-webkit-line-clamp: 2;
	position: relative;
	padding: 4px 10px;
    width: 100%;
	height: 40px;
	min-height: 40px;
	max-height: 40px;
	text-transform: none;
	opacity: 0;
	transition: opacity 0.35s;
	line-height: 1.4;
	text-shadow: none;
}
.foogallery.fg-preset.fg-goliath .fg-item-inner:hover .fg-caption-desc,
.foogallery.fg-preset.fg-goliath .fg-item-inner:focus-within .fg-caption-desc {
	opacity: 1;
}

.foogallery.fg-preset.fg-goliath .fg-caption-buttons {
    padding: 10px 10px 0;
    order: 1;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity .35s, visibility .35s;
    justify-content: flex-start;
}
.foogallery.fg-preset.fg-goliath .fg-item-inner:hover .fg-caption-buttons,
.foogallery.fg-preset.fg-goliath .fg-item-inner:focus-within .fg-caption-buttons {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
}

/* Themes */
.foogallery.fg-preset.fg-goliath .fg-caption-desc,
.foogallery.fg-light.fg-preset.fg-goliath .fg-caption-desc {
	color: #333;
}
.foogallery.fg-dark.fg-preset.fg-goliath .fg-caption-desc {
	color: #FFF;
}

/* Preset Sizes */
.foogallery.fg-preset.fg-preset-small.fg-goliath .fg-caption-inner {
	-webkit-transform: translateY(40px);
	transform: translateY(40px);
}
.foogallery.fg-preset.fg-preset-small.fg-goliath .fg-item-inner:hover .fg-thumb,
.foogallery.fg-preset.fg-preset-small.fg-goliath .fg-item-inner:focus-within .fg-thumb {
	-webkit-transform: translateY(-40px);
	transform: translateY(-40px);
}
.foogallery.fg-preset.fg-preset-small.fg-goliath .fg-caption-title {
	max-height: calc(100% - 40px);
	padding: 10px;
}
.foogallery.fg-preset.fg-preset-small.fg-goliath .fg-caption-desc {
	line-height: 1.4;
	-webkit-line-clamp: 2;
	padding: 4px 10px;
	height: 40px;
	min-height: 40px;
	max-height: 40px;
}
.foogallery.fg-preset.fg-preset-small.fg-goliath .fg-caption-buttons {
    padding: 10px 10px 0;
}

.foogallery.fg-preset.fg-preset-medium.fg-goliath .fg-caption-inner {
	-webkit-transform: translateY(60px);
	transform: translateY(60px);
}
.foogallery.fg-preset.fg-preset-medium.fg-goliath .fg-item-inner:hover .fg-thumb,
.foogallery.fg-preset.fg-preset-medium.fg-goliath .fg-item-inner:focus-within .fg-thumb {
	-webkit-transform: translateY(-60px);
	transform: translateY(-60px);
}
.foogallery.fg-preset.fg-preset-medium.fg-goliath .fg-caption-title {
	max-height: calc(100% - 60px);
	padding: 20px;
}
.foogallery.fg-preset.fg-preset-medium.fg-goliath .fg-caption-desc {
	-webkit-line-clamp: 3;
	line-height: 1.3;
	padding: 6px 20px;
	height: 60px;
	min-height: 60px;
	max-height: 60px;
}
.foogallery.fg-preset.fg-preset-medium.fg-goliath .fg-caption-buttons {
    padding: 20px 20px 0;
}

.foogallery.fg-preset.fg-preset-large.fg-goliath .fg-caption-inner {
	-webkit-transform: translateY(80px);
	transform: translateY(80px);
}
.foogallery.fg-preset.fg-preset-large.fg-goliath .fg-item-inner:hover .fg-thumb,
.foogallery.fg-preset.fg-preset-large.fg-goliath .fg-item-inner:focus-within .fg-thumb {
	-webkit-transform: translateY(-80px);
	transform: translateY(-80px);
}
.foogallery.fg-preset.fg-preset-large.fg-goliath .fg-caption-title {
	max-height: calc(100% - 80px);
	padding: 30px;
}
.foogallery.fg-preset.fg-preset-large.fg-goliath .fg-caption-desc {
	-webkit-line-clamp: 3;
	line-height: 1.4;
	padding: 10px 30px;
	height: 80px;
	min-height: 80px;
	max-height: 80px;
}
.foogallery.fg-preset.fg-preset-large.fg-goliath .fg-caption-buttons {
    padding: 30px 30px 0;
}

/* Text Align */
.foogallery.fg-preset.fg-goliath.fg-c-l .fg-caption {
    text-align: left;
}
.foogallery.fg-preset.fg-goliath.fg-c-l .fg-caption-buttons {
    justify-content: flex-start;
}
.foogallery.fg-preset.fg-goliath.fg-c-c .fg-caption {
    text-align: center;
}
.foogallery.fg-preset.fg-goliath.fg-c-c .fg-caption-buttons {
    justify-content: center;
}
.foogallery.fg-preset.fg-goliath.fg-c-r .fg-caption {
    text-align: right;
}
.foogallery.fg-preset.fg-goliath.fg-c-r .fg-caption-buttons {
    justify-content: flex-end;
}
.foogallery.fg-preset.fg-goliath.fg-c-j .fg-caption {
    text-align: justify;
}
.foogallery.fg-preset.fg-goliath.fg-c-j .fg-caption-buttons {
    justify-content: stretch;
}