/* Jazz */
.foogallery.fg-preset.fg-jazz .fg-thumb {
	background: -webkit-linear-gradient(-45deg, #f3cf3f 0%,#f33f58 100%);
	background: linear-gradient(-45deg, #f3cf3f 0%,#f33f58 100%);
}

.foogallery.fg-preset.fg-jazz .fg-image {
	opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
.foogallery.fg-preset.fg-jazz .fg-item-inner:hover .fg-image {
	opacity: 0.7;
	-webkit-transform: scale3d(1.05,1.05,1);
	transform: scale3d(1.05,1.05,1);
}

.foogallery.fg-preset.fg-jazz .fg-caption:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,0,1);
	transform: rotate3d(0,0,1,45deg) scale3d(1,0,1);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}
.foogallery.fg-preset.fg-jazz .fg-item-inner:hover .fg-caption:after {
	opacity: 1;
	-webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
	transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
}

.foogallery.fg-preset.fg-jazz .fg-caption-inner {
	border: solid 25px transparent;
	position: absolute;
	top: 50%;
	left: 0;
	height: auto;
	transform: translateY(-50%);
}

.foogallery.fg-preset.fg-jazz .fg-caption-title {
	padding-top: 20px;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	opacity: 1;
	-webkit-transform: scale3d(0.8,0.8,1);
	transform: scale3d(0.8,0.8,1);
}
.foogallery.fg-preset.fg-jazz .fg-item-inner:hover .fg-caption-title {
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

.foogallery.fg-preset.fg-jazz .fg-caption-desc {
	padding: 4px;
	text-transform: none;
	opacity: 0;
	-webkit-transform: scale3d(0.8,0.8,1);
	transform: scale3d(0.8,0.8,1);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
.foogallery.fg-preset.fg-jazz .fg-item-inner:hover .fg-caption-desc {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

/* Preset Sizes */
.foogallery.fg-preset.fg-preset-small.fg-jazz .fg-caption-inner {
	border: solid 15px transparent;
}
.foogallery.fg-preset.fg-preset-medium.fg-jazz .fg-caption-inner {
	border: solid 25px transparent;
}
.foogallery.fg-preset.fg-preset-large.fg-jazz .fg-caption-inner {
	border: solid 35px transparent;
}