/* Layla */
.foogallery.fg-preset.fg-layla .fg-thumb {
	background: #18a367;
}
.foogallery.fg-preset.fg-layla .fg-image {
	opacity: 0.8;
	-webkit-transform: scale(1.12) translateY(-10%);
	transform: scale(1.12) translateY(-10%);
	transform-origin: 50% 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}
.foogallery.fg-preset.fg-layla .fg-item-inner:hover .fg-image {
	opacity: 0.7;
	-webkit-transform: scale(1.12) translateY(0);
	transform: scale(1.12) translateY(0);
}

.foogallery.fg-preset.fg-layla .fg-caption:before,
.foogallery.fg-preset.fg-layla .fg-caption:after {
	position: absolute;
	content: '';
	opacity: 0;
	box-sizing: border-box;
}
.foogallery.fg-preset.fg-layla .fg-caption:before {
	top: 35px;
	right: 15px;
	bottom: 35px;
	left: 15px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}
.foogallery.fg-preset.fg-layla .fg-caption:after {
	top: 15px;
	right: 35px;
	bottom: 15px;
	left: 35px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}
.foogallery.fg-preset.fg-layla .fg-item-inner:hover .fg-caption:before,
.foogallery.fg-preset.fg-layla .fg-item-inner:hover .fg-caption:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.foogallery.fg-preset.fg-layla .fg-caption-inner {
	border: solid 40px transparent;
}
.foogallery.fg-preset.fg-layla .fg-caption-title {
	position: relative;
	top: 50%;
	transform: translateY(-50%) translateY(-45px);
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}
.foogallery.fg-preset.fg-layla .fg-item-inner:hover .fg-caption-title {
	opacity: 1;
	transform: translateY(-50%) translateY(-15px);
}

.foogallery.fg-preset.fg-layla .fg-caption-desc {
	position: relative;
	top: 50%;
	padding: 0.5em;
	text-transform: none;
	opacity: 0;
	transform: translateY(-50%) translateY(-10px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}
.foogallery.fg-preset.fg-layla .fg-item-inner:hover .fg-caption-desc {
	opacity: 1;
	transform: translateY(-40px);
}