/* Oscar */
.foogallery.fg-preset.fg-oscar .fg-thumb {
	background: -webkit-linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);
	background: linear-gradient(45deg, #22682a 0%,#9b4a1b 40%,#3a342a 100%);
}
.foogallery.fg-preset.fg-oscar .fg-image {
	opacity: 1;
	transition: opacity 0.35s;
}
.foogallery.fg-preset.fg-oscar .fg-item-inner:hover .fg-image,
.foogallery.fg-preset.fg-oscar .fg-item-inner:focus-within .fg-image {
	opacity: 0.4;
}

.foogallery.fg-preset.fg-oscar .fg-caption {
	background-color: transparent;
	transition: background-color 0.35s;
}
.foogallery.fg-preset.fg-oscar .fg-item-inner:hover .fg-caption,
.foogallery.fg-preset.fg-oscar .fg-item-inner:focus-within .fg-caption {
	background-color: rgba(58,52,42,0);
}

.foogallery.fg-preset.fg-oscar .fg-caption:before {
	position: absolute;
	top: 10px;
	right: 10px;
	bottom: 10px;
	left: 10px;
	border: 1px solid #fff;
	content: '';
	opacity: 0;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0);
	transform: scale(0);
}
.foogallery.fg-preset.fg-oscar .fg-item-inner:hover .fg-caption:before,
.foogallery.fg-preset.fg-oscar .fg-item-inner:focus-within .fg-caption:before {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.foogallery.fg-preset.fg-oscar .fg-caption-inner {
	padding: 30px 25px 25px;
	transform: translateY(50%) translateY(-30px);
	overflow: visible;
	transition: transform .35s;
	gap: 10px;
}
.foogallery.fg-preset.fg-oscar .fg-item-inner:focus-within .fg-caption-inner,
.foogallery.fg-preset.fg-oscar .fg-item-inner:hover .fg-caption-inner {
    transform: translateY(0);
}

.foogallery.fg-preset.fg-oscar .fg-caption-title {
	position: relative;
	transition: transform 0.35s;
	transform: translateY(-50%);
	overflow: clip;
}
.foogallery.fg-preset.fg-oscar .fg-item-inner:hover .fg-caption-title,
.foogallery.fg-preset.fg-oscar .fg-item-inner:focus-within .fg-caption-title {
	transform: translateY(0);
}

.foogallery.fg-preset.fg-oscar .fg-caption-desc {
	position: relative;
	padding: 0;
	text-transform: none;
	transition: opacity 0.35s, transform 0.35s;
	opacity: 0;
	transform: scale(0) translateY(-60px);
}
.foogallery.fg-preset.fg-oscar .fg-item-inner:hover .fg-caption-desc,
.foogallery.fg-preset.fg-oscar .fg-item-inner:focus-within .fg-caption-desc {
	opacity: 1;
	transform: scale(1) translateY(0);
}

.foogallery.fg-preset.fg-oscar .fg-caption-buttons {
    opacity: 0;
    transform: scale(0) translateY(-60px);
    transition: opacity 0.35s, transform 0.35s;
}
.foogallery.fg-preset.fg-oscar .fg-item-inner:hover .fg-caption-buttons,
.foogallery.fg-preset.fg-oscar .fg-item-inner:focus-within .fg-caption-buttons {
    opacity: 1;
    transform: scale(1) translateY(0px);
}

/* Preset Sizes */
.foogallery.fg-preset.fg-preset-small.fg-oscar .fg-caption-inner {
	padding: 30px 25px 25px;
	transform: translateY(50%) translateY(-30px);
}
.foogallery.fg-preset.fg-preset-small.fg-oscar .fg-caption:before {
	top: 10px;
	right: 10px;
	bottom: 10px;
	left: 10px;
}

.foogallery.fg-preset.fg-preset-medium.fg-oscar .fg-caption-inner {
	padding: 40px 35px 35px;
	transform: translateY(50%) translateY(-40px);
}
.foogallery.fg-preset.fg-preset-medium.fg-oscar .fg-caption:before {
	top: 20px;
	right: 20px;
	bottom: 20px;
	left: 20px;
}

.foogallery.fg-preset.fg-preset-large.fg-oscar .fg-caption-inner {
	padding: 50px 45px 45px;
	transform: translateY(50%) translateY(-50px);
}
.foogallery.fg-preset.fg-preset-large.fg-oscar .fg-caption:before {
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
}