/* Oscar */
.foogallery.fg-preset.fg-oscar .fg-thumb {
	background: -webkit-linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);
	background: linear-gradient(45deg, #22682a 0%,#9b4a1b 40%,#3a342a 100%);
}
.foogallery.fg-preset.fg-oscar .fg-image {
	opacity: 1;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}
.foogallery.fg-preset.fg-oscar .fg-item-inner:hover .fg-image {
	opacity: 0.4;
}

.foogallery.fg-preset.fg-oscar .fg-caption {
	background-color: transparent;
	-webkit-transition: background-color 0.35s;
	transition: background-color 0.35s;
}
.foogallery.fg-preset.fg-oscar .fg-item-inner:hover .fg-caption {
	background-color: rgba(58,52,42,0);
}

.foogallery.fg-preset.fg-oscar .fg-caption:before {
	position: absolute;
	top: 20px;
	right: 20px;
	bottom: 20px;
	left: 20px;
	border: 1px solid #fff;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0);
	transform: scale(0);
}
.foogallery.fg-preset.fg-oscar .fg-item-inner:hover .fg-caption:before {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.foogallery.fg-preset.fg-oscar .fg-caption-inner {
	border: solid 25px transparent;
}

.foogallery.fg-preset.fg-oscar .fg-caption-title {
	position: relative;
	top: 50%;
	transition: transform 0.35s;
	transform: translateY(-50%);
}
.foogallery.fg-preset.fg-oscar .fg-item-inner:hover .fg-caption-title {
	transform: translateY(-50%) translateY(-45px);
}

.foogallery.fg-preset.fg-oscar .fg-caption-desc {
	position: relative;
	top: 50%;
	padding: 0.5em;
	text-transform: none;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	opacity: 0;
	transform: scale(0) translateY(-60px);
}
.foogallery.fg-preset.fg-oscar .fg-item-inner:hover .fg-caption-desc {
	opacity: 1;
	-webkit-transform: scale(1) translateY(-60px);
	transform: scale(1) translateY(-60px);
}

/* Preset Sizes */
.foogallery.fg-preset.fg-preset-small.fg-oscar .fg-caption-inner {
	border: solid 15px transparent;
}
.foogallery.fg-preset.fg-preset-small.fg-oscar .fg-caption:before {
	top: 10px;
	right: 10px;
	bottom: 10px;
	left: 10px;
}

.foogallery.fg-preset.fg-preset-medium.fg-oscar .fg-caption-inner {
	border: solid 25px transparent;
}
.foogallery.fg-preset.fg-preset-medium.fg-oscar .fg-caption:before {
	top: 20px;
	right: 20px;
	bottom: 20px;
	left: 20px;
}

.foogallery.fg-preset.fg-preset-large.fg-oscar .fg-caption-inner {
	border: solid 35px transparent;
}
.foogallery.fg-preset.fg-preset-large.fg-oscar .fg-caption:before {
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
}