/* Sadie */
.foogallery.fg-preset.fg-sadie .fg-thumb {
	background: #3085a3;
}
.foogallery.fg-preset.fg-sadie .fg-image {
	opacity: 1;
}
.foogallery.fg-preset.fg-sadie .fg-item-inner:hover .fg-image {
	opacity: 0.8;
}

.foogallery.fg-preset.fg-sadie .fg-caption:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(top, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
	background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
	content: '';
	opacity: 0;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translateY(50%);
	transform: translateY(50%);
}
.foogallery.fg-preset.fg-sadie .fg-item-inner:hover .fg-caption:before {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.foogallery.fg-preset.fg-sadie .fg-caption-title {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	color: #fff;
	transition: transform 0.35s;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.foogallery.fg-preset.fg-sadie .fg-item-inner:hover .fg-caption-title {
	-webkit-transform: translateY(-50%) translateY(-40px);
	transform: translateY(-50%) translateY(-40px);
}

.foogallery.fg-preset.fg-sadie .fg-caption-desc {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0.5em;
	width: 100%;
	max-height: calc(50% + 25px);
	opacity: 0;
	-webkit-transform: translateY(-10px);
	transform: translateY(-10px);
	transition: opacity 0.35s, transform 0.35s;
}
.foogallery.fg-preset.fg-sadie .fg-item-inner:hover .fg-caption-desc {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}