/* Sarah */
.foogallery.fg-preset.fg-sarah .fg-thumb {
	background: #42b078;
}
.foogallery.fg-preset.fg-sarah .fg-image {
	opacity: 1;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.12) translateX(-10%);
	transform: scale(1.12) translateX(-10%);
	transform-origin: 0 50%;
}
.foogallery.fg-preset.fg-sarah .fg-item-inner:hover .fg-image,
.foogallery.fg-preset.fg-sarah .fg-item-inner:focus-within .fg-image {
	opacity: 0.4;
	-webkit-transform: scale(1.12) translateX(0);
	transform: scale(1.12) translateX(0);
}

.foogallery.fg-preset.fg-sarah .fg-caption {
	text-align: left;
}

.foogallery.fg-preset.fg-sarah .fg-caption-inner {
	gap: 10px;
	padding: 10px;
	clip-path: content-box;
}
.foogallery.fg-preset.fg-sarah .fg-caption-inner:after {
	content: '';
	display: block;
	width: 100%;
	height: 3px;
	background: #fff;
	transition: transform 0.35s;
	transform: translateX(-101%);
	order: 2;
}
.foogallery.fg-preset.fg-sarah .fg-item-inner:hover .fg-caption-inner:after,
.foogallery.fg-preset.fg-sarah .fg-item-inner:focus-within .fg-caption-inner:after {
	transform: translateX(0);
}

.foogallery.fg-preset.fg-sarah .fg-caption-title {
	position: relative;
	overflow: visible;
	order: 1;
    width: 100%;
}

.foogallery.fg-preset.fg-sarah .fg-caption-desc {
	padding: 0;
	opacity: 0;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	order: 3;
    width: 100%;
}
.foogallery.fg-preset.fg-sarah .fg-item-inner:hover .fg-caption-desc,
.foogallery.fg-preset.fg-sarah .fg-item-inner:focus-within .fg-caption-desc {
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.foogallery.fg-preset.fg-sarah .fg-caption-buttons {
    justify-content: flex-start;
    order: 4;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.35s, transform 0.35s;
}
.foogallery.fg-preset.fg-sarah .fg-item-inner:hover .fg-caption-buttons,
.foogallery.fg-preset.fg-sarah .fg-item-inner:focus-within .fg-caption-buttons {
    opacity: 1;
    transform: translateX(0px);
}

/* Preset Sizes */
.foogallery.fg-preset.fg-preset-small.fg-sarah .fg-caption-inner {
	gap: 10px;
	padding: 10px;
}

.foogallery.fg-preset.fg-preset-medium.fg-sarah .fg-caption-inner {
	gap: 15px;
	padding: 15px;
}

.foogallery.fg-preset.fg-preset-large.fg-sarah .fg-caption-inner {
	gap: 20px;
	padding: 20px;
}

/* Text Align */
.foogallery.fg-preset.fg-sarah.fg-c-l .fg-caption {
    text-align: left;
}
.foogallery.fg-preset.fg-sarah.fg-c-l .fg-caption-buttons {
    justify-content: flex-start;
}
.foogallery.fg-preset.fg-sarah.fg-c-c .fg-caption {
    text-align: center;
}
.foogallery.fg-preset.fg-sarah.fg-c-c .fg-caption-buttons {
    justify-content: center;
}
.foogallery.fg-preset.fg-sarah.fg-c-r .fg-caption {
    text-align: right;
}
.foogallery.fg-preset.fg-sarah.fg-c-r .fg-caption-buttons {
    justify-content: flex-end;
}
.foogallery.fg-preset.fg-sarah.fg-c-j .fg-caption {
    text-align: justify;
}
.foogallery.fg-preset.fg-sarah.fg-c-j .fg-caption-buttons {
    justify-content: stretch;
}