/* Sarah */
.foogallery.fg-preset.fg-sarah .fg-thumb {
	background: #42b078;
}
.foogallery.fg-preset.fg-sarah .fg-image {
	opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.12) translateX(-10%);
	transform: scale(1.12) translateX(-10%);
	transform-origin: 0 50%;
}
.foogallery.fg-preset.fg-sarah .fg-item-inner:hover .fg-image {
	opacity: 0.4;
	-webkit-transform: scale(1.12) translateX(0);
	transform: scale(1.12) translateX(0);
}

.foogallery.fg-preset.fg-sarah .fg-caption {
	text-align: left;
}

.foogallery.fg-preset.fg-sarah .fg-caption-inner {
	border: solid 20px transparent;
}

.foogallery.fg-preset.fg-sarah .fg-caption-title {
	position: relative;
	overflow: hidden;
	padding: 0.5em 0;
}
.foogallery.fg-preset.fg-sarah .fg-caption-title:after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}
.foogallery.fg-preset.fg-sarah .fg-item-inner:hover .fg-caption-title:after {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.foogallery.fg-preset.fg-sarah .fg-caption-desc {
	padding: 1em 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}
.foogallery.fg-preset.fg-sarah .fg-item-inner:hover .fg-caption-desc {
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}