/* Steve */
.foogallery.fg-preset.fg-steve .fg-item-inner {
	overflow: visible;
}

.foogallery.fg-preset.fg-steve .fg-image-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	content: '';
	box-shadow: 0 1px 30px rgba(0,0,0,0.5);
	transition: opacity 0.35s;
	opacity: 0;
}
.foogallery.fg-preset.fg-steve .fg-item-inner:hover .fg-image-overlay,
.foogallery.fg-preset.fg-steve .fg-item-inner:focus-within .fg-image-overlay {
	opacity: 1;
}

.foogallery.fg-preset.fg-steve .fg-image {
	opacity: 1;
	transition: transform 0.35s;
	-webkit-transform: perspective(1000px) translate3d(0,0,0);
	transform: perspective(1000px) translate3d(0,0,0);
}
.foogallery.fg-preset.fg-steve .fg-item-inner:hover .fg-image,
.foogallery.fg-preset.fg-steve .fg-item-inner:focus-within .fg-image {
	-webkit-transform: perspective(1000px) translate3d(0,0,21px);
	transform: perspective(1000px) translate3d(0,0,21px);
}

.foogallery.fg-preset.fg-steve .fg-caption {
	text-align: center;
}

.foogallery.fg-preset.fg-steve .fg-caption-inner {
	gap: 10px;
	padding: 20px 10px;
	clip-path: content-box;
	text-shadow: none;
	transition: text-shadow .35s;
	overflow: visible;
}

.foogallery.fg-preset.fg-steve .fg-caption-title {
	overflow: visible;
	position: relative;
	padding: 5px 10px;
	line-height: 1.4;
	width: 100%;
	margin: 0;
	transition: box-shadow 0.35s;
	box-shadow: 0 1px 10px rgba(0,0,0,0.5);
	clip-path: border-box;
}
.foogallery.fg-preset.fg-steve .fg-item-inner:hover .fg-caption-title,
.foogallery.fg-preset.fg-steve .fg-item-inner:focus-within .fg-caption-title {
	box-shadow: 0 1px 10px rgba(0,0,0,0);
}

.foogallery.fg-preset.fg-steve .fg-caption-desc {
	position: relative;
	padding: 5px 10px 0;
	border-bottom: solid 5px #FFF;
	line-height: 1.4;
	width: 100%;
	height: auto;
	opacity: 0;
	background-color: #FFF;
	transition: opacity 0.35s, transform 0.35s;
	transform: scale(0.9);
	transform-origin: 50% 50%;
	clip-path: border-box;
}
.foogallery.fg-preset.fg-steve .fg-item-inner:hover .fg-caption-desc,
.foogallery.fg-preset.fg-steve .fg-item-inner:focus-within .fg-caption-desc {
	opacity: 1;
	transform: scale(1);
}

/* Preset Sizes */
.foogallery.fg-preset.fg-preset-small.fg-steve .fg-caption-inner {
	padding: 20px 10px;
}
.foogallery.fg-preset.fg-preset-medium.fg-steve .fg-caption-inner {
	padding: 30px 20px;
}
.foogallery.fg-preset.fg-preset-large.fg-steve .fg-caption-inner {
	padding: 40px 30px;
}

/* Themes */
.foogallery.fg-preset.fg-steve .fg-caption-title,
.foogallery.fg-preset.fg-steve .fg-caption-desc,
.foogallery.fg-light.fg-preset.fg-steve .fg-caption-title,
.foogallery.fg-light.fg-preset.fg-steve .fg-caption-desc {
	background-color: #FFF;
	color: #333;
}
.foogallery.fg-light.fg-preset.fg-steve .fg-caption-desc {
	border-bottom-color: #FFF;
}
.foogallery.fg-dark.fg-preset.fg-steve .fg-caption-title,
.foogallery.fg-dark.fg-preset.fg-steve .fg-caption-desc {
	background-color: #555;
	color: #FFF;
}
.foogallery.fg-dark.fg-preset.fg-steve .fg-caption-desc {
	border-bottom-color: #555;
}

/* Inset Shadows */
.foogallery.fg-preset.fg-steve.fg-shadow-inset-small .fg-thumb:after,
.foogallery.fg-preset.fg-steve.fg-shadow-inset-medium .fg-thumb:after,
.foogallery.fg-preset.fg-steve.fg-shadow-inset-large .fg-thumb:after {
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: perspective(1000px) translate3d(0,0,0);
	transform: perspective(1000px) translate3d(0,0,0);
	opacity: 1;
}
.foogallery.fg-preset.fg-steve.fg-shadow-inset-small .fg-item-inner:hover .fg-thumb:after,
.foogallery.fg-preset.fg-steve.fg-shadow-inset-medium .fg-item-inner:hover .fg-thumb:after,
.foogallery.fg-preset.fg-steve.fg-shadow-inset-large .fg-item-inner:hover .fg-thumb:after,
.foogallery.fg-preset.fg-steve.fg-shadow-inset-small .fg-item-inner .fg-thumb:focus:after,
.foogallery.fg-preset.fg-steve.fg-shadow-inset-medium .fg-item-inner .fg-thumb:focus:after,
.foogallery.fg-preset.fg-steve.fg-shadow-inset-large .fg-item-inner .fg-thumb:focus:after {
	-webkit-transform: perspective(1000px) translate3d(0,0,21px);
	transform: perspective(1000px) translate3d(0,0,21px);
	opacity: 0;
}