/* Zoe */
.foogallery.fg-preset.fg-zoe .fg-image {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.foogallery.fg-preset.fg-zoe .fg-item-inner:hover .fg-image {
	-webkit-transform: translateY(-80px);
	transform: translateY(-80px);
}

.foogallery.fg-preset.fg-zoe .fg-caption-inner {
	position: absolute;
	top: 0;
	left: 0;
	border: solid 20px transparent;
	border-bottom-width: 100px;
	overflow: visible;
}

.foogallery.fg-preset.fg-zoe .fg-caption-title {
	position: absolute;
	width: 100%;
	bottom: -76px;
	-webkit-transform: translateY(200%);
	transform: translateY(200%);
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}
.foogallery.fg-preset.fg-zoe .fg-item-inner:hover .fg-caption-title {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.foogallery.fg-preset.fg-zoe .fg-caption-desc {
	position: absolute;
	left: 0;
	top: 50%;
	opacity: 0;
	-webkit-transform: translateY(-50%) translateY(100%);
	transform: translateY(-50%) translateY(100%);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
.foogallery.fg-preset.fg-zoe .fg-item-inner:hover .fg-caption-desc {
	opacity: 1;
	-webkit-transform: translateY(-50%) translateY(0);
	transform: translateY(-50%) translateY(0);
}

/* Themes */
.foogallery.fg-preset.fg-zoe .fg-caption-title,
.foogallery.fg-light.fg-preset.fg-zoe .fg-caption-title {
	color: #333;
}
.foogallery.fg-dark.fg-preset.fg-zoe .fg-caption-title {
	color: #FFF;
}

/* Inset Shadows */
.foogallery.fg-preset.fg-zoe.fg-shadow-inset-small .fg-thumb:after,
.foogallery.fg-preset.fg-zoe.fg-shadow-inset-medium .fg-thumb:after,
.foogallery.fg-preset.fg-zoe.fg-shadow-inset-large .fg-thumb:after {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.foogallery.fg-preset.fg-zoe.fg-shadow-inset-small .fg-item-inner:hover .fg-thumb:after,
.foogallery.fg-preset.fg-zoe.fg-shadow-inset-medium .fg-item-inner:hover .fg-thumb:after,
.foogallery.fg-preset.fg-zoe.fg-shadow-inset-large .fg-item-inner:hover .fg-thumb:after {
	-webkit-transform: translateY(-80px);
	transform: translateY(-80px);
}