/* Zoe */
.foogallery.fg-preset.fg-zoe .fg-thumb {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transition: transform 0.35s;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	background-color: #333;
}
.foogallery.fg-preset.fg-zoe .fg-item-inner:hover .fg-thumb,
.foogallery.fg-preset.fg-zoe .fg-item-inner:focus-within .fg-thumb {
	-webkit-transform: translateY(-40px);
	transform: translateY(-40px);
}
.foogallery.fg-preset.fg-zoe .fg-item-inner .fg-image {
	opacity: 1;
	transition: opacity .35s;
}
.foogallery.fg-preset.fg-zoe .fg-item-inner:focus-within .fg-image,
.foogallery.fg-preset.fg-zoe .fg-item-inner:hover .fg-image {
	opacity: .6;
}

.foogallery.fg-preset.fg-zoe .fg-caption-inner {
	position: absolute;
	top: 0;
	left: 0;
	gap: 0;
	padding: 0;
	clip-path: content-box;
	flex-direction: column-reverse;
	overflow: visible;
}

.foogallery.fg-preset.fg-zoe .fg-caption-title {
	position: relative;
	padding: 10px;
	clip-path: content-box;
	width: 100%;
	overflow: hidden;
	bottom: unset;
	margin: 0;
	transform: translateY(100%) translateY(10px);
	height: 40px;
	min-height: 40px;
	line-height: 20px;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	align-items: center;
	transition: transform 0.35s;
	text-shadow: none;
}
.foogallery.fg-preset.fg-zoe .fg-item-inner:hover .fg-caption-title,
.foogallery.fg-preset.fg-zoe .fg-item-inner:focus-within .fg-caption-title {
	transform: translateY(0);
}

.foogallery.fg-preset.fg-zoe .fg-caption-desc {
	position: relative;
	padding: 10px;
	clip-path: content-box;
	opacity: 0;
	width: 100%;
	transform: translateY(100%);
	line-height: 1.2;
	transition: opacity 0.35s, transform 0.35s;
}
.foogallery.fg-preset.fg-zoe .fg-item-inner:hover .fg-caption-desc,
.foogallery.fg-preset.fg-zoe .fg-item-inner:focus-within .fg-caption-desc {
	opacity: 1;
	transform: translateY(0);
}

/* Preset Sizes */
.foogallery.fg-preset.fg-preset-small.fg-zoe .fg-item-inner:hover .fg-thumb,
.foogallery.fg-preset.fg-preset-small.fg-zoe .fg-item-inner:focus-within .fg-thumb {
	-webkit-transform: translateY(-40px);
	transform: translateY(-40px);
}
.foogallery.fg-preset.fg-preset-small.fg-zoe .fg-caption-title {
	height: 40px;
	min-height: 40px;
	line-height: 20px;
}
.foogallery.fg-preset.fg-preset-small.fg-zoe .fg-item-inner:hover .fg-caption-title,
.foogallery.fg-preset.fg-preset-small.fg-zoe .fg-item-inner:focus-within .fg-caption-title {
	transform: translateY(0);
}
.foogallery.fg-preset.fg-preset-small.fg-zoe .fg-caption-desc {
	line-height: 1.2;
	padding: 10px;
}


.foogallery.fg-preset.fg-preset-medium.fg-zoe .fg-item-inner:hover .fg-thumb,
.foogallery.fg-preset.fg-preset-medium.fg-zoe .fg-item-inner:focus-within .fg-thumb {
	-webkit-transform: translateY(-60px);
	transform: translateY(-60px);
}
.foogallery.fg-preset.fg-preset-medium.fg-zoe .fg-caption-title {
	height: 60px;
	min-height: 60px;
	line-height: 40px;
}
.foogallery.fg-preset.fg-preset-medium.fg-zoe .fg-item-inner:hover .fg-caption-title,
.foogallery.fg-preset.fg-preset-medium.fg-zoe .fg-item-inner:focus-within .fg-caption-title {
	transform: translateY(0);
}
.foogallery.fg-preset.fg-preset-medium.fg-zoe .fg-caption-desc {
	line-height: 1.2;
	padding: 15px;
}


.foogallery.fg-preset.fg-preset-large.fg-zoe .fg-item-inner:hover .fg-thumb,
.foogallery.fg-preset.fg-preset-large.fg-zoe .fg-item-inner:focus-within .fg-thumb {
	-webkit-transform: translateY(-80px);
	transform: translateY(-80px);
}
.foogallery.fg-preset.fg-preset-large.fg-zoe .fg-caption-title {
	height: 80px;
	min-height: 80px;
	line-height: 60px;
}
.foogallery.fg-preset.fg-preset-large.fg-zoe .fg-item-inner:hover .fg-caption-title,
.foogallery.fg-preset.fg-preset-large.fg-zoe .fg-item-inner:focus-within .fg-caption-title {
	transform: translateY(0);
}
.foogallery.fg-preset.fg-preset-large.fg-zoe .fg-caption-desc {
	line-height: 1.3;
	padding: 20px;
}

/* Themes */
.foogallery.fg-preset.fg-zoe .fg-caption-title,
.foogallery.fg-light.fg-preset.fg-zoe .fg-caption-title {
	color: #333;
}
.foogallery.fg-dark.fg-preset.fg-zoe .fg-caption-title {
	color: #FFF;
}