/* Base Styles */
.fg-justified {
	box-sizing: border-box;
	position: relative;
}
.foogallery.fg-justified .fg-item,
.foogallery.fg-justified .fg-item-inner,
.foogallery.fg-justified .fg-thumb,
.foogallery.fg-justified .fg-image {
	box-sizing: border-box;
	display: block;
	margin: 0;
	padding: 0;
}
.fg-justified .fg-item {
	visibility: visible;
	position: relative;
}
.fg-justified .fg-item-inner {
	position: relative;
	width: 100%;
	height: 100%;
}
.fg-justified .fg-thumb {
	position: relative;
	overflow: hidden;
}
.fg-justified .fg-image {
	z-index: 1;
}
.fg-justified .fg-item.fg-positioned .fg-thumb,
.fg-justified .fg-item.fg-positioned .fg-image-wrap {
	width: 100%;
	height: 100%;
}
.fg-justified .fg-item.fg-positioned .fg-image {
	width: 100%;
	height: auto;
	min-height: 100%;
	top: 50%;
	transform: translateY(-50%);
}
.fg-justified.fg-hover-zoomed .fg-item.fg-positioned:hover .fg-image {
	transform: translateY(-50%) scale(1.15);
}

/* New CSS justified layout. */
.foogallery.fg-justified-css {
	position: relative;
	display: flex;
	box-sizing: border-box;
	align-items: center;
	justify-content: stretch;
	flex-wrap: wrap;
}
.foogallery.fg-justified-css:after {
	display: block;
	content: '';
	flex-shrink: 0;
	flex-grow: 10;
	min-width: 60px;
}
.foogallery.fg-justified-css .fg-item,
.foogallery.fg-justified-css .fg-item-inner,
.foogallery.fg-justified-css .fg-thumb,
.foogallery.fg-justified-css .fg-image {
	display: block;
}

.foogallery.fg-justified-css .fg-item {
	flex-shrink: 0;
	flex-grow: 1;
	margin: 5px;
}
.foogallery.fg-justified-css .fg-thumb {
	
}
.foogallery.fg-justified-css .fg-image-wrap {
	display: flex;
	align-items: center;
	justify-content: stretch;
	overflow: hidden;
	max-height: 150px;
}
.foogallery.fg-justified-css .fg-image {
	width: 100%;
	height: auto;
}