/* Base Styles */
.fg-justified {
	box-sizing: border-box;
	position: relative;
	text-align: center;
}
.foogallery.fg-justified .fg-item {
	box-sizing: border-box;
	display: inline-block;
	margin: 0;
	padding: 0;
}
.foogallery.fg-justified .fg-item-inner,
.foogallery.fg-justified .fg-thumb,
.foogallery.fg-justified .fg-image {
	box-sizing: border-box;
	display: block;
	margin: 0;
	padding: 0;
}
.fg-justified .fg-item {
	visibility: visible;
	position: relative;
}
.fg-justified .fg-item-inner {
	position: relative;
	width: 100%;
	height: 100%;
}
.fg-justified .fg-thumb {
	position: relative;
	overflow: hidden;
}
.fg-justified .fg-image {
	z-index: 1;
}
.fg-justified .fg-item.fg-positioned .fg-thumb,
.fg-justified .fg-item.fg-positioned .fg-image-wrap {
	width: 100%;
	height: 100%;
}
.fg-justified .fg-item.fg-positioned .fg-image {
	width: 100%!important;
	height: auto!important;
	min-height: 100%;
}