.fg-loading-bars .fg-loader,
.fg-loading-bars .fg-loader:before,
.fg-loading-bars .fg-loader:after {
    background: rgba(130, 130, 130, 1);
    width: 0.8em;
    height: 3.2em;
    animation: loading-bars 1s infinite paused ease-in-out;
}
.fg-loading-bars .fg-loading .fg-loader,
.fg-loading-bars .fg-loading .fg-loader:before,
.fg-loading-bars .fg-loading .fg-loader:after {
    animation-play-state: running;
}
.fg-loading-bars .fg-loader {
	color: rgba(130, 130, 130, 1);
	animation-delay: -0.16s;
}
.fg-loading-bars .fg-loader:before,
.fg-loading-bars .fg-loader:after {
	position: absolute;
	top: 0;
	content: '';
}
.fg-loading-bars .fg-loader:before {
	left: -1.2em;
	animation-delay: -0.32s;
}
.fg-loading-bars .fg-loader:after {
	left: 1.2em;
}
@keyframes loading-bars {
	0%,
	80%,
	100% {
		box-shadow: 0 0;
		height: 3.2em;
	}
	40% {
		box-shadow: 0 -1.6em;
		height: 4em;
	}
}