.fg-loading-default .fg-loader {
	border-radius: 50%;
	text-indent: -9999em;
	box-shadow: 0 -2.6em 0 0 rgba(130, 130, 130, 1),
	1.8em -1.8em 0 0 rgba(130, 130, 130, 0.2),
	2.5em 0 0 0 rgba(130, 130, 130, 0.2),
	1.75em 1.75em 0 0 rgba(130, 130, 130, 0.2),
	0 2.5em 0 0 rgba(130, 130, 130, 0.2),
	-1.8em 1.8em 0 0 rgba(130, 130, 130, 0.2),
	-2.6em 0 0 0 rgba(130, 130, 130, 0.5),
	-1.8em -1.8em 0 0 rgba(130, 130, 130, 0.7);
	-webkit-animation: loading-default 1.1s infinite paused steps(8, start);
	animation: loading-default 1.1s infinite paused steps(8, start);
}
.fg-loading-default .fg-loading .fg-loader {
	-webkit-animation-play-state: running;
	animation-play-state: running;
}

@-webkit-keyframes loading-default {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes loading-default {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}