.fg-loading-default .fg-loader {
    width: 1em;
    height: 1em;
	border-radius: 50%;
	box-shadow: 0 -2.6em 0 0 rgba(130, 130, 130, 1),
	1.8em -1.8em 0 0 rgba(130, 130, 130, 0.2),
	2.5em 0 0 0 rgba(130, 130, 130, 0.2),
	1.75em 1.75em 0 0 rgba(130, 130, 130, 0.2),
	0 2.5em 0 0 rgba(130, 130, 130, 0.2),
	-1.8em 1.8em 0 0 rgba(130, 130, 130, 0.2),
	-2.6em 0 0 0 rgba(130, 130, 130, 0.5),
	-1.8em -1.8em 0 0 rgba(130, 130, 130, 0.7);
	animation: loading-default 1.1s infinite paused steps(8, start);
}
.fg-loading-default .fg-loading .fg-loader {
	animation-play-state: running;
}
@keyframes loading-default {
	0% {
		transform: translateX(-50%) translateY(-50%) rotate(0deg);
	}
	100% {
		transform: translateX(-50%) translateY(-50%) rotate(360deg);
	}
}