.fg-loading-partial .fg-loader {
    border-radius: 50%;
    width: 6em;
    height: 6em;
	border-top: 0.88em solid rgba(130,130,130, 0.2);
	border-right: 0.88em solid rgba(130,130,130, 0.2);
	border-bottom: 0.88em solid rgba(130,130,130, 0.2);
	border-left: 0.88em solid #828282;
	animation: loading-partial 1.1s infinite paused linear;
}
.fg-loading-partial .fg-loading .fg-loader {
	animation-play-state: running;
}

@keyframes loading-partial {
	0% {
		transform: translateX(-50%) translateY(-50%) rotate(0deg);
	}
	100% {
		transform: translateX(-50%) translateY(-50%) rotate(360deg);
	}
}