.fg-loading-pulse .fg-loader,
.fg-loading-pulse .fg-loader:before,
.fg-loading-pulse .fg-loader:after {
	border-radius: 50%;
	width: 1.6em;
	height: 1.6em;
	animation: loading-pulse 1.8s infinite both paused ease-in-out;
}
.fg-loading-pulse .fg-loading .fg-loader,
.fg-loading-pulse .fg-loading .fg-loader:before,
.fg-loading-pulse .fg-loading .fg-loader:after {
	animation-play-state: running;
}

.fg-loading-pulse .fg-loader {
	color: #828282;
    margin-top: -1.6em;
	animation-delay: -0.16s;
}
.fg-loading-pulse .fg-loader:before,
.fg-loading-pulse .fg-loader:after {
	content: '';
	position: absolute;
	top: 0;
}
.fg-loading-pulse .fg-loader:before {
	left: -2.24em;
	animation-delay: -0.32s;
}
.fg-loading-pulse .fg-loader:after {
	left: 2.24em;
}

@keyframes loading-pulse {
	0%,
	80%,
	100% {
		box-shadow: 0 1.6em 0 -0.8em;
	}
	40% {
		box-shadow: 0 1.6em 0 0;
	}
}