div.fg-ribbon-7 {
    display: block;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    max-width: calc(100% + 4px);
    max-height: calc(100% + 4px);
    top: -2px;
    left: -2px;
    overflow: hidden;
}
.fg-ribbon-7:before, .fg-ribbon-7:after {
    content: "";
    position: absolute;
}
.fg-ribbon-7:before {
    height: 0;
    width: 0;
    bottom: 5em;
    left: 0;
    border-top: 2px solid #333;
    border-left: 2px solid transparent;
}
.fg-ribbon-7:after {
    height: 0;
    width: 0;
    right: 0;
    bottom: 5em;
    border-top: 2px solid #333;
    border-right: 2px solid transparent;
}
div.fg-ribbon-7 > span {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: absolute;
    height: 3em;
    line-height: 3em;
    background: #444;
    bottom: 2em;
    box-shadow: 0 10px 10px -12px rgba(0, 0, 0, 0.6);
    outline: 1px dashed #adadad;
    outline-offset: -3px;
    width: calc(100% + 6px);
    left: -3px;
}