div.fg-ribbon-4 {
    display: block;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    max-width: calc(100% + 4px);
    max-height: calc(100% + 4px);
    top: -2px;
    left: -2px;
    overflow: hidden;
}
.fg-ribbon-4:before, .fg-ribbon-4:after {
    content: "";
    position: absolute;
}
.fg-ribbon-4:before {
    height: 0;
    width: 0;
    top: 5em;
    left: 0;
    border-top: 2px solid #6c4f0b;
    border-left: 2px solid transparent;
}
.fg-ribbon-4:after {
    height: 0;
    width: 0;
    right: 0;
    top: 5em;
    border-top: 2px solid #6c4f0b;
    border-right: 2px solid transparent;
}
.fg-ribbon-4 > span {
    height: 3em;
    line-height: 3em;
    background: #cc8111;
    top: 2em;
    box-shadow: 0 10px 10px -12px rgba(0, 0, 0, 0.6);
    outline: 1px dashed;
    outline-offset: -3px;
    width: calc(100% + 6px);
    left: -3px;
}