<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Justified CSS</title>
    <link href="../assets/theme.css" rel="stylesheet" type="text/css">
    <script src="../assets/jquery.min.js" defer></script>
    <script src="../assets/theme.js" defer></script>
</head>
<body class="dark">
<header>
    <ul>
        <li><a href="../index.html">Templates</a></li>
        <li><h1>Justified CSS</h1></li>
    </ul>
</header>
<main><small><span class="recommended">*</span> Maximum recommended item and/or page counts for the template.</small></main>
</body>
</html>